Repository OliverBerger-ORBIS/ORBIS-Modellfabrik: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: '^\.gitignore$'

# isort entfernt - verursacht Import-Probleme
      # - id: isort
      #   name: isort
      #   entry: isort
      #   language: system
      #   types: [python]

      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]

      - id: pytest
        name: pytest
        entry: python -m pytest -q
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-project-structure
        name: validate-project-structure
        entry: python omf/scripts/validate_project_structure.py
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-dashboard-rules
        name: validate-dashboard-rules
        entry: python omf/scripts/validate_dashboard_rules.py --include-dashboard --loose
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-development-rules
        name: validate-development-rules
        entry: python omf/scripts/validate_development_rules.py
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-mermaid-diagrams
        name: validate-mermaid-diagrams
        entry: python tools/validate_mermaid_diagrams.py
        language: system
        files: \.md$
        pass_filenames: false
        stages: [commit]

      - id: check-st-rerun
        name: check-st-rerun
        entry: python omf/scripts/check_st_rerun.py
        language: system
        types: [python]
        stages: [commit]

      - id: check-mqtt-connection-loop
        name: check-mqtt-connection-loop
        entry: python omf/scripts/check_mqtt_connection_loop.py
        language: system
        types: [python]
        stages: [commit]

fix: Streamlit UI-Tests wieder aktiviert und robust gemacht
  tests/test_ccu_frontend_consumer.py
  tests/test_helper_apps/test_session_logger.py
  tests/test_helper_apps/test_session_manager_logging.py
  tests/test_omf2/conftest.py
  tests/test_omf2/test_ccu_message_monitor_filter.py
  tests/test_omf2/test_message_center_tab.py
  tests/test_omf2/test_message_monitor_subtab.py
  tests/test_omf2/test_registry_integration.py
  tests/test_omf2/test_st_rerun_forbidden.py
  tests/test_omf2/test_streamlit_dashboard.py
  tests/test_omf2/test_streamlit_startup.py
  tests/test_omf2/test_ui_components.py
  tests/test_omf2/test_ui_schema_integration.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

docs: plan.md aktualisiert - Task 3.x UI-Tests als abgeschlossen markiert
  plan.md
Due: validate-mermaid-diagrams

feat: Task 2.9 Registry vs. Mosquitto-Log Analyse
  docs/02-architecture/README.md
  docs/02-architecture/message-sending-architecture.md
  docs/03-decision-records/09-step-by-step-implementation-principle.md
  docs/03-decision-records/README.md
  docs/07-analysis/registry-mosquitto-log-analysis.md
  omf2/registry/topics/txt.yml
  plan.md
Due: validate-mermaid-diagrams

fix: Elegante Schema-Lösung für Node-RED Topics implementiert
  docs/07-analysis/registry-missing-topics-proposals.md
  omf2/registry/topics/ccu.yml
  omf2/registry/topics/fts.yml
  omf2/registry/topics/nodered.yml
  omf2/registry/topics/txt.yml
Due: validate-mermaid-diagrams

feat: Task 2.9-E Teilerfolg - CCU Overview korrigiert
  docs/07-analysis/task-2-9-e-live-test-plan.md
  docs/07-analysis/task-2-9-e-teilerfolg-ccu-overview-fix.md
  docs/07-analysis/task-2-9-e-test-results.json
  omf2/ccu/sensor_manager.py
  omf2/ccu/stock_manager.py
  omf2/config/logging_config.yml
  omf2/registry/manager/registry_manager.py
  omf2/registry/schemas/ccu_order_request.schema.json
  omf2/scripts/test_message_manager_integration.py
  omf2/ui/admin/admin_settings/topics_subtab.py
  omf2/ui/common/components/payload_generator.py
  omf2/ui/common/components/schema_tester.py
  omf2/ui/common/components/topic_selector.py
  plan.md
  tests/test_omf2/test_payload_integration.py
  tests/test_omf2/test_registry_tools.py
  tests/test_omf2/test_schema_integration.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

Task 2.4: Implement ccu_modules_details.py with performance optimization
  omf2/admin/admin_mqtt_client.py
  omf2/ccu/ccu_mqtt_client.py
  omf2/ui/admin/generic_steering/topic_steering_subtab.py
  omf2/ui/ccu/ccu_modules/ccu_modules_details.py
  omf2/ui/ccu/ccu_modules/ccu_modules_tab.py
  omf2/ui/ccu/ccu_overview/product_catalog_subtab.py
  omf2/ui/common/components/topic_selector.py
  plan.md
  tests/test_ccu_frontend_consumer.py
  tests/test_helper_apps/test_session_manager_logging.py
  tests/test_omf2/test_module_details_integration.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

Replace shopfloor_layout with fixed-aspect CSS grid; add tests and CI workflow
  .github/workflows/run-pytests.yml
  omf2/ui/ccu/common/shopfloor_layout.py
  tests/test_shopfloor_layout_click.py
  tests/test_shopfloor_layout_smoke.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Implement shopfloor assets structure and factory configuration UI
  omf2/assets/asset_manager.py
  omf2/config/ccu/shopfloor_layout.json
  omf2/ui/ccu/ccu_configuration/ccu_factory_configuration_subtab.py
  omf2/ui/ccu/common/shopfloor_layout.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

fix: Business functions subtab duplicate button IDs + sensors_display.yml updates
  .gitignore
  omf2/assets/asset_manager.py
  omf2/backend/api_refresh.py
  omf2/ccu/ccu_gateway.py
  omf2/config/business_functions_loader.py
  omf2/config/schemas/business_functions_schema.py
  omf2/registry/manager/registry_manager.py
  omf2/registry/sensors_display.yml
  omf2/ui/admin/admin_settings/gateway_subtab.py
  omf2/ui/ccu/ccu_configuration/ccu_factory_configuration_subtab.py
  omf2/ui/ccu/ccu_configuration/dashboard_business_functions_subtab.py
  omf2/ui/ccu/ccu_configuration/dashboard_gateway_configuration_subtab.py
  omf2/ui/ccu/ccu_orders/production_orders_subtab.py
  omf2/ui/ccu/ccu_orders/storage_orders_subtab.py
  omf2/ui/ccu/ccu_overview/sensor_data_subtab.py
  omf2/ui/ccu/ccu_sensordata_subtab.py
  omf2/ui/ccu/common/route_utils.py
  omf2/ui/ccu/common/shopfloor_layout.py
  omf2/ui/ccu/sensors_display_utils.py
  omf2/ui/common/refresh_polling.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Add additional Flaticon SVG icons to omf2-refactoring
  omf2/assets/flaticon/bohren.svg
  omf2/assets/flaticon/bohrer.svg
  omf2/assets/flaticon/dezentral.svg
  omf2/assets/flaticon/dezentral_1.svg
  omf2/assets/flaticon/zentral.svg
  omf2/assets/flaticon/zentral_1.svg
Due: none

fix: Resolve SVG display issues in inventory subtab
  omf2/ui/ccu/ccu_overview/inventory_subtab.py
  omf2/ui/common/product_rendering.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Add heading icons and reorganize SVG assets
  omf2/assets/asset_manager.py
  omf2/assets/headings/automatisierung.svg
  omf2/assets/headings/bohren.svg
  omf2/assets/headings/box.svg
  omf2/assets/headings/dezentral.svg
  omf2/assets/headings/dezentral_1.svg
  omf2/assets/headings/diagramm.svg
  omf2/assets/headings/etikett.svg
  omf2/assets/headings/gang.svg
  omf2/assets/headings/grundriss.svg
  omf2/assets/headings/kontrollzentrum.svg
  omf2/assets/headings/ladung.svg
  omf2/assets/headings/lieferung-bestellen.svg
  omf2/assets/headings/log.svg
  omf2/assets/headings/maschine.svg
  omf2/assets/headings/mehrere.svg
  omf2/assets/headings/milling-machine.svg
  omf2/assets/headings/router_1.svg
  omf2/assets/headings/satellitenschussel.svg
  omf2/assets/headings/senden.svg
  omf2/assets/headings/system.svg
  omf2/assets/headings/unterstutzung.svg
  omf2/assets/headings/visualisierung.svg
  omf2/assets/headings/zentral.svg
  omf2/assets/headings/zentral_1.svg
  omf2/assets/svgs/bohrer.svg
  omf2/ui/ccu/ccu_overview/purchase_order_subtab.py
  tests/test_omf2/test_ccu_config_loader.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Implement heading icons registry system
  omf2/assets/asset_manager.py
  omf2/assets/heading_icons.py
  omf2/scripts/check_heading_svgs.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

Extract heading icons mapping to omf2/assets/heading_icons.py and import in asset_manager
  omf2/assets/heading_icons.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

BACKUP: Vor Entfernung redundanter Elemente - Sensor Display aktueller Stand
  omf2/ccu/sensor_manager.py
  omf2/config/translations/de/ccu_overview.yml
  omf2/config/translations/en/ccu_overview.yml
  omf2/config/translations/fr/ccu_overview.yml
  omf2/registry/sensors_display.yml
  omf2/ui/ccu/ccu_overview/sensor_data_subtab.py
  omf2/ui/ccu/sensors_display_utils.py
  tests/test_omf2/test_aq_display.py
  tests/test_omf2/test_brightness_normalization.py
  tests/test_omf2/test_sensor_data_camera.py
  tests/test_omf2/test_sensor_data_camera_simple.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Sensor UI Finalisierung - Zentrierung, Lichtstärke-Gauge, Kamera-Metadaten
  omf2/ui/ccu/ccu_overview/sensor_data_subtab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Integrate Customer Orders and Purchase Orders into Inventory subtab
  omf2/ccu/order_manager.py
  omf2/ccu/stock_manager.py
  omf2/ui/ccu/ccu_orders/production_orders_subtab.py
  omf2/ui/ccu/ccu_overview/ccu_overview_tab.py
  omf2/ui/ccu/ccu_overview/inventory_subtab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

fix: Update HBW and DPS default regions to include compound positions
  data/omf-data/test_topics/README.md
  data/omf-data/test_topics/order_blue_via_txt.json
  data/omf-data/test_topics/order_red_via_txt.json
  data/omf-data/test_topics/order_white_direct_ccu.json
  data/omf-data/test_topics/order_white_via_txt.json
  docs/07-analysis/DOCUMENTATION_REVIEW_INTEGRATION_DOCS.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_ANALYSIS.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_COMPLETE.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_STATUS.md
  docs/archive/analysis/aps-mqtt-logs/README.md
  omf2/assets/asset_manager.py
  omf2/ccu/ccu_gateway.py
  omf2/ccu/stock_manager.py
  omf2/config/ccu/shopfloor_display.py
  omf2/config/ccu/shopfloor_layout.json
  omf2/ui/ccu/ccu_configuration/ccu_factory_configuration_subtab.py
  omf2/ui/ccu/ccu_overview/inventory_subtab.py
  omf2/ui/ccu/common/shopfloor_layout.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

revert: Restore working shopfloor_layout version from commit 5a89582
  omf2/config/ccu/shopfloor_layout.json
  tests/test_omf2/test_shopfloor_display.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Improve intersection visibility and inventory layout
  omf2/assets/svgs/intersection1.svg
  omf2/assets/svgs/intersection2.svg
  omf2/assets/svgs/intersection3.svg
  omf2/assets/svgs/intersection4.svg
  omf2/ui/ccu/ccu_overview/inventory_subtab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat(ui): module SVG consistency; admin tables (stations/txt); message monitor SVG; TXT serial mapping; tests compat; FTS icon; format+lint
  docs/04-howto/README.md
  docs/04-howto/development/module-icons-usage-guide.md
  docs/README.md
  docs/SVG_ICONS_USAGE_GUIDE.md
  omf2/assets/asset_manager.py
  omf2/assets/svgs/robotic.svg
  omf2/registry/manager/registry_manager.py
  omf2/registry/txt_controllers.yml
  omf2/ui/admin/admin_settings/module_subtab.py
  omf2/ui/admin/admin_settings/stations_subtab.py
  omf2/ui/admin/admin_settings/txt_controllers_subtab.py
  omf2/ui/ccu/ccu_message_monitor/ccu_message_monitor_component.py
  omf2/ui/ccu/ccu_modules/ccu_modules_details.py
  omf2/ui/ccu/ccu_modules/ccu_modules_tab.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat(ui,docs): consistent SVG usage (headings + order steps) and guidance
  docs/03-decision-records/07-development-rules-compliance.md
  docs/04-howto/development/svg-icons-usage-guide.md
  docs/04-howto/testing/testing-strategy.md
  docs/SVG_ICONS_USAGE_GUIDE.md
  omf2/assets/asset_manager.py
  omf2/assets/backup/ic_ft_fts.svg
  omf2/assets/svgs/robotic_24_rescaled.svg
  omf2/ui/ccu/ccu_orders/ccu_orders_tab.py
  omf2/ui/ccu/ccu_orders/production_orders_subtab.py
  omf2/ui/ccu/ccu_orders/storage_orders_subtab.py
  tests/test_omf2/test_asset_manager.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat(tests): align CCU plan and brightness tests with new UI/logic
  data/omf-data/test_topics/README.md
  data/omf-data/test_topics/order_blue_via_txt.json
  data/omf-data/test_topics/order_red_via_txt.json
  data/omf-data/test_topics/order_white_direct_ccu.json
  data/omf-data/test_topics/order_white_via_txt.json
  docs/07-analysis/DOCUMENTATION_REVIEW_INTEGRATION_DOCS.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_ANALYSIS.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_COMPLETE.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_STATUS.md
  docs/archive/analysis/aps-mqtt-logs/README.md
  omf2/ui/ccu/ccu_process/ccu_process_tab.py
  omf2/ui/ccu/ccu_process/ccu_production_plan_subtab.py
  tests/test_omf2/test_ccu_production_plan_subtab.py
  tests/test_sensors_display_utils.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: SVG icons for headings and shopfloor layout improvements
  omf2/assets/asset_manager.py
  omf2/assets/heading_icons.py
  omf2/ui/admin/generic_steering/generic_steering_tab.py
  omf2/ui/admin/message_center/message_center_tab.py
  omf2/ui/admin/system_logs/system_logs_tab.py
  omf2/ui/ccu/ccu_configuration/ccu_configuration_tab.py
  omf2/ui/ccu/ccu_configuration/ccu_factory_configuration_subtab.py
  omf2/ui/ccu/ccu_configuration/ccu_parameter_configuration_subtab.py
  omf2/ui/ccu/ccu_message_monitor/ccu_message_monitor_component.py
  omf2/ui/ccu/common/shopfloor_layout.py
  tests/test_omf2/test_asset_manager.py
  tests/test_omf2/test_ccu_parameter_configuration_subtab.py
  tests/test_omf2/test_shopfloor_layout_events.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

refactor: remove deprecated methods and replace with canonical alternatives
  omf2/assets/asset_manager.py
  omf2/ccu/order_manager.py
  omf2/common/logging_config.py
  omf2/ui/ccu/ccu_orders/production_orders_subtab.py
  omf2/ui/ccu/common/shopfloor_layout.py
  tests/test_ccu_frontend_consumer.py
  tests/test_omf2/test_production_order_gui_integration.py
  tests/test_omf2/test_production_plan_integration.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

chore(registry): switch products.yml to English names/material/descriptions
  omf2/registry/products.yml
Due: none

feat(overview:sensor): add camera placeholder asset and remove non-implemented controls; fix refresh usage
  omf2/assets/asset_manager.py
  omf2/assets/svgs/camera-placeholder.svg
  omf2/ui/ccu/ccu_overview/sensor_data_subtab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

style: apply Black/Ruff auto-fixes across repo; chore: add new heading SVGs
  omf2/assets/heading_icons.py
  omf2/assets/headings/question.svg
  omf2/assets/headings/smart.svg
  omf2/assets/headings/warehouse.svg
  omf2/assets/svgs/router.svg
  omf2/assets/svgs/wifi.svg
  omf2/config/translations/de/ccu_overview.yml
  omf2/config/translations/en/ccu_overview.yml
  omf2/config/translations/fr/ccu_overview.yml
  omf2/ui/ccu/ccu_overview/customer_order_subtab.py
  omf2/ui/ccu/ccu_overview/inventory_subtab.py
  omf2/ui/ccu/ccu_overview/product_catalog_subtab.py
  tests/test_omf2/test_aq_display.py
  tests/test_omf2/test_asset_manager.py
  tests/test_omf2/test_brightness_normalization.py
  tests/test_omf2/test_ccu_parameter_configuration_subtab.py
  tests/test_omf2/test_message_center_tab.py
  tests/test_omf2/test_message_monitor_subtab.py
  tests/test_omf2/test_registry_integration.py
  tests/test_omf2/test_sensor_data_camera.py
  tests/test_omf2/test_sensor_data_camera_simple.py
  tests/test_omf2/test_shopfloor_display.py
  tests/test_omf2/test_st_rerun_forbidden.py
  tests/test_omf2/test_streamlit_startup.py
  tests/test_omf2/test_ui_components.py
  tests/test_omf2/test_ui_schema_integration.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

chore(ui:symbols): format TAB_ICONS per Black
  omf2/ui/common/symbols.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat(ui:tabs): use centralized UISymbols TAB_ICONS for tab and subtab labels across CCU tabs; add business_functions icon
  omf2/ui/ccu/ccu_configuration/ccu_configuration_tab.py
  omf2/ui/ccu/ccu_orders/ccu_orders_tab.py
  omf2/ui/ccu/ccu_overview/ccu_overview_tab.py
  omf2/ui/common/symbols.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat(admin:icons): add Admin Settings subtab icons to TAB_ICONS and unify admin tabs to use central icons; format symbols.py
  omf2/ui/admin/admin_settings/admin_settings_tab.py
  omf2/ui/admin/generic_steering/generic_steering_tab.py
  omf2/ui/admin/message_center/message_center_tab.py
  omf2/ui/common/symbols.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

chore(ui:symbols): align TAB_ICONS order with main_dashboard and format
  omf2/ui/common/symbols.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

docs(ui-symbols): add centralized UI Symbols guide; archive legacy icon guides; update docs index
  docs/04-howto/README.md
  docs/04-howto/ui_symbols.md
  docs/README.md
  docs/archive/04-howto_omf_legacy/module-icons-usage-guide.md
  docs/archive/04-howto_omf_legacy/svg-icons-usage-guide.md
  docs/archive/SVG_ICONS_USAGE_GUIDE.md
  omf2/ui/admin/system_logs/system_logs_tab.py
  omf2/ui/common/symbols.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat(process): finalize Process tab i18n and UX tweaks; compact arrows and margins; dropdown from registry
  omf2/common/i18n.py
  omf2/config/translations/de/ccu_orders.yml
  omf2/config/translations/de/ccu_process.yml
  omf2/config/translations/en/ccu_orders.yml
  omf2/config/translations/en/ccu_process.yml
  omf2/config/translations/fr/ccu_orders.yml
  omf2/config/translations/fr/ccu_overview.yml
  omf2/config/translations/fr/ccu_process.yml
  omf2/ui/ccu/ccu_orders/ccu_orders_tab.py
  omf2/ui/ccu/ccu_orders/production_orders_subtab.py
  omf2/ui/ccu/ccu_orders/storage_orders_subtab.py
  omf2/ui/ccu/ccu_process/ccu_production_plan_subtab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

fix(configuration): remove duplicate subtab icons; add i18n click hint in Factory Configuration
  omf2/config/translations/de/ccu_configuration.yml
  omf2/config/translations/en/ccu_configuration.yml
  omf2/config/translations/fr/ccu_configuration.yml
  omf2/ui/ccu/ccu_configuration/ccu_factory_configuration_subtab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat(configuration): full i18n for Parameter Configuration; robust fallbacks for tests/mocks
  omf2/config/translations/de/ccu_configuration.yml
  omf2/config/translations/en/ccu_configuration.yml
  omf2/config/translations/fr/ccu_configuration.yml
  omf2/ui/ccu/ccu_configuration/ccu_parameter_configuration_subtab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop
