Repository OliverBerger-ORBIS/ORBIS-Modellfabrik: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, validate-mermaid-diagrams

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Pre-commit hooks for OSF (Angular) and Session Manager (Python)

repos:
  # Angular/TypeScript Validation
  - repo: local
    hooks:
      # OSF Tests (CRITICAL - produktiver Code)
      - id: nx-test-osf
        name: OSF Tests
        entry: bash -c 'npx nx test osf-ui && npx nx test mqtt-client'
        language: system
        pass_filenames: false
        stages: [pre-commit]
        description: Run OSF tests (osf-ui, mqtt-client)

      # TypeScript/ESLint Linting
      - id: nx-lint-osf
        name: OSF Lint
        entry: npx nx lint osf-ui
        language: system
        pass_filenames: false
        stages: [pre-commit]
        description: Run ESLint on OSF Angular code

      # TypeScript Type Check (via tsc - non-blocking)
      - id: nx-type-check
        name: TypeScript Type Check
        entry: bash -c 'cd osf/apps/osf-ui && npx tsc --noEmit' || true
        language: system
        pass_filenames: false
        stages: [pre-commit]
        description: TypeScript type checking (non-blocking, ESLint catches most issues)

  # Python Validation (Session Manager only)
  - repo: local
    hooks:
      # Black Formatting (Session Manager)
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        files: ^(session_manager/|scripts/).*\.py$
        description: Format Python code (Session Manager, scripts)

      # Ruff Linting (Session Manager)
      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]
        files: ^(session_manager/|scripts/).*\.py$
        description: Lint Python code (Session Manager, scripts)

  # Documentation Validation
  - repo: local
    hooks:
      # Mermaid Diagram Validation
      - id: validate-mermaid-diagrams
        name: validate-mermaid-diagrams
        entry: python tools/validate_mermaid_diagrams.py
        language: system
        files: \.md$
        pass_filenames: false
        stages: [pre-commit]
        description: Validate Mermaid diagrams in documentation

feat(osf-ui): align DSP functional story with OCC defaults
  docs/03-decision-records/27-dsp-functional-story-and-customer-defaults.md
  docs/03-decision-records/README.md
  docs/sprints/sprint_21.md
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/DSP_Architecture_Objects_Reference.md
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/HOWTO_ADD_CUSTOMER.md
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/assets/dsp-architecture-functional-view.svg
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/ecme/ecme-config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/fmf/fmf-config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/logimat/logimat-config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/osf/osf-occ-2026-config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/types.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.label-wrapping.spec.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.component.config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.deployment.config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.functional.config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.functional.story-order.spec.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.occ-bp-lane.spec.ts
  osf/apps/osf-ui/src/app/components/dsp-architecture/dsp-architecture.component.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  package.json
  scripts/add-missing-translations.mjs
  scripts/generate-dsp-svg-diagrams.ts
Due: validate-mermaid-diagrams

fix(osf-ui): update CRM external link and settings section
  CHANGELOG.md
  osf/apps/osf-ui/public/assets/config/external-links.json
  osf/apps/osf-ui/src/app/services/__tests__/external-links.service.spec.ts
  osf/apps/osf-ui/src/app/services/external-links.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/configuration-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/settings-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/settings-tab.component.ts
Due: validate-mermaid-diagrams

docs(presentation): standardize FancyZones + OBS camera setup
  docs/01-strategy/roadmap.md
  docs/04-howto/presentation/obs-video-presentation-setup.md
  docs/sprints/sprint_21.md
Due: validate-mermaid-diagrams

feat(osf-ui): stabilize track-trace timeline and event semantics
  docs/sprints/sprint_21.md
  osf/apps/osf-ui/src/app/components/track-trace/__tests__/track-trace.component.spec.ts
  osf/apps/osf-ui/src/app/components/track-trace/track-trace.component.html
  osf/apps/osf-ui/src/app/components/track-trace/track-trace.component.scss
  osf/apps/osf-ui/src/app/components/track-trace/track-trace.component.ts
  osf/apps/osf-ui/src/app/services/__tests__/workpiece-history.service.spec.ts
  osf/apps/osf-ui/src/app/services/workpiece-history.service.ts
Due: validate-mermaid-diagrams

docs(integrations): consolidate APS-CCU docs to canonical source
  .cursorrules
  docs/06-integrations/fischertechnik-official/01-introduction.md
  docs/06-integrations/fischertechnik-official/02-architecture.md
  docs/06-integrations/fischertechnik-official/03-ui-integration.md
  docs/06-integrations/fischertechnik-official/04-opcua-relationship.md
  docs/06-integrations/fischertechnik-official/05-message-structure.md
  docs/06-integrations/fischertechnik-official/06-modules.md
  docs/06-integrations/fischertechnik-official/06-modules/agv.md
  docs/06-integrations/fischertechnik-official/06-modules/aiqs.md
  docs/06-integrations/fischertechnik-official/06-modules/cgw.md
  docs/06-integrations/fischertechnik-official/06-modules/dps.md
  docs/06-integrations/fischertechnik-official/06-modules/drill.md
  docs/06-integrations/fischertechnik-official/06-modules/hbw.md
  docs/06-integrations/fischertechnik-official/06-modules/mill.md
  docs/06-integrations/fischertechnik-official/06-modules/oven.md
  docs/06-integrations/fischertechnik-official/07-calibration.md
  docs/06-integrations/fischertechnik-official/08-manual-intervention.md
  docs/06-integrations/fischertechnik-official/09-tools-and-testing.md
  docs/06-integrations/fischertechnik-official/10-scenario-examples.md
  docs/06-integrations/fischertechnik-official/11-appendices.md
  docs/06-integrations/fischertechnik-official/README.md
  docs/06-integrations/fischertechnik-official/SOURCE.md
  integrations/APS-CCU/docs/08-manual-intervention.md
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/HOWTO_ADD_CUSTOMER.md
Due: validate-mermaid-diagrams

feat(osf-ui): honor product deep-link context in order tab
  docs/sprints/sprint_21.md
  osf/apps/osf-ui/src/app/tabs/__tests__/order-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/order-tab.component.html
  osf/apps/osf-ui/src/app/tabs/order-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/order-tab.component.ts
Due: validate-mermaid-diagrams

fix(osf-ui): default replay MQTT host to localhost in local dev
  osf/apps/osf-ui/src/app/services/environment.service.ts
  osf/apps/osf-ui/src/environments/__tests__/mqtt-user.defaults.spec.ts
  osf/apps/osf-ui/src/environments/mqtt-user.defaults.ts
Due: none

feat(edge-persistence): add live/replay runtime profiles and replay safeguards
  docs/02-architecture/edge-persistence-stack-diagrams.md
  docs/03-decision-records/28-edge-persistence-stack-and-metrics-model.md
  docs/04-howto/helper_apps/session-manager/replay-station.md
  docs/sprints/sprint_21.md
  osf-edge-persistence/.env.example
  osf-edge-persistence/.gitignore
  osf-edge-persistence/README.md
  osf-edge-persistence/db/init/001_schema.sql
  osf-edge-persistence/db/init/002_indexes.sql
  osf-edge-persistence/db/init/003_timescale.sql
  osf-edge-persistence/db/init/004_retention.sql
  osf-edge-persistence/docker-compose.yml
  osf-edge-persistence/env.live
  osf-edge-persistence/env.replay
  osf-edge-persistence/grafana/dashboards/module-fts-state.json
  osf-edge-persistence/grafana/dashboards/orders.json
  osf-edge-persistence/grafana/dashboards/sensor-snapshots-debug.json
  osf-edge-persistence/grafana/dashboards/sensor-snapshots.json
  osf-edge-persistence/grafana/dashboards/system-status.json
  osf-edge-persistence/grafana/dashboards/workpiece-trace.json
  osf-edge-persistence/grafana/provisioning/dashboards/dashboards.yml
  osf-edge-persistence/grafana/provisioning/datasources/datasource.yml
  osf-edge-persistence/services/persistence-service/Dockerfile
  osf-edge-persistence/services/persistence-service/package-lock.json
  osf-edge-persistence/services/persistence-service/package.json
  osf-edge-persistence/services/persistence-service/src/__tests__/normalizer.spec.ts
  osf-edge-persistence/services/persistence-service/src/__tests__/sensorPolicy.spec.ts
  osf-edge-persistence/services/persistence-service/src/config.ts
  osf-edge-persistence/services/persistence-service/src/db.ts
  osf-edge-persistence/services/persistence-service/src/index.ts
  osf-edge-persistence/services/persistence-service/src/logger.ts
  osf-edge-persistence/services/persistence-service/src/normalizer.ts
  osf-edge-persistence/services/persistence-service/src/sensorPolicy.ts
  osf-edge-persistence/services/persistence-service/src/topics.ts
  osf-edge-persistence/services/persistence-service/src/types.ts
  osf-edge-persistence/services/persistence-service/src/utils.ts
  osf-edge-persistence/services/persistence-service/tsconfig.json
  scripts/mqtt-single-instance-check.sh
  session_manager/components/replay_station.py
Due: black, ruff, validate-mermaid-diagrams

feat(session-manager): release v1.4.0 with unified replay/record flows
  docs/04-howto/helper_apps/session-manager/README.md
  docs/04-howto/helper_apps/session-manager/replay-station.md
  session_manager/README.md
  session_manager/__init__.py
  session_manager/app.py
  session_manager/components/replay_station.py
  session_manager/components/session_recorder.py
  session_manager/components/settings_manager.py
  session_manager/tests/test_recording_topic_filter.py
  session_manager/utils/recording_topic_filter.py
Due: black, ruff, validate-mermaid-diagrams

docs(versioning): add namespaced session-manager tag convention
  VERSIONING.md
  docs/sprints/sprint_21.md
Due: validate-mermaid-diagrams

docs(edge-persistence): capture synthetic replay baseline artifacts
  data/osf-data/sessions/INVENTORY.md
  data/osf-data/sessions/synthetic-arduino-sensors_20260508_091000.log
  docs/03-decision-records/README.md
  docs/06-integrations/metrics-service-node-ts.md
Due: validate-mermaid-diagrams

docs(edge-persistence): define live vs replay mode policy
  docs/04-howto/helper_apps/session-manager/replay-station.md
  osf-edge-persistence/README.md
Due: validate-mermaid-diagrams

docs(ccu): add Fischertechnik handoff and separate mail attachments
  docs/07-analysis/anhang-mail-1-requestid-korrelation.md
  docs/07-analysis/anhang-mail-2-quality-fail-konfigurierbar.md
  docs/07-analysis/ccu-aenderungen-fuer-fischertechnik-2026-05.md
Due: validate-mermaid-diagrams

refactor(session-manager): remove legacy analyzers/logging and stabilize linting
  .pylintrc
  .vscode/settings.json
  docs/04-howto/testing/testing-strategy.md
  docs/07-analysis/production-order-analysis-results.md
  pyproject.toml
  pyrightconfig.json
  scripts/analyze_session_fts_positions.py
  session_manager/README.md
  session_manager/components/__init__.py
  session_manager/components/auftrag_rot_analyzer.py
  session_manager/components/order_analyzer.py
  session_manager/components/replay_station.py
  session_manager/components/settings_manager.py
  session_manager/components/settings_ui.py
  session_manager/mqtt/mqtt_client.py
  session_manager/mqtt_client.py
  session_manager/simple_mqtt_client.py
  session_manager/tests/test_session_logger.py
  session_manager/tests/test_session_manager_logging.py
  session_manager/utils/__init__.py
  session_manager/utils/logging_config.py
  session_manager/utils/session_logger.py
Due: black, ruff, validate-mermaid-diagrams

fix(scripts): make Nx env vars cross-platform
  package-lock.json
  package.json
Due: none

chore(python): stabilize lint and diagnostics config
  .pylintrc
  .vscode/settings.json
  pyproject.toml
  pyrightconfig.json
  session_manager/components/replay_station.py
  session_manager/components/session_recorder.py
  session_manager/components/settings_ui.py
  session_manager/utils/utc_iso_timestamp.py
Due: black, ruff

fix(osf-ui): clean serve warnings and optimize deps
  osf/apps/osf-ui/src/app/components/module-details-sidebar/module-details-sidebar.component.ts
  osf/apps/osf-ui/src/app/components/track-trace/track-trace.component.html
  osf/apps/osf-ui/src/app/tabs/message-monitor-tab.component.ts
  osf/apps/osf-ui/src/styles.scss
  package-lock.json
  package.json
Due: none

feat(osf-ui): formalize test tiering and add pilot automation
  docs/04-howto/testing/testing-strategy.md
  docs/sprints/sprint_21.md
  docs/sprints/sprints_README.md
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.spec.ts
  osf/apps/osf-ui/src/app/pages/use-cases/process-optimization/uc-06-svg-generator.service.spec.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/agv-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/order-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/process-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/shopfloor-tab.component.spec.ts
Due: validate-mermaid-diagrams

chore(release): bump osf-ui version to 1.1.6
  VERSION
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: none

docs: capture ORBIS live validation outcomes and handoff
  data/osf-data/sessions/INVENTORY.md
  data/osf-data/sessions/version1.1.6-test2_20260511_141131.log
  data/osf-data/sessions/version1.1.6_20260511_134733.log
  docs/04-howto/deployment/rpi-deployment.md
  docs/04-howto/deployment/rpi-docker-update-anleitung.md
  docs/sprints/sprint_21.md
  docs/sprints/sprints_README.md
Due: validate-mermaid-diagrams

test(config): add runtime mode guards and replay preflight checks
  osf-edge-persistence/services/persistence-service/src/__tests__/config.spec.ts
  osf/apps/osf-ui/project.json
  osf/apps/osf-ui/src/environments/version.ts
  session_manager/session_manager_settings.json
  session_manager/tests/test_replay_station_preflight.py
Due: black, ruff

feat(ccu): harden quality-fail recovery and prepare osf.3 retest
  data/osf-data/sessions/INVENTORY.md
  data/osf-data/sessions/production-blue-agv1-clean_20260512_105826.log
  data/osf-data/sessions/production-blue-agv2-clean_20260512_113429.log
  data/osf-data/sessions/production-red-agv2-clean_20260512_104826.log
  data/osf-data/sessions/production-red-agv2-clean_20260512_112033.log
  data/osf-data/sessions/production-rw-agv2-b-agv1_20260512_125623.log
  data/osf-data/sessions/production-wb-agv1-r-agv2_20260512_120106.log
  data/osf-data/sessions/production-wb-agv2-r-agv1-clean_20260512_121518.log
  data/osf-data/sessions/production-white-agv1-clean_20260512_112936.log
  data/osf-data/sessions/production-white-agv1-nok-clean_20260512_105322.log
  data/osf-data/sessions/production-wr-agv1-b-agv2_20260512_123508.log
  data/osf-data/sessions/production-wr-agv1-b-agv2_20260512_135956.log
  data/osf-data/sessions/production-wr-agv2-b-agv1_20260512_141431.log
  data/osf-data/sessions/startup-clean_20260512_102831.log
  data/osf-data/sessions/startup-referenz_20260512_102037.log
  data/osf-data/sessions/storage-blue-agv2-clean_20260512_104111.log
  data/osf-data/sessions/storage-rbw_20260512_122437.log
  data/osf-data/sessions/storage-rbw_20260512_124845.log
  data/osf-data/sessions/storage-rbw_20260512_130304.log
  data/osf-data/sessions/storage-red-agv2-clean_20260512_103526.log
  data/osf-data/sessions/storage-rwb-clean_20260512_115152.log
  data/osf-data/sessions/storage-wbr_20260512_140621.log
  data/osf-data/sessions/storage-white-agv2-clean_20260512_103825.log
  data/osf-data/sessions/storage-wrb-clean_20260512_120639.log
  docs/07-analysis/ccu-aenderungen-fuer-fischertechnik-2026-05.md
  docs/07-analysis/intermittent-quality-fail-runbook-template.md
  docs/07-analysis/orbis-ccu-osf3-deploy-and-retest-checklist-2026-05.md
  integrations/APS-CCU/OSF-MODIFICATIONS.md
  integrations/APS-CCU/central-control/package.json
  integrations/APS-CCU/central-control/src/modules/fts/navigation/navigation.test.ts
  integrations/APS-CCU/central-control/src/modules/fts/navigation/navigation.ts
  integrations/APS-CCU/central-control/src/modules/order/management/order-management.test.ts
  integrations/APS-CCU/central-control/src/modules/order/management/order-management.ts
  integrations/APS-CCU/package.json
Due: validate-mermaid-diagrams

feat(session-recorder): persist CCU version metadata for sessions
  data/osf-data/sessions/README.md
  data/osf-data/sessions/production-blue-agv1-clean_20260512_105826.log
  data/osf-data/sessions/production-blue-agv2-clean_20260512_113429.log
  data/osf-data/sessions/production-red-agv2-clean_20260512_104826.log
  data/osf-data/sessions/production-red-agv2-clean_20260512_112033.log
  data/osf-data/sessions/production-rw-agv2-b-agv1_20260512_125623.log
  data/osf-data/sessions/production-wb-agv1-r-agv2_20260512_120106.log
  data/osf-data/sessions/production-wb-agv2-r-agv1-clean_20260512_121518.log
  data/osf-data/sessions/production-white-agv1-clean_20260512_112936.log
  data/osf-data/sessions/production-white-agv1-nok-clean_20260512_105322.log
  data/osf-data/sessions/production-wr-agv1-b-agv2_20260512_123508.log
  data/osf-data/sessions/production-wr-agv1-b-agv2_20260512_135956.log
  data/osf-data/sessions/production-wr-agv2-b-agv1_20260512_141431.log
  data/osf-data/sessions/startup-clean_20260512_102831.log
  data/osf-data/sessions/startup-referenz_20260512_102037.log
  data/osf-data/sessions/storage-blue-agv2-clean_20260512_104111.log
  data/osf-data/sessions/storage-rbw_20260512_122437.log
  data/osf-data/sessions/storage-rbw_20260512_124845.log
  data/osf-data/sessions/storage-rbw_20260512_130304.log
  data/osf-data/sessions/storage-red-agv2-clean_20260512_103526.log
  data/osf-data/sessions/storage-rwb-clean_20260512_115152.log
  data/osf-data/sessions/storage-wbr_20260512_140621.log
  data/osf-data/sessions/storage-white-agv2-clean_20260512_103825.log
  data/osf-data/sessions/storage-wrb-clean_20260512_120639.log
  data/osf-data/sessions/synthetic-arduino-sensors_20260508_091000.log
  data/osf-data/sessions/version1.1.6-test2_20260511_141131.log
  data/osf-data/sessions/version1.1.6_20260511_134733.log
  docs/04-howto/helper_apps/session-manager/session-recorder.md
  scripts/check_session_inventory.py
  session_manager/__init__.py
  session_manager/components/session_recorder.py
  session_manager/tests/test_session_meta_line.py
  session_manager/utils/session_meta_line.py
Due: black, ruff, validate-mermaid-diagrams

fix(ccu): isolate red quality-fail handling and verify osf.4
  data/osf-data/sessions/INVENTORY.md
  data/osf-data/sessions/production-wr-agv1-b-agv2-clean_20260513_121714.log
  data/osf-data/sessions/production-wr-agv1-b-agv2-clean_20260513_140925.log
  data/osf-data/sessions/production-wr-agv1-b-agv2-clean_20260513_142311.log
  data/osf-data/sessions/production-wr-agv2-b-agv1-clean_20260513_123633.log
  data/osf-data/sessions/production-wr-agv2-b-agv1-clean_20260513_125101.log
  data/osf-data/sessions/production-wr-agv2-b-agv1-clean_20260513_135600.log
  data/osf-data/sessions/storage-brw-clean_20260513_140201.log
  data/osf-data/sessions/storage-bwr-clean_20260513_122833.log
  data/osf-data/sessions/storage-bwr-clean_20260513_134800.log
  data/osf-data/sessions/storage-rbw-clean_20260513_124250.log
  data/osf-data/sessions/storage-rwb-clean_20260513_141546.log
  data/osf-data/sessions/storage-wbr-clean_20260513_120633.log
  docs/04-howto/helper_apps/session-manager/session-recorder.md
  docs/07-analysis/ccu-aenderungen-fuer-fischertechnik-2026-05.md
  docs/07-analysis/orbis-ccu-osf3-deploy-and-retest-checklist-2026-05.md
  docs/sprints/sprint_21.md
  integrations/APS-CCU/OSF-MODIFICATIONS.md
  integrations/APS-CCU/central-control/package.json
  integrations/APS-CCU/central-control/src/modules/order/management/order-management.test.ts
  integrations/APS-CCU/central-control/src/modules/order/management/order-management.ts
  integrations/APS-CCU/package.json
  session_manager/__init__.py
  session_manager/components/session_recorder.py
  session_manager/tests/test_session_meta_line.py
  session_manager/utils/session_meta_line.py
Due: black, ruff, validate-mermaid-diagrams

docs(sprints): finalize sprint 21 coverage and start sprint 22
  docs/PROJECT_STATUS.md
  docs/sprints/sprint_21.md
  docs/sprints/sprint_22.md
  docs/sprints/sprints_README.md
Due: validate-mermaid-diagrams

docs(sprints): align sprint cadence and close transition gaps
  .cursor/rules/sprint-date-cycle.mdc
  docs/PROJECT_STATUS.md
  docs/sprints/sprint_21.md
  docs/sprints/sprint_22.md
  docs/sprints/sprint_23.md
  docs/sprints/sprints_README.md
Due: validate-mermaid-diagrams

chore(sprints): enforce transition integrity and keep npm tasks stable
  .cursor/rules/sprint-transition-integrity.mdc
  .vscode/settings.json
  docs/sprints/sprint_22.md
  docs/sprints/sprint_23.md
Due: validate-mermaid-diagrams

docs(sprints): close sprint 23 and start sprint 24
  docs/PROJECT_STATUS.md
  docs/sprints/sprint_24.md
  docs/sprints/sprints_README.md
Due: validate-mermaid-diagrams

feat(arduino): remap sensor pins and align station docs
  docs/05-hardware/arduino-r4-multisensor-verdrahtung.mermaid
  docs/05-hardware/arduino-r4-multisensor.md
  docs/05-hardware/sensor-station-24v-bom-wiring.md
  docs/sprints/sprint_24.md
  integrations/Arduino/OSF_MultiSensor_R4WiFi/OSF_MultiSensor_R4WiFi.ino
Due: validate-mermaid-diagrams

feat(session-manager): add object detection capture workflow
  docs/04-howto/helper_apps/session-manager/README.md
  docs/04-howto/helper_apps/session-manager/object-detection-capture.md
  docs/sprints/sprint_24.md
  session_manager/README.md
  session_manager/__init__.py
  session_manager/app.py
  session_manager/components/object_detection_capture.py
  session_manager/session_manager_settings.json
Due: black, ruff, validate-mermaid-diagrams

docs(sprint): capture ORBIS validation and next presentation task
  docs/sprints/sprint_24.md
  integrations/Arduino/OSF_MultiSensor_R4WiFi/OSF_MultiSensor_R4WiFi.ino
Due: validate-mermaid-diagrams

fix(session-manager): harden OD capture on Windows and add full-event presets
  docs/04-howto/helper_apps/session-manager/object-detection-capture.md
  session_manager/components/object_detection_capture.py
  session_manager/session_manager_settings.json
Due: black, ruff, validate-mermaid-diagrams

fix(session-manager): capture DPS NFC result and release v1.7.1
  docs/04-howto/helper_apps/session-manager/README.md
  docs/04-howto/helper_apps/session-manager/object-detection-capture.md
  session_manager/__init__.py
  session_manager/app.py
  session_manager/components/object_detection_capture.py
Due: black, ruff, validate-mermaid-diagrams

docs(sprints): close sprint 24 and start sprint 25
  docs/PROJECT_STATUS.md
  docs/sprints/sprint_24.md
  docs/sprints/sprint_25.md
  docs/sprints/sprints_README.md
Due: validate-mermaid-diagrams

docs(session-manager): standardize namespaced release tagging
  .cursor/rules/session-manager-release-tagging.mdc
  docs/04-howto/helper_apps/session-manager/README.md
  docs/04-howto/helper_apps/session-manager/release-checklist.md
  docs/sprints/sprint_25.md
Due: validate-mermaid-diagrams

chore(gitignore): ignore OD capture session artifacts
  .gitignore
Due: none

feat(session-manager): align runtime modes across UI and docs
  docs/04-howto/helper_apps/session-manager/README.md
  docs/04-howto/helper_apps/session-manager/replay-station.md
  docs/04-howto/helper_apps/session-manager/runtime-modes-matrix.md
  docs/04-howto/helper_apps/session-manager/session-recorder.md
  docs/04-howto/helper_apps/session-manager/troubleshooting.md
  docs/sprints/sprint_25.md
  session_manager/components/object_detection_capture.py
  session_manager/components/replay_station.py
  session_manager/components/session_recorder.py
Due: black, ruff, validate-mermaid-diagrams

chore(session-manager): bump version to v1.7.2
  docs/04-howto/helper_apps/session-manager/README.md
  session_manager/__init__.py
  session_manager/app.py
Due: black, ruff, validate-mermaid-diagrams

release(session-manager): v1.7.3
  docs/04-howto/helper_apps/session-manager/README.md
  docs/04-howto/helper_apps/session-manager/replay-station.md
  docs/sprints/sprint_25.md
  scripts/mosquitto-ws-bridge.conf
  scripts/start-mosquitto-ws-bridge.ps1
  scripts/test-mqtt-e2e.ps1
  session_manager/__init__.py
  session_manager/app.py
  session_manager/components/object_detection_capture.py
  session_manager/components/replay_station.py
Due: black, ruff, validate-mermaid-diagrams
