Repository OliverBerger-ORBIS/ORBIS-Modellfabrik: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff check --fix
  language: system

validate-mermaid-diagrams:
  name: validate-mermaid-diagrams
  entry: python tools/validate_mermaid_diagrams.py
  language: system
  pass_filenames: false
  stages:
  - commit

check-st-rerun:
  name: check-st-rerun
  entry: python omf/scripts/check_st_rerun.py
  language: system
  stages:
  - commit

check-mqtt-connection-loop:
  name: check-mqtt-connection-loop
  entry: python omf/scripts/check_mqtt_connection_loop.py
  language: system
  stages:
  - commit

feat(ccu-ui): align order UI with OMF2 iconography and layout
  data/omf-data/sessions/storage_order_blue_20251110_181104.log
  data/omf-data/sessions/storage_order_red_20251110_181336.log
  data/omf-data/sessions/storage_order_white_20251110_181619.log
  omf3/apps/ccu-ui/project.json
  omf3/apps/ccu-ui/public/headings/ladung.svg
  omf3/apps/ccu-ui/public/headings/lieferung-bestellen.svg
  omf3/apps/ccu-ui/public/headings/maschine.svg
  omf3/apps/ccu-ui/public/shopfloor/ORBIS_logo_RGB.svg
  omf3/apps/ccu-ui/public/shopfloor/ai-assistant.svg
  omf3/apps/ccu-ui/public/shopfloor/bohrer.svg
  omf3/apps/ccu-ui/public/shopfloor/conveyor.svg
  omf3/apps/ccu-ui/public/shopfloor/factory.svg
  omf3/apps/ccu-ui/public/shopfloor/fuel.svg
  omf3/apps/ccu-ui/public/shopfloor/information-technology.svg
  omf3/apps/ccu-ui/public/shopfloor/milling-machine.svg
  omf3/apps/ccu-ui/public/shopfloor/order-tracking.svg
  omf3/apps/ccu-ui/public/shopfloor/robot-arm.svg
  omf3/apps/ccu-ui/public/shopfloor/robotic.svg
  omf3/apps/ccu-ui/public/shopfloor/shopfloor_layout.json
  omf3/apps/ccu-ui/public/shopfloor/stock.svg
  omf3/apps/ccu-ui/public/shopfloor/warehouse.svg
  omf3/apps/ccu-ui/src/app/app.config.ts
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.html
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.scss
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.ts
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.html
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
  omf3/libs/business/src/index.ts
  omf3/libs/entities/src/index.ts
  omf3/libs/testing-fixtures/src/index.ts
  omf3/testing/fixtures/orders/storage/orders.log
  scripts/build_order_fixtures.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

omf3/pr-07: add tabbed shell and i18n foundation for ccu-ui
  omf3/README.md
  omf3/apps/ccu-ui/project.json
  omf3/apps/ccu-ui/src/app/app.component.html
  omf3/apps/ccu-ui/src/app/app.component.scss
  omf3/apps/ccu-ui/src/app/app.component.spec.ts
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/app.config.ts
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/fts-view.component.ts
  omf3/apps/ccu-ui/src/app/module-map.component.ts
  omf3/apps/ccu-ui/src/app/orders-view.component.ts
  omf3/apps/ccu-ui/src/app/stock-view.component.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
  omf3/apps/ccu-ui/src/main.ts
  omf3/apps/ccu-ui/src/test-setup.ts
  package-lock.json
  package.json
Due: validate-mermaid-diagrams

feat(ccu-ui): surface completed orders alongside active
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.ts
  omf3/libs/business/src/__tests__/business.spec.ts
  omf3/libs/business/src/index.ts
Due: none

fix(ccu-ui): restore active orders after completed split
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
Due: none

Update completed order handling in Nx builds
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.ts
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/tsconfig.app.json
  omf3/libs/business/src/__tests__/business.spec.ts
  omf3/libs/business/src/index.ts
  omf3/libs/business/tsconfig.lib.json
  omf3/libs/entities/src/index.ts
  omf3/libs/entities/tsconfig.lib.json
  omf3/libs/gateway/src/__tests__/gateway.spec.ts
  omf3/libs/gateway/src/index.ts
  omf3/libs/gateway/tsconfig.lib.json
  omf3/libs/mqtt-client/tsconfig.lib.json
  omf3/libs/testing-fixtures/tsconfig.lib.json
  omf3/testing/fixtures/orders/storage/orders.log
  scripts/build_order_fixtures.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

Improve completed order propagation
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.ts
  omf3/libs/gateway/src/__tests__/gateway.spec.ts
  omf3/libs/gateway/src/index.ts
Due: none

feat(modules): add command actions and startup fixtures
  data/omf-data/sessions/Start_20251110_175151.log
  docs/03-decision-records/08-module-docking-command.md
  omf3/apps/ccu-ui/project.json
  omf3/apps/ccu-ui/public/headings/mehrere.svg
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/apps/ccu-ui/tsconfig.app.json
  omf3/libs/business/src/__tests__/business.spec.ts
  omf3/libs/business/src/index.ts
  omf3/libs/entities/src/index.ts
  omf3/libs/gateway/src/__tests__/gateway.spec.ts
  omf3/libs/gateway/src/index.ts
  omf3/libs/testing-fixtures/src/index.ts
  omf3/testing/fixtures/modules/default.log
  omf3/testing/fixtures/modules/startup.log
  omf3/testing/fixtures/orders/startup/orders.log
  scripts/build_order_fixtures.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat(overview): add inventory and customer order visuals
  omf3/apps/ccu-ui/project.json
  omf3/apps/ccu-ui/public/headings/box.svg
  omf3/apps/ccu-ui/public/headings/warehouse.svg
  omf3/apps/ccu-ui/public/workpieces/blue_3dim.svg
  omf3/apps/ccu-ui/public/workpieces/blue_instock_reserved.svg
  omf3/apps/ccu-ui/public/workpieces/blue_instock_unprocessed.svg
  omf3/apps/ccu-ui/public/workpieces/blue_product.svg
  omf3/apps/ccu-ui/public/workpieces/blue_unprocessed.svg
  omf3/apps/ccu-ui/public/workpieces/red_3dim.svg
  omf3/apps/ccu-ui/public/workpieces/red_instock_reserved.svg
  omf3/apps/ccu-ui/public/workpieces/red_instock_unprocessed.svg
  omf3/apps/ccu-ui/public/workpieces/red_product.svg
  omf3/apps/ccu-ui/public/workpieces/red_unprocessed.svg
  omf3/apps/ccu-ui/public/workpieces/slot_empty.svg
  omf3/apps/ccu-ui/public/workpieces/white_3dim.svg
  omf3/apps/ccu-ui/public/workpieces/white_instock_reserved.svg
  omf3/apps/ccu-ui/public/workpieces/white_instock_unprocessed.svg
  omf3/apps/ccu-ui/public/workpieces/white_product.svg
  omf3/apps/ccu-ui/public/workpieces/white_unprocessed.svg
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/libs/business/src/__tests__/business.spec.ts
  omf3/libs/business/src/index.ts
  omf3/libs/entities/src/index.ts
  omf3/libs/gateway/src/index.ts
  omf3/libs/testing-fixtures/src/index.ts
  omf3/testing/fixtures/stock/default.log
  omf3/testing/fixtures/stock/startup.log
Due: none

feat(process): add flow visualization and fixtures
  omf3/apps/ccu-ui/project.json
  omf3/apps/ccu-ui/public/headings/gang.svg
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.ts
  omf3/libs/business/src/__tests__/business.spec.ts
  omf3/libs/business/src/index.ts
  omf3/libs/entities/src/index.ts
  omf3/libs/gateway/src/index.ts
  omf3/libs/testing-fixtures/src/index.ts
  omf3/testing/fixtures/flows/default.log
  omf3/testing/fixtures/flows/startup.log
Due: none

feat(configuration): add shopfloor config view
  omf3/apps/ccu-ui/project.json
  omf3/apps/ccu-ui/public/shopfloor/question.svg
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.html
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/libs/business/src/__tests__/business.spec.ts
  omf3/libs/business/src/index.ts
  omf3/libs/entities/src/index.ts
  omf3/libs/gateway/src/index.ts
  omf3/libs/testing-fixtures/src/index.ts
  omf3/testing/fixtures/config/default.log
  omf3/testing/fixtures/config/startup.log
Due: none

feat: add sensor data tab and update configuration headings
  omf3/apps/ccu-ui/project.json
  omf3/apps/ccu-ui/public/headings/camera.svg
  omf3/apps/ccu-ui/public/headings/grundriss.svg
  omf3/apps/ccu-ui/public/headings/smart.svg
  omf3/apps/ccu-ui/public/headings/system.svg
  omf3/apps/ccu-ui/src/app/app.component.html
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.ts
  omf3/libs/business/src/__tests__/business.spec.ts
  omf3/libs/business/src/index.ts
  omf3/libs/entities/src/index.ts
  omf3/libs/gateway/src/index.ts
  omf3/libs/testing-fixtures/src/index.ts
  omf3/testing/fixtures/sensors/default.log
  omf3/testing/fixtures/sensors/startup.log
Due: none

feat(shopfloor): refine absolute layout and route rendering
  omf3/apps/ccu-ui/project.json
  omf3/apps/ccu-ui/public/shopfloor/intersection1.svg
  omf3/apps/ccu-ui/public/shopfloor/intersection2.svg
  omf3/apps/ccu-ui/public/shopfloor/intersection3.svg
  omf3/apps/ccu-ui/public/shopfloor/intersection4.svg
  omf3/apps/ccu-ui/public/shopfloor/shopfloor_layout.json
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.html
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-layout.types.ts
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.html
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.html
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
  omf3/libs/testing-fixtures/src/index.ts
  omf3/testing/fixtures/orders/white/step3.json
Due: none

feat(header): add sidebar layout with env and role controls
  omf3/apps/ccu-ui/project.json
  omf3/apps/ccu-ui/src/app/app.component.html
  omf3/apps/ccu-ui/src/app/app.component.scss
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/services/connection.service.ts
  omf3/apps/ccu-ui/src/app/services/environment.service.ts
  omf3/apps/ccu-ui/src/app/services/language.service.ts
  omf3/apps/ccu-ui/src/app/services/role.service.ts
  omf3/apps/ccu-ui/src/app/tabs/settings-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/settings-tab.component.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
  omf3/apps/ccu-ui/src/main.ts
  tsconfig.base.json
Due: none

feat: implement MQTT client integration for live/replay environments
  omf3/apps/ccu-ui/project.json
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/services/connection.service.ts
  omf3/apps/ccu-ui/src/app/services/environment.service.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
Due: none

fix: add missing websocket-adapter.ts and export
  omf3/libs/mqtt-client/src/index.ts
  omf3/libs/mqtt-client/src/websocket-adapter.ts
  session_manager/session_manager_settings.json
Due: none

docs: add Message Monitor Service requirements and architecture for GitHub implementation
  docs/03-decision-records/09-message-monitor-service.md
  docs/03-decision-records/10-task-complexity-analysis.md
  docs/github-issues/PR-17-message-monitor-service.md
Due: validate-mermaid-diagrams

docs: complete GitHub Agent instructions for PR-17 Message Monitor Service
  docs/github-issues/GITHUB-AGENT-INSTRUCTIONS.md
  docs/github-issues/PR-17-message-monitor-service.md
Due: validate-mermaid-diagrams

PR-18: Add I18n problem description to GitHub agent instructions
  COPILOT_PR_REQUEST_SHOPFLOOR_HIGHLIGHTING.md
  data/omf-data/test_topics/README.md
  data/omf-data/test_topics/order_blue_via_txt.json
  data/omf-data/test_topics/order_red_via_txt.json
  data/omf-data/test_topics/order_white_direct_ccu.json
  data/omf-data/test_topics/order_white_via_txt.json
  docs/07-analysis/DOCUMENTATION_REVIEW_INTEGRATION_DOCS.md
  docs/07-analysis/LOG_DISPLAY_TOGGLE.md
  docs/07-analysis/REFACTORING_BACKLOG.md
  docs/07-analysis/REFACTORING_SHOPFLOOR_LAYOUT_PLAN.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_ANALYSIS.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_COMPLETE.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_STATUS.md
  docs/07-analysis/task-2-9-e-live-test-plan.md
  docs/07-analysis/task-2-9-e-teilerfolg-ccu-overview-fix.md
  docs/07-analysis/task-2-9-e-test-results.json
  docs/CENTRAL_LOGGING_REFACTORING.md
  docs/DOUBLE_CLICK_MODULE_DETAILS.md
  docs/LOGGING_HANDLER_PERSISTENCE_FIX.md
  docs/MIGRATION_SHOPFLOOR_V2.md
  docs/SHOPFLOOR_ROUTING_GUIDE.md
  docs/archive/analysis/aps-mqtt-logs/README.md
  docs/github-issues/GITHUB-AGENT-INSTRUCTIONS.md
  docs/github-issues/PR-17-message-monitor-service.md
  omf3/apps/ccu-ui/src/app/app.component.html
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/services/language.service.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
  omf3/apps/ccu-ui/src/main.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/mqtt.service.ts
  src/app/replay-toggle.service.ts
Due: validate-mermaid-diagrams

feat: Umstellung auf omf3-Tests in CI/CD und Pre-commit
  .github/workflows/ci.yml
  .github/workflows/heading-icons-check.yml
  .github/workflows/shopfloor-check.yml
  .github/workflows/structure-validation.yml
  .gitignore
  .pre-commit-config.yaml
  omf3/apps/ccu-ui/public/headings/zentral.svg
  package.json
  scripts/check_heading_svgs_omf3.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

fix: Pre-commit Hook - nur funktionierende Tests ausführen
  omf3/apps/ccu-ui/src/app/app.component.spec.ts
Due: none

fix: Install mqtt dependency for tests
  package-lock.json
  package.json
Due: none

feat: Integrate MessageMonitorService in tabs for last message persistence
  docs/03-decision-records/11-tab-stream-initialization-pattern.md
  omf3/apps/ccu-ui/project.json
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/tab-stream-pattern.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.ts
Due: validate-mermaid-diagrams

chore: Add I18n locale files and TypeScript import improvements
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/libs/business/project.json
  omf3/libs/business/src/__tests__/business.spec.ts
  omf3/libs/business/tsconfig.spec.json
  omf3/libs/gateway/src/__tests__/gateway.spec.ts
  omf3/libs/gateway/src/index.ts
  omf3/libs/gateway/tsconfig.spec.json
Due: none

docs: Move Mosquitto local configs to development setup
  docs/04-howto/setup/mosquitto/README.md
  docs/04-howto/setup/mosquitto/mosquitto.conf.local
  docs/04-howto/setup/mosquitto/mosquitto.conf.local-simple
  docs/04-howto/setup/project-setup.md
Due: validate-mermaid-diagrams

fix: Apply MessageMonitor pattern consistently to all tabs
  omf3/apps/ccu-ui/src/app/tabs/__tests__/tab-stream-pattern.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.ts
Due: none

feat: Message Monitor filter improvements and syntax highlighting
  omf3/apps/ccu-ui/public/headings/dezentral_1.svg
  omf3/apps/ccu-ui/public/shopfloor/mixer.svg
  omf3/apps/ccu-ui/src/app/services/message-monitor.service.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/message-monitor-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/message-monitor-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/message-monitor-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.ts
  package-lock.json
  package.json
Due: none

fix: Configuration Tab - add startWith for empty config fallback
  docs/03-decision-records/12-message-monitor-service-storage.md
  docs/03-decision-records/README.md
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
Due: validate-mermaid-diagrams

feat(omf3): improve shopfloor highlighting and MQTT connection status display
  omf3/apps/ccu-ui/public/shopfloor/shopfloor_layout.json
  omf3/apps/ccu-ui/src/app/app.component.html
  omf3/apps/ccu-ui/src/app/app.component.scss
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.html
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/libs/testing-fixtures/src/index.ts
Due: none

docs: update sprint documentation for Sprint 08 and 09
  docs/sprints/sprint_08.md
  docs/sprints/sprint_aktuell.md
  docs/sprints/sprints_README.md
Due: validate-mermaid-diagrams

feat(omf3): improve header logo and title alignment
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/apps/ccu-ui/src/app/app.component.scss
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
Due: none

feat(i18n): Add comprehensive I18n support for Module Tab and Navigation
  omf3/apps/ccu-ui/src/app/app.component.spec.ts
  omf3/apps/ccu-ui/src/app/services/module-name.service.ts
Due: none

feat(i18n): Complete I18n implementation for all components
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.html
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.ts
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/message-monitor-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/message-monitor-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.html
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
Due: none

chore(scripts): add run-omf3 launcher scripts (ps1 + bat)
  scripts/run-omf3.bat
  scripts/run-omf3.ps1
Due: none

Path conditions:
  black: any of: \.py$, but not: ^\.gitignore$
  ruff: any of: \.py$
  validate-mermaid-diagrams: any of: \.md$
  check-st-rerun: any of: \.py$
  check-mqtt-connection-loop: any of: \.py$
