Repository OliverBerger-ORBIS/ORBIS-Modellfabrik: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: '^\.gitignore$'

# isort entfernt - verursacht Import-Probleme
      # - id: isort
      #   name: isort
      #   entry: isort
      #   language: system
      #   types: [python]

      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]

      - id: pytest
        name: pytest
        entry: python -m pytest -q
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-project-structure
        name: validate-project-structure
        entry: python omf/scripts/validate_project_structure.py
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-dashboard-rules
        name: validate-dashboard-rules
        entry: python omf/scripts/validate_dashboard_rules.py --include-dashboard --loose
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-development-rules
        name: validate-development-rules
        entry: python omf/scripts/validate_development_rules.py
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-mermaid-diagrams
        name: validate-mermaid-diagrams
        entry: python tools/validate_mermaid_diagrams.py
        language: system
        files: \.md$
        pass_filenames: false
        stages: [commit]

      - id: check-st-rerun
        name: check-st-rerun
        entry: python omf/scripts/check_st_rerun.py
        language: system
        types: [python]
        stages: [commit]

      - id: check-mqtt-connection-loop
        name: check-mqtt-connection-loop
        entry: python omf/scripts/check_mqtt_connection_loop.py
        language: system
        types: [python]
        stages: [commit]

fix(configuration): resolve i18n fallback for click hint and subtab labels; move Business Functions to Admin Settings (after Gateway)
  omf2/config/translations/de/admin.yml
  omf2/config/translations/en/admin.yml
  omf2/config/translations/fr/admin.yml
  omf2/ui/admin/admin_settings/admin_settings_tab.py
  omf2/ui/admin/admin_settings/business_functions_subtab.py
  omf2/ui/ccu/ccu_configuration/ccu_configuration_tab.py
  omf2/ui/ccu/ccu_configuration/ccu_factory_configuration_subtab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

style: black format symbols.py (pre-commit)
  omf2/config/translations/en/ccu_configuration.yml
  omf2/config/translations/fr/ccu_configuration.yml
  omf2/ui/common/symbols.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat(modules): add full i18n for Module Details section (EN/DE/FR) and wire into UI
  omf2/config/translations/de/ccu_modules.yml
  omf2/config/translations/en/ccu_modules.yml
  omf2/config/translations/fr/ccu_modules.yml
  omf2/ui/ccu/ccu_modules/ccu_modules_details.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

chore(cleanup): remove unused/deprecated helpers in CCU tabs (factory layout helpers, module action stubs, unused detail delegations)
  omf2/ui/ccu/ccu_configuration/ccu_factory_configuration_subtab.py
  omf2/ui/ccu/ccu_modules/ccu_modules_details.py
  omf2/ui/ccu/ccu_modules/ccu_modules_tab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat(sensor-data): i18n support, IAQ traffic light, YAML-based steps
  docs/registry/sensors_display.md
  omf2/config/translations/de/ccu_overview.yml
  omf2/config/translations/en/ccu_overview.yml
  omf2/config/translations/fr/ccu_overview.yml
  omf2/registry/sensors_display.yml
  omf2/ui/ccu/ccu_overview/sensor_data_subtab.py
  omf2/ui/ccu/sensors_display_utils.py
  tests/test_omf2/test_aq_display.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat(ui): add refresh button in header + clarify MQTT connect rules
  docs/02-architecture/omf2-architecture.md
  docs/04-howto/UI_DEVELOPMENT_GUIDE.md
  docs/04-howto/mqtt_client_connection.md
  omf2/ui/main_dashboard.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

fix(i18n): korrigiere englische Begriffe in deutschen Übersetzungen
  omf2/config/translations/de/ccu_message_monitor.yml
  omf2/config/translations/de/ccu_orders.yml
Due: none

docs(sprints): Sprint 07 abschließen und Sprint 08 starten
  cc.plan.md
  docs/sprints/sprint_07.md
  docs/sprints/sprint_aktuell.md
Due: validate-mermaid-diagrams

feature: add shopfloor test app (interactive SVG) + tests
  examples/shopfloor_test_app/README.md
  examples/shopfloor_test_app/__init__.py
  examples/shopfloor_test_app/app.py
  examples/shopfloor_test_app/requirements.txt
  examples/shopfloor_test_app/route_utils.py
  examples/shopfloor_test_app/shopfloor_layout.json
  tests/test_shopfloor_layout_render.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

refactor: Konsistente Asset-Auflösung über type-Feld im Layout-JSON
  examples/shopfloor_test_app/app.py
  examples/shopfloor_test_app/shopfloor_layout.json
  omf2/assets/asset_manager.py
  omf2/config/ccu/shopfloor_layout.json
  omf2/ui/ccu/ccu_configuration/ccu_factory_configuration_subtab.py
  omf2/ui/ccu/common/shopfloor_layout.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

refactor: Migrate shopfloor layout to SVG rendering and cleanup legacy code
  omf2/assets/asset_manager.py
  omf2/config/ccu/shopfloor_layout.json
  omf2/ui/ccu/ccu_configuration/ccu_factory_configuration_subtab.py
  omf2/ui/ccu/ccu_orders/production_orders_subtab.py
  omf2/ui/ccu/ccu_orders/storage_orders_subtab.py
  omf2/ui/ccu/common/shopfloor_layout.py
  tests/test_omf2/test_asset_manager.py
  tests/test_omf2/test_shopfloor_layout_events.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

docs: Add migration plans and update example app
  docs/07-analysis/MIGRATION_TO_SVG_RENDERING_PLAN.md
  docs/07-analysis/REFACTORING_SHOPFLOOR_LAYOUT_PLAN.md
  docs/archive/analysis/req_for_copilot_shopfloor.md
  examples/shopfloor_test_app/app.py
  examples/shopfloor_test_app/shopfloor_layout.json
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

Add omf3 README with migration TODOs
  omf3/README.md
Due: validate-mermaid-diagrams

omf3: add initial Angular scaffold and mqtt/replay service stubs
  .gitignore
  package.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/mqtt.service.ts
  src/app/replay-toggle.service.ts
  tsconfig.json
Due: none

omf3/pr-02: add libs/entities types and basic parser
  omf2/assets/asset_manager.py
  omf2/ui/ccu/ccu_overview/inventory_subtab.py
  omf2/ui/ccu/ccu_overview/purchase_order_subtab.py
  omf2/ui/ccu/ccu_process/ccu_production_plan_subtab.py
  omf2/ui/common/product_rendering.py
  omf3/libs/entities/src/index.ts
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

ci: make heading icons check import omf2
  .github/workflows/heading-icons-check.yml
Due: none

omf3/pr-03: add libs/mqtt-client wrapper + mock adapter + tests
  omf3/libs/mqtt-client/README.md
  omf3/libs/mqtt-client/src/__tests__/mqtt-client.spec.ts
  omf3/libs/mqtt-client/src/index.ts
  omf3/libs/mqtt-client/src/mock-adapter.ts
  package.json
Due: validate-mermaid-diagrams

test(data): restore original session file required by integration tests
  data/omf-data/sessions/auftrag-weiss_1.log
  scripts/check_heading_svgs.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

test(data): add placeholder session file required by production_order_manager tests
  data/omf-data/sessions/auftrag-blau_1.log
  data/omf-data/sessions/auftrag-rot_1.log
  data/omf-data/sessions/auftrag-weiss_1.log
  scripts/check_heading_svgs.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

ci: allow manual workflow dispatch
  .github/workflows/ci.yml
  .github/workflows/heading-icons-check.yml
  .github/workflows/structure-validation.yml
Due: none

style: format tests with black
  docs/07-analysis/DOCUMENTATION_REVIEW_INTEGRATION_DOCS.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_ANALYSIS.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_COMPLETE.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_STATUS.md
  docs/archive/analysis/aps-mqtt-logs/README.md
  tests/test_omf2/test_aq_display.py
  tests/test_omf2/test_asset_manager.py
  tests/test_omf2/test_st_rerun_forbidden.py
  tests/test_omf2/test_symbols.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

style: format tests with black
  tests/test_omf2/test_aq_display.py
  tests/test_omf2/test_asset_manager.py
  tests/test_omf2/test_st_rerun_forbidden.py
  tests/test_omf2/test_symbols.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

ci: add ruff to requirements for lint workflow
  requirements.txt
Due: none

tests: satisfy ruff lint warnings
  tests/test_business_functions_loader.py
  tests/test_ccu_frontend_consumer.py
  tests/test_omf2/test_module_details_integration.py
  tests/test_omf2/test_product_svg_sizing.py
  tests/test_omf2/test_sensor_data_camera.py
  tests/test_omf2/test_sensor_data_camera_simple.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

omf3/pr-03: add nx workspace scaffolding
  .gitignore
  nx.json
  omf3/README.md
  omf3/libs/entities/project.json
  omf3/libs/entities/tsconfig.lib.json
  omf3/libs/mqtt-client/README.md
  omf3/libs/mqtt-client/project.json
  omf3/libs/mqtt-client/tsconfig.lib.json
  omf3/libs/mqtt-client/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
  tsconfig.json
Due: validate-mermaid-diagrams

omf3/pr-04: add libs/gateway topic->entity mapping + tests
  data/omf-data/sessions/auftrag-weiss_1.log
  omf3/libs/gateway/README.md
  omf3/libs/gateway/src/__tests__/gateway.spec.ts
  omf3/libs/gateway/src/index.ts
Due: validate-mermaid-diagrams

omf3/pr-04: wire gateway library into nx workspace
  omf3/libs/gateway/README.md
  omf3/libs/gateway/project.json
  omf3/libs/gateway/src/__tests__/gateway.spec.ts
  omf3/libs/gateway/src/index.ts
  omf3/libs/gateway/tsconfig.lib.json
  omf3/libs/gateway/tsconfig.spec.json
  tsconfig.base.json
Due: validate-mermaid-diagrams

omf3/pr-05: add business streams library
  omf3/libs/business/README.md
  omf3/libs/business/project.json
  omf3/libs/business/src/__tests__/business.spec.ts
  omf3/libs/business/src/index.ts
  omf3/libs/business/tsconfig.lib.json
  omf3/libs/business/tsconfig.spec.json
  tsconfig.base.json
Due: validate-mermaid-diagrams
