Repository OliverBerger-ORBIS/ORBIS-Modellfabrik: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, validate-mermaid-diagrams

black:
  name: black
  entry: black
  language: system
  description: Format Python code (Session Manager, scripts)

ruff:
  name: ruff
  entry: ruff check --fix
  language: system
  description: Lint Python code (Session Manager, scripts)

validate-mermaid-diagrams:
  name: validate-mermaid-diagrams
  entry: python tools/validate_mermaid_diagrams.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  description: Validate Mermaid diagrams in documentation

chore(release): 1.0.9 (Arduino station config, MQTT replay, connection fixes)
  VERSION
  docs/02-architecture/dsp-svg-inventory.md
  docs/04-howto/README.md
  docs/04-howto/osf-mqtt-replay-local-broker.md
  docs/05-hardware/arduino-r4-multisensor.md
  integrations/Arduino/OSF_MultiSensor_R4WiFi/OSF_MultiSensor_R4WiFi.ino
  osf/apps/osf-ui/project.json
  osf/apps/osf-ui/src/app/constants/arduino-station.constants.ts
  osf/apps/osf-ui/src/app/services/__tests__/connection.service.spec.ts
  osf/apps/osf-ui/src/app/services/connection.service.ts
  osf/apps/osf-ui/src/app/services/environment.service.ts
  osf/apps/osf-ui/src/app/services/message-monitor.service.ts
  osf/apps/osf-ui/src/app/shared/icons/icon.registry.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/configuration-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/configuration-tab.component.html
  osf/apps/osf-ui/src/app/tabs/configuration-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/configuration-tab.component.ts
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.ts
  osf/apps/osf-ui/src/app/types/__tests__/arduino-station-factsheet.utils.spec.ts
  osf/apps/osf-ui/src/app/types/arduino-station-factsheet.types.ts
  osf/apps/osf-ui/src/app/types/arduino-station-factsheet.utils.ts
  osf/apps/osf-ui/src/assets/svg/shopfloor/shared/flame-sensor.svg
  osf/apps/osf-ui/src/assets/svg/shopfloor/shared/gas-sensor.svg
  osf/apps/osf-ui/src/assets/svg/shopfloor/shared/humidity-sensor.svg
  osf/apps/osf-ui/src/assets/svg/shopfloor/shared/pressure-sensor.svg
  osf/apps/osf-ui/src/assets/svg/shopfloor/shared/temperature-sensor.svg
  osf/apps/osf-ui/src/assets/svg/shopfloor/shared/tilt-sensor.svg
  osf/apps/osf-ui/src/environments/__tests__/mqtt-user.defaults.spec.ts
  osf/apps/osf-ui/src/environments/mqtt-user.defaults.ts
  osf/apps/osf-ui/src/environments/version.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  osf/libs/mqtt-client/src/websocket-adapter.ts
  package.json
Due: validate-mermaid-diagrams

feat(config): ORBIS defaults for Replay MQTT and Arduino WiFi mode
  docs/04-howto/osf-mqtt-replay-local-broker.md
  docs/05-hardware/arduino-r4-multisensor.md
  integrations/Arduino/OSF_MultiSensor_R4WiFi/.gitignore
  integrations/Arduino/OSF_MultiSensor_R4WiFi/OSF_MultiSensor_R4WiFi.ino
  integrations/Arduino/OSF_MultiSensor_R4WiFi/wifi_mode_local.h.example
  osf/apps/osf-ui/src/environments/__tests__/mqtt-user.defaults.spec.ts
  osf/apps/osf-ui/src/environments/mqtt-user.defaults.ts
Due: validate-mermaid-diagrams

feat(session-manager): DR-25 recording preset, session_meta, v1.0.10
  VERSION
  data/osf-data/sessions/INVENTORY.md
  data/osf-data/sessions/README.md
  docs/03-decision-records/25-session-log-topic-filters.md
  docs/04-howto/helper_apps/session-manager/session-recorder.md
  docs/sprints/sprint_19.md
  osf/apps/osf-ui/src/environments/version.ts
  package.json
  scripts/check_session_inventory.py
  session_manager/README.md
  session_manager/app.py
  session_manager/components/session_recorder.py
  session_manager/components/settings_manager.py
  session_manager/components/settings_ui.py
  session_manager/session_manager_settings.json
  session_manager/tests/test_recording_topic_filter.py
  session_manager/tests/test_session_log_format.py
  session_manager/tests/test_session_meta_line.py
  session_manager/utils/recording_topic_filter.py
  session_manager/utils/session_meta_line.py
Due: black, ruff, validate-mermaid-diagrams

fix(session-manager): stop_recording UI state and session_meta preset
  session_manager/components/session_recorder.py
Due: black, ruff

fix(session-manager): slim UI and remove legacy tabs
  .cursor/rules/sprint-md-checkboxes.mdc
  docs/04-howto/helper_apps/session-manager/README.md
  docs/04-howto/helper_apps/session-manager/replay-station.md
  docs/04-howto/helper_apps/session-manager/session-analysis.md
  docs/04-howto/helper_apps/session-manager/session-recorder.md
  docs/04-howto/helper_apps/session-manager/template-analysis.md
  docs/04-howto/helper_apps/session-manager/troubleshooting.md
  docs/sprints/sprint_19.md
  package-lock.json
  package.json
  scripts/build-osf-ui-docker.js
  session_manager/README.md
  session_manager/app.py
  session_manager/components/__init__.py
  session_manager/components/session_analysis.py
  session_manager/components/session_analyzer.py
  session_manager/components/settings_manager.py
  session_manager/components/settings_ui.py
  session_manager/components/timeline_visualizer.py
  session_manager/components/topic_manager.py
  session_manager/components/topic_recorder.py
  session_manager/components/ui_components.py
  session_manager/session_manager_settings.json
  session_manager/utils/session_logger.py
Due: black, ruff, validate-mermaid-diagrams

fix(osf-ui): repo-managed external links config
  docs/sprints/sprint_19.md
  osf/apps/osf-ui/public/assets/config/external-links.json
  osf/apps/osf-ui/src/app/services/__tests__/external-links.service.spec.ts
  osf/apps/osf-ui/src/app/services/external-links.service.ts
  osf/apps/osf-ui/src/app/tabs/settings-tab.component.ts
Due: validate-mermaid-diagrams

fix(osf-ui): centralize shopfloor layout + show AGV-? for unknown serials
  docs/sprints/sprint_19.md
  osf/apps/osf-ui/src/app/services/module-name.service.ts
  osf/apps/osf-ui/src/app/services/shopfloor-layout.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/agv-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/agv-tab.component.html
  osf/apps/osf-ui/src/app/tabs/agv-tab.component.ts
Due: validate-mermaid-diagrams

fix(osf-ui): deduplicate Track & Trace events
  docs/sprints/sprint_19.md
  osf/apps/osf-ui/src/app/services/__tests__/workpiece-history.service.spec.ts
  osf/apps/osf-ui/src/app/services/workpiece-history.service.ts
Due: validate-mermaid-diagrams

fix(osf-ui): process soft refresh and compact header status
  docs/sprints/sprint_19.md
  osf/apps/osf-ui/src/app/app.component.html
  osf/apps/osf-ui/src/app/app.component.scss
  osf/apps/osf-ui/src/app/app.component.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/ai-lifecycle-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/closed-loop-quality-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/interoperability-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/predictive-maintenance-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/process-optimization/process-optimization-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/shared/base-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/three-data-pools-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/track-trace-genealogy-use-case.component.ts
  osf/apps/osf-ui/src/app/services/view-scale.service.ts
  osf/apps/osf-ui/src/app/tabs/process-tab.component.html
  osf/apps/osf-ui/src/app/tabs/process-tab.component.ts
Due: validate-mermaid-diagrams

feat(osf-ui): add in-app back button for deep links
  docs/sprints/sprint_19.md
  osf/apps/osf-ui/src/app/components/back-button/back-button.component.ts
  osf/apps/osf-ui/src/app/pages/dsp-animation/__tests__/dsp-architecture.component.spec.ts
  osf/apps/osf-ui/src/app/pages/dsp-animation/dsp-architecture.component.html
  osf/apps/osf-ui/src/app/pages/dsp-animation/dsp-architecture.component.scss
  osf/apps/osf-ui/src/app/pages/dsp-animation/dsp-architecture.component.ts
  osf/apps/osf-ui/src/app/pages/presentation/__tests__/presentation-page.component.spec.ts
  osf/apps/osf-ui/src/app/pages/presentation/presentation-page.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/ai-lifecycle-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/closed-loop-quality-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/interoperability-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/predictive-maintenance-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/process-optimization/process-optimization-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/shared/use-case-controls/use-case-controls.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/shared/use-case-controls/use-case-controls.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/shared/use-case-controls/use-case-controls.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/three-data-pools-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/track-trace-genealogy-use-case.component.html
  osf/apps/osf-ui/src/app/services/navigation-back.service.ts
Due: validate-mermaid-diagrams

feat(osf-ui): per-context shopfloor preview zoom and sprint 19 notes
  docs/sprints/sprint_19.md
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  osf/apps/osf-ui/src/app/tabs/agv-tab.component.html
  osf/apps/osf-ui/src/app/tabs/agv-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/agv-tab.component.ts
  osf/apps/osf-ui/src/app/tabs/configuration-tab.component.html
  osf/apps/osf-ui/src/app/tabs/configuration-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/configuration-tab.component.ts
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.html
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.ts
Due: validate-mermaid-diagrams

feat(osf-ui): ViewScale for DSP and use cases; order card grid from viewport
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.html
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.scss
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  osf/apps/osf-ui/src/app/components/order-card/order-card.component.html
  osf/apps/osf-ui/src/app/components/order-card/order-card.component.scss
  osf/apps/osf-ui/src/app/components/order-card/order-card.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/ai-lifecycle-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/closed-loop-quality-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/interoperability-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/predictive-maintenance-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/process-optimization/process-optimization-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/shared/base-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/three-data-pools-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/track-trace-genealogy-use-case.component.html
Due: none

chore(release): v1.0.11
  CHANGELOG.md
  VERSION
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: validate-mermaid-diagrams

feat(osf-ui): rotate shopfloor layout via settings
  CHANGELOG.md
  VERSION
  docs/sprints/sprint_19.md
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.html
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  osf/apps/osf-ui/src/app/services/shopfloor-rotation.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/settings-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/settings-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/settings-tab.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: validate-mermaid-diagrams

fix(osf-ui): default shopfloor rotation is none
  osf/apps/osf-ui/src/app/services/shopfloor-rotation.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/settings-tab.component.spec.ts
Due: none

feat(osf-ui): clickable BP boxes + OSF DSP variants
  docs/02-architecture/dsp-svg-inventory.md
  docs/sprints/sprint_20.md
  osf/apps/osf-ui/public/assets/config/external-links.json
  osf/apps/osf-ui/public/assets/svg/business/planning-application.svg
  osf/apps/osf-ui/src/app/app.routes.ts
  osf/apps/osf-ui/src/app/assets/icon-registry.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/DSP_Architecture_Objects_Reference.md
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/logimat/logimat-config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/osf/osf-config.base.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/osf/osf-config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/osf/osf-customer-connect-2026-config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/osf/osf-hannover-2026-config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.label-wrapping.spec.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.functional.config.ts
  osf/apps/osf-ui/src/app/pages/dsp/customer/customer-selector-page.component.ts
  osf/apps/osf-ui/src/app/pages/dsp/customer/osf-customer-connect-2026/osf-customer-connect-2026-dsp-page.component.ts
  osf/apps/osf-ui/src/app/pages/dsp/customer/osf-hannover-2026/osf-hannover-2026-dsp-page.component.ts
  osf/apps/osf-ui/src/app/services/__tests__/external-links.service.spec.ts
  osf/apps/osf-ui/src/app/services/external-links.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/configuration-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/settings-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/settings-tab.component.ts
  osf/apps/osf-ui/src/assets/svg/business/planning-application.svg
Due: validate-mermaid-diagrams

fix(osf-ui): make process refresh re-evaluate retained stock
  docs/sprints/sprint_20.md
  osf/apps/osf-ui/src/app/app.component.ts
  osf/apps/osf-ui/src/app/services/connection.service.ts
  osf/apps/osf-ui/src/app/services/message-monitor.service.ts
  osf/apps/osf-ui/src/app/tabs/process-tab.component.ts
Due: validate-mermaid-diagrams

fix(osf-ui): dsp architecture uses full viewport for scroll/zoom
  docs/sprints/sprint_20.md
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.html
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.scss
Due: validate-mermaid-diagrams

chore(release): v1.1.0 — use-case diagram viewport & scroll
  VERSION
  docs/sprints/sprint_20.md
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/ai-lifecycle-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/ai-lifecycle-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/closed-loop-quality-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/closed-loop-quality-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/interoperability-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/interoperability-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/predictive-maintenance-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/predictive-maintenance-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/process-optimization/process-optimization-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/process-optimization/process-optimization-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/shared/base-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/three-data-pools-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/three-data-pools-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/track-trace-genealogy-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/track-trace-genealogy-use-case.component.scss
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: validate-mermaid-diagrams

chore(release): v1.1.1 — DSP accordion return context
  VERSION
  docs/sprints/sprint_20.md
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases-section/dsp-use-cases-section.component.html
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.ts
  osf/apps/osf-ui/src/app/pages/dsp/dsp-accordion-sections.ts
  osf/apps/osf-ui/src/app/pages/dsp/dsp-page.component.html
  osf/apps/osf-ui/src/app/pages/dsp/dsp-page.component.ts
  osf/apps/osf-ui/src/app/services/navigation-back.service.ts
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: validate-mermaid-diagrams

chore(release): 1.1.2
  CHANGELOG.md
  VERSION
  docs/04-howto/dsp-osf-customer-integration-plan.md
  integrations/Arduino/OSF_MultiSensor_R4WiFi/OSF_MultiSensor_R4WiFi.ino
  osf/apps/osf-ui/public/assets/config/external-links.json
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.label-wrapping.spec.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.html
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-architecture-component-section/dsp-architecture-component-section.component.ts
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-architecture-deployment-section/dsp-architecture-deployment-section.component.ts
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-architecture-functional-section/dsp-architecture-functional-section.component.ts
  osf/apps/osf-ui/src/app/services/__tests__/agv-route.service.spec.ts
  osf/apps/osf-ui/src/app/services/__tests__/external-links.service.spec.ts
  osf/apps/osf-ui/src/app/services/agv-route.service.ts
  osf/apps/osf-ui/src/app/services/external-links.service.ts
  osf/apps/osf-ui/src/app/services/shopfloor-rotation.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/configuration-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/settings-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/agv-tab.component.ts
  osf/apps/osf-ui/src/app/tabs/configuration-tab.component.ts
  osf/apps/osf-ui/src/app/tabs/order-tab.component.ts
  osf/apps/osf-ui/src/app/tabs/settings-tab.component.ts
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  package.json
Due: validate-mermaid-diagrams

feat(osf-ui): add HBW stock grid mirror toggle
  osf/apps/osf-ui/src/app/components/hbw-stock-grid/__tests__/hbw-stock-grid.component.spec.ts
  osf/apps/osf-ui/src/app/components/hbw-stock-grid/hbw-stock-grid.component.html
  osf/apps/osf-ui/src/app/components/hbw-stock-grid/hbw-stock-grid.component.scss
  osf/apps/osf-ui/src/app/components/hbw-stock-grid/hbw-stock-grid.component.ts
Due: none

feat(osf-ui): distinguish planned vs traveled AGV routes
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.html
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  osf/apps/osf-ui/src/app/services/__tests__/agv-route.service.spec.ts
  osf/apps/osf-ui/src/app/services/agv-route.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/agv-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/agv-tab.component.html
  osf/apps/osf-ui/src/app/tabs/agv-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/agv-tab.component.ts
Due: none

feat(osf-ui): improve Track & Trace live demo layout
  osf/apps/osf-ui/src/app/components/track-trace/__tests__/track-trace.component.spec.ts
  osf/apps/osf-ui/src/app/components/track-trace/track-trace.component.html
  osf/apps/osf-ui/src/app/components/track-trace/track-trace.component.scss
  osf/apps/osf-ui/src/app/components/track-trace/track-trace.component.ts
  osf/apps/osf-ui/src/app/services/__tests__/track-trace-environment.service.spec.ts
  osf/apps/osf-ui/src/app/services/track-trace-environment.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/track-trace-tab.component.spec.ts
Due: none

feat(osf-ui): add shopfloor follow-active-station option
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.html
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.ts
Due: none

chore(i18n): update de/fr UI messages
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
Due: none

chore(release): v1.1.3
  VERSION
  docs/04-howto/deployment/rpi-deployment.md
  docs/sprints/sprint_20.md
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: validate-mermaid-diagrams

fix(osf-ui): retain Arduino station config publish
  osf/apps/osf-ui/src/app/tabs/configuration-tab.component.ts
Due: none

chore(release): v1.1.4
  VERSION
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: none

feat(arduino): publish-on-change sensor states
  docs/05-hardware/arduino-r4-multisensor.md
  integrations/Arduino/OSF_MultiSensor_R4WiFi/OSF_MultiSensor_R4WiFi.ino
  integrations/Arduino/OSF_MultiSensor_R4WiFi/hmi.ino
Due: validate-mermaid-diagrams

fix(arduino): init gas publish state and keep serial-only build
  integrations/Arduino/OSF_MultiSensor_R4WiFi/OSF_MultiSensor_R4WiFi.ino
Due: none

chore(arduino): bump sketch version to 1.1.11
  docs/05-hardware/arduino-r4-multisensor.md
  integrations/Arduino/OSF_MultiSensor_R4WiFi/OSF_MultiSensor_R4WiFi.ino
Due: validate-mermaid-diagrams

feat(arduino): reintroduce periodic sensor telemetry for correlation
  docs/05-hardware/arduino-r4-multisensor.md
  integrations/Arduino/OSF_MultiSensor_R4WiFi/OSF_MultiSensor_R4WiFi.ino
Due: validate-mermaid-diagrams

chore(docs): close sprint 20 and start sprint 21
  docs/PROJECT_STATUS.md
  docs/sprints/sprint_20.md
  docs/sprints/sprint_21.md
Due: validate-mermaid-diagrams

feat(osf-ui): improve navigation Process → Order → Shopfloor
  docs/sprints/sprint_21.md
  osf/apps/osf-ui/src/app/components/order-card/__tests__/order-card.component.spec.ts
  osf/apps/osf-ui/src/app/components/order-card/order-card.component.html
  osf/apps/osf-ui/src/app/components/order-card/order-card.component.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/process-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/process-tab.component.html
  osf/apps/osf-ui/src/app/tabs/process-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/process-tab.component.ts
Due: validate-mermaid-diagrams

chore(release): v1.1.5
  VERSION
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: none

docs(changelog): add v1.1.5 notes
  CHANGELOG.md
Due: validate-mermaid-diagrams

feat(osf-ui): adopt OCC default mapping and harden icon checks
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
  docs/02-architecture/dsp-architecture-inventory.md
  docs/sprints/sprint_21.md
  osf/apps/osf-ui/public/assets/svg/brand/microsoft-logo.svg
  osf/apps/osf-ui/public/assets/svg/business/crm-application.svg
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/assets/icon-registry.spec.ts
  osf/apps/osf-ui/src/app/assets/icon-registry.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/DSP_Architecture_Objects_Reference.md
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/HOWTO_ADD_CUSTOMER.md
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/README.md
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/custom-icon-paths.spec.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/fmf/fmf-config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/osf/osf-config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/osf/osf-occ-2026-config.spec.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/osf/osf-occ-2026-config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/types.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.functional.config.ts
  osf/apps/osf-ui/src/app/pages/dsp/customer/customer-selector-page.component.ts
  osf/apps/osf-ui/src/app/pages/dsp/customer/osf/osf-dsp-page.component.ts
  osf/apps/osf-ui/src/app/shared/icons/icon.registry.ts
  osf/apps/osf-ui/src/assets/svg/brand/microsoft-logo.svg
  osf/apps/osf-ui/src/assets/svg/business/crm-application.svg
  osf/apps/osf-ui/src/locale/messages.fr.json
  package.json
Due: validate-mermaid-diagrams

Path conditions:
  black: any of: ^(session_manager/|scripts/).*\.py$ and \.py$
  ruff: any of: ^(session_manager/|scripts/).*\.py$ and \.py$
  validate-mermaid-diagrams: any of: \.md$
