Repository OliverBerger-ORBIS/ORBIS-Modellfabrik: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff check --fix
  language: system

validate-mermaid-diagrams:
  name: validate-mermaid-diagrams
  entry: python tools/validate_mermaid_diagrams.py
  language: system
  pass_filenames: false
  stages:
  - commit

check-mqtt-connection-loop:
  name: check-mqtt-connection-loop
  entry: python omf/scripts/check_mqtt_connection_loop.py
  language: system
  stages:
  - commit

docs: Add note about GitHub Pages build trigger requirement
  docs/github-pages-deployment.md
Due: validate-mermaid-diagrams

fix: GitHub Pages deployment with hash routing and fixture loading
  docs/github-pages-deployment.md
  omf3/apps/ccu-ui/public/404.html
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/main.ts
  omf3/libs/testing-fixtures/src/index.ts
  scripts/deploy-gh-pages-test.bat
  scripts/deploy-gh-pages-test.sh
Due: validate-mermaid-diagrams

feat: improve camera control UI and fix build warnings
  docs/07-analysis/publish-buttons-analysis.md
  docs/07-analysis/publish-buttons-tests-summary.md
  omf3/apps/ccu-ui/project.json
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.ts
  omf3/apps/ccu-ui/tsconfig.app.json
  omf3/libs/business/project.json
  omf3/libs/business/src/__tests__/publish-commands.spec.ts
  omf3/libs/business/src/index.ts
Due: validate-mermaid-diagrams

feat: improve I18n support and update FTS/AGV terminology
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.html
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.ts
  omf3/apps/ccu-ui/src/app/fts-view.component.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/message-monitor-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/message-monitor-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.html
Due: none

Deploy: GitHub Pages deployment for accessibility check
  chunk-2BSEYKU4.js
  chunk-4AAD77RI.js
  chunk-4OZED3LP.js
  chunk-6LGWFTNG.js
  chunk-ACLL5TL7.js
  chunk-DQWHEUEW.js
  chunk-EG4ZXAI4.js
  chunk-GMYZV4FV.js
  chunk-IPAIXQT6.js
  chunk-JMSOLVBF.js
  chunk-NRNFIL5J.js
  chunk-OAWGQFSQ.js
  chunk-PBIX5FBW.js
  chunk-QGR3GKWK.js
  chunk-SOS7JNXN.js
  chunk-SSJ7ZFJO.js
  chunk-WUZKHHWQ.js
  chunk-XC6NLJDC.js
  index.html
  locale/messages.de.json
  locale/messages.fr.json
  main-MMZNJRZ6.js
  main-ZTJZYMYT.js
Due: none

feat(omf3): Improve order card display and shopfloor controls
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.html
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.scss
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.ts
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.html
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.ts
Due: none

Add WebSocket MQTT diagnostic toolkit for Mac+Chrome connection failures (#88)
  docs/04-howto/mqtt-websocket-debug-guide.md
  omf3/libs/mqtt-client/src/websocket-adapter.ts
  tools/QUICK-START-DEBUG.md
  tools/README-mqtt-debug.md
  tools/mqtt-debug-results-template.md
  tools/mqtt-debug.html
Due: validate-mermaid-diagrams

feat: Add fixture selection and fix data consistency across tabs
  omf3/apps/ccu-ui/src/app/services/connection.service.ts
  omf3/apps/ccu-ui/src/app/services/message-monitor.service.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.ts
Due: none

fix: Order-Button sendet jetzt korrekt ccu/order/request Topic
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.ts
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/services/connection.service.ts
  omf3/apps/ccu-ui/src/app/tabs/message-monitor-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/libs/gateway/src/index.ts
Due: none

Fix MessageMonitor restore race conditions, add publish-on-disconnect reconnect, tab-specific fixture loading, and camera topic bypass mode (#89)
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/services/__tests__/message-monitor.service.spec.ts
  omf3/apps/ccu-ui/src/app/services/connection.service.ts
  omf3/apps/ccu-ui/src/app/services/message-monitor.service.ts
  omf3/apps/ccu-ui/src/app/tabs/EXAMPLE-TAB-FIXTURES.md
  omf3/libs/mqtt-client/src/websocket-adapter.ts
  omf3/libs/testing-fixtures/TAB-FIXTURES.md
  omf3/libs/testing-fixtures/src/index.ts
  omf3/libs/testing-fixtures/src/tab-fixtures.ts
  scripts/README-replay.md
  scripts/replay-sessions.ts
Due: validate-mermaid-diagrams

fix: replay cached mqtt data for dashboard tabs
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.ts
Due: none

fix: remove “configured” column from module overview
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.ts
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/module-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
  omf3/testing/fixtures/modules/startup.log
Due: none

chore: cache module and sensor tab state
  omf3/apps/ccu-ui/src/app/services/inventory-state.service.ts
  omf3/apps/ccu-ui/src/app/services/module-overview-state.service.ts
  omf3/apps/ccu-ui/src/app/services/sensor-state.service.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/module-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.ts
Due: none

fix: finalize order and sensor ui updates
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.ts
  omf3/apps/ccu-ui/src/app/services/connection.service.ts
  omf3/apps/ccu-ui/src/app/tabs/message-monitor-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.scss
Due: none

feat(dsp-detail): align DSP view styling and i18n copy with PPT spec
  omf3/apps/ccu-ui/public/details/dsp/azure.svg
  omf3/apps/ccu-ui/public/details/dsp/cloud-computing.svg
  omf3/apps/ccu-ui/public/details/dsp/dashboard.svg
  omf3/apps/ccu-ui/public/details/dsp/data-lake.svg
  omf3/apps/ccu-ui/public/details/dsp/digital-twin.svg
  omf3/apps/ccu-ui/public/details/dsp/network.svg
  omf3/apps/ccu-ui/public/details/dsp/sap.svg
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/apps/ccu-ui/src/app/assets/detail-asset-map.ts
  omf3/apps/ccu-ui/src/app/components/dsp-detail/dsp-detail.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-detail/dsp-detail.component.scss
  omf3/apps/ccu-ui/src/app/components/dsp-detail/dsp-detail.component.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-detail.types.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
Due: none

chore(session-manager): silence unused loop var
  session_manager/components/session_analysis.py
Due: black, ruff, check-mqtt-connection-loop

chore(session-manager): use collections.deque in logging
  session_manager/utils/logging_config.py
  session_manager/utils/streamlit_log_buffer.py
Due: black, ruff, check-mqtt-connection-loop

feat(omf3): Update DSP detail view and add architecture component spec
  docs/dsp-architecture-component-spec.md
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.scss
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
Due: validate-mermaid-diagrams

chore: Update test topics and archive documentation
  data/omf-data/test_topics/README.md
  data/omf-data/test_topics/order_blue_via_txt.json
  data/omf-data/test_topics/order_red_via_txt.json
  data/omf-data/test_topics/order_white_direct_ccu.json
  data/omf-data/test_topics/order_white_via_txt.json
  docs/archive/analysis/aps-mqtt-logs/README.md
Due: validate-mermaid-diagrams

Add Icon-Key-Mapping and flexible DSP/Shopfloor configuration for omf3 (#92)
  omf3/apps/ccu-ui/src/app/assets/icon-registry.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.scss
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.types.ts
  omf3/apps/ccu-ui/src/app/components/dsp-detail/dsp-detail.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-detail/dsp-detail.component.scss
  omf3/apps/ccu-ui/src/app/components/dsp-detail/dsp-detail.component.ts
  omf3/apps/ccu-ui/src/app/services/external-links.service.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-detail.types.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
Due: none

feat(ui): Improve DSP Architecture and ORBIS Detail styling
  omf3/apps/ccu-ui/public/details/dsp/adaptation.svg
  omf3/apps/ccu-ui/public/details/dsp/adaptation_1.svg
  omf3/apps/ccu-ui/public/details/dsp/data-visualization.svg
  omf3/apps/ccu-ui/public/details/dsp/database-storage.svg
  omf3/apps/ccu-ui/public/details/dsp/digital-twin_1.svg
  omf3/apps/ccu-ui/public/details/dsp/encryption.svg
  omf3/apps/ccu-ui/public/details/dsp/group.svg
  omf3/apps/ccu-ui/public/details/dsp/process.svg
  omf3/apps/ccu-ui/public/details/dsp/process_1.svg
  omf3/apps/ccu-ui/public/details/dsp/process_2.svg
  omf3/apps/ccu-ui/public/details/dsp/storage-device.svg
  omf3/apps/ccu-ui/public/details/dsp/technology-iot.svg
  omf3/apps/ccu-ui/src/app/assets/icon-registry.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.scss
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.config.ts
  omf3/apps/ccu-ui/src/app/components/orbis-detail/orbis-detail.component.html
  omf3/apps/ccu-ui/src/app/components/orbis-detail/orbis-detail.component.scss
Due: none

feat(ui): Complete ORBIS CI color palette migration
  docs/color-migration-status.md
  docs/color-migration-strategy.md
  omf3/apps/ccu-ui/src/app/app.component.html
  omf3/apps/ccu-ui/src/app/app.component.scss
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/assets/README-color-palette.md
  omf3/apps/ccu-ui/src/app/assets/_color-palette.scss
  omf3/apps/ccu-ui/src/app/assets/color-palette.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.scss
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-detail/dsp-detail.component.scss
  omf3/apps/ccu-ui/src/app/components/orbis-detail/orbis-detail.component.scss
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.scss
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/apps/ccu-ui/src/app/fts-view.component.scss
  omf3/apps/ccu-ui/src/app/module-map.component.scss
  omf3/apps/ccu-ui/src/app/orders-view.component.scss
  omf3/apps/ccu-ui/src/app/stock-view.component.scss
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/settings-tab.component.scss
  omf3/apps/ccu-ui/src/index.html
  omf3/apps/ccu-ui/src/styles.scss
Due: validate-mermaid-diagrams

fix(shopfloor): Correct label positioning and fix test pattern
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.html
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/services/connection.service.ts
  omf3/apps/ccu-ui/src/app/services/external-links.service.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/tab-stream-pattern.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-detail.types.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/dsp-action-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/dsp-action-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/dsp-action-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/settings-tab.component.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
  omf3/apps/ccu-ui/src/main.ts
  omf3/libs/testing-fixtures/src/dsp-action-fixtures.ts
  omf3/libs/testing-fixtures/src/index.ts
Due: none

fix(dsp-architecture): Reduce font size and enable auto-wrapping for device labels
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.config.ts
Due: none

feat(module-tab): Add module details sidebar and fix fixture loading
  docs/fixture-system-analysis.md
  omf3/apps/ccu-ui/src/app/components/module-details-sidebar/module-details-sidebar.component.html
  omf3/apps/ccu-ui/src/app/components/module-details-sidebar/module-details-sidebar.component.scss
  omf3/apps/ccu-ui/src/app/components/module-details-sidebar/module-details-sidebar.component.ts
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.html
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/module-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/dsp-action-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/dsp-action-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/dsp-action-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/message-monitor-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.ts
  omf3/libs/testing-fixtures/src/index.ts
  omf3/libs/testing-fixtures/src/module-shopfloor-status-fixtures.ts
  omf3/libs/testing-fixtures/src/module-status-fixtures.ts
  omf3/libs/testing-fixtures/src/tab-fixtures.ts
Due: validate-mermaid-diagrams

fix(orbis-detail): Fix SVG icon paths for GitHub Pages deployment
  omf3/apps/ccu-ui/src/app/assets/detail-asset-map.ts
  omf3/apps/ccu-ui/src/app/components/orbis-detail/orbis-detail.component.html
  omf3/apps/ccu-ui/src/app/components/orbis-detail/orbis-detail.component.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
Due: none

feat: FTS Session Analysis and PR Documentation
  data/omf-data/fts-analysis/README.md
  data/omf-data/fts-analysis/production_order_bwr_20251110_182819_all_fts_messages.json
  data/omf-data/fts-analysis/production_order_bwr_20251110_182819_ccu_order.json
  data/omf-data/fts-analysis/production_order_bwr_20251110_182819_fts_connection.json
  data/omf-data/fts-analysis/production_order_bwr_20251110_182819_fts_factsheet.json
  data/omf-data/fts-analysis/production_order_bwr_20251110_182819_fts_instant_action.json
  data/omf-data/fts-analysis/production_order_bwr_20251110_182819_fts_order.json
  data/omf-data/fts-analysis/production_order_bwr_20251110_182819_fts_state.json
  data/omf-data/fts-analysis/production_order_bwr_20251110_182819_metadata.json
  data/omf-data/fts-analysis/production_order_bwr_20251110_182819_module_state.json
  data/omf-data/fts-analysis/storage_order_blue_20251110_181104_all_fts_messages.json
  data/omf-data/fts-analysis/storage_order_blue_20251110_181104_ccu_order.json
  data/omf-data/fts-analysis/storage_order_blue_20251110_181104_fts_connection.json
  data/omf-data/fts-analysis/storage_order_blue_20251110_181104_fts_factsheet.json
  data/omf-data/fts-analysis/storage_order_blue_20251110_181104_fts_instant_action.json
  data/omf-data/fts-analysis/storage_order_blue_20251110_181104_fts_order.json
  data/omf-data/fts-analysis/storage_order_blue_20251110_181104_fts_state.json
  data/omf-data/fts-analysis/storage_order_blue_20251110_181104_metadata.json
  data/omf-data/fts-analysis/storage_order_blue_20251110_181104_module_state.json
  data/omf-data/fts-analysis/storage_order_red_20251110_181336_all_fts_messages.json
  data/omf-data/fts-analysis/storage_order_red_20251110_181336_ccu_order.json
  data/omf-data/fts-analysis/storage_order_red_20251110_181336_fts_connection.json
  data/omf-data/fts-analysis/storage_order_red_20251110_181336_fts_factsheet.json
  data/omf-data/fts-analysis/storage_order_red_20251110_181336_fts_instant_action.json
  data/omf-data/fts-analysis/storage_order_red_20251110_181336_fts_order.json
  data/omf-data/fts-analysis/storage_order_red_20251110_181336_fts_state.json
  data/omf-data/fts-analysis/storage_order_red_20251110_181336_metadata.json
  data/omf-data/fts-analysis/storage_order_red_20251110_181336_module_state.json
  data/omf-data/fts-analysis/storage_order_white_20251110_181619_all_fts_messages.json
  data/omf-data/fts-analysis/storage_order_white_20251110_181619_ccu_order.json
  data/omf-data/fts-analysis/storage_order_white_20251110_181619_fts_connection.json
  data/omf-data/fts-analysis/storage_order_white_20251110_181619_fts_factsheet.json
  data/omf-data/fts-analysis/storage_order_white_20251110_181619_fts_instant_action.json
  data/omf-data/fts-analysis/storage_order_white_20251110_181619_fts_order.json
  data/omf-data/fts-analysis/storage_order_white_20251110_181619_fts_state.json
  data/omf-data/fts-analysis/storage_order_white_20251110_181619_metadata.json
  data/omf-data/fts-analysis/storage_order_white_20251110_181619_module_state.json
  docs/pr-descriptions/fts-analysis-example-app.md
  docs/pr-descriptions/fts-analysis-pr-summary.md
  scripts/analyze_fts_sessions.py
Due: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

test: Integration-Tests deaktiviert (Jest-Umgebungs-Limitierungen)
  omf3/apps/ccu-ui/src/app/tabs/__tests__/message-monitor-tab.integration.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/order-tab.integration.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/overview-tab.integration.spec.ts
Due: none

docs: Add DSP Architecture Component Spec to README (merge preparation)
  docs/02-architecture/README.md
Due: validate-mermaid-diagrams

test: Add comprehensive tests for FtsRouteService and FtsAnimationService
  omf3/apps/ccu-ui/src/app/services/__tests__/fts-animation.service.spec.ts
  omf3/apps/ccu-ui/src/app/services/__tests__/fts-route.service.spec.ts
Due: none

feat: Add Track & Trace tab with fixture support
  docs/03-decision-records/12-track-trace-architecture.md
  docs/analysis/fts-component-svg-mapping.md
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/components/track-trace/track-trace.component.html
  omf3/apps/ccu-ui/src/app/components/track-trace/track-trace.component.scss
  omf3/apps/ccu-ui/src/app/components/track-trace/track-trace.component.ts
  omf3/apps/ccu-ui/src/app/services/__tests__/module-name.service.spec.ts
  omf3/apps/ccu-ui/src/app/services/fts-animation.service.ts
  omf3/apps/ccu-ui/src/app/services/fts-route.service.ts
  omf3/apps/ccu-ui/src/app/services/module-name.service.ts
  omf3/apps/ccu-ui/src/app/services/workpiece-history.service.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/fts-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/overview-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/sensor-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/track-trace-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/track-trace-tab.component.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
  omf3/libs/testing-fixtures/src/index.ts
  omf3/libs/testing-fixtures/src/tab-fixtures.ts
  omf3/testing/fixtures/orders/track-trace/track-trace.log
Due: validate-mermaid-diagrams

Fix fixture system message flow disconnection on reload (#94)
  docs/FIXTURE_SYSTEM_FIX.md
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/libs/testing-fixtures/README.md
Due: validate-mermaid-diagrams

feat: add DSP logo assets and update external links defaults
  omf3/apps/ccu-ui/public/details/dsp/aws_logo.svg
  omf3/apps/ccu-ui/public/details/dsp/azure_logo.svg
  omf3/apps/ccu-ui/public/details/dsp/docker_logo.svg
  omf3/apps/ccu-ui/public/details/dsp/googlecloud_logo.svg
  omf3/apps/ccu-ui/public/details/dsp/grafana_logo.svg
  omf3/apps/ccu-ui/public/details/dsp/kubernetes_logo.svg
  omf3/apps/ccu-ui/src/app/services/__tests__/connection.service.spec.ts
  omf3/apps/ccu-ui/src/app/services/external-links.service.ts
Due: none

refactor: centralize shopfloor mapping and route docs
  docs/02-architecture/shopfloor-mapping-service.md
  docs/02-architecture/shopfloor-route-calculation.md
  docs/07-analysis/shopfloor-layout-refactoring-plan.md
  omf3/apps/ccu-ui/public/details/dsp/crm-application.svg
  omf3/apps/ccu-ui/public/details/dsp/erp.application.svg
  omf3/apps/ccu-ui/public/details/dsp/scm-application.svg
  omf3/apps/ccu-ui/public/shopfloor/shopfloor_layout.json
  omf3/apps/ccu-ui/src/app/components/module-details-sidebar/module-details-sidebar.component.ts
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/apps/ccu-ui/src/app/services/fts-animation.service.ts
  omf3/apps/ccu-ui/src/app/services/fts-route.service.ts
  omf3/apps/ccu-ui/src/app/services/module-name.service.ts
  omf3/apps/ccu-ui/src/app/services/shopfloor-mapping.service.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/module-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/message-monitor-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
Due: validate-mermaid-diagrams

Path conditions:
  black: any of: \.py$, but not: ^\.gitignore$
  ruff: any of: \.py$
  validate-mermaid-diagrams: any of: \.md$
  check-mqtt-connection-loop: any of: \.py$
