Repository OliverBerger-ORBIS/ORBIS-Modellfabrik: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: '^\.gitignore$'

# isort entfernt - verursacht Import-Probleme
      # - id: isort
      #   name: isort
      #   entry: isort
      #   language: system
      #   types: [python]

      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]

      - id: pytest
        name: pytest
        entry: python -m pytest -q
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-project-structure
        name: validate-project-structure
        entry: python omf/scripts/validate_project_structure.py
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-dashboard-rules
        name: validate-dashboard-rules
        entry: python omf/scripts/validate_dashboard_rules.py --include-dashboard --loose
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-development-rules
        name: validate-development-rules
        entry: python omf/scripts/validate_development_rules.py
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-mermaid-diagrams
        name: validate-mermaid-diagrams
        entry: python tools/validate_mermaid_diagrams.py
        language: system
        files: \.md$
        pass_filenames: false
        stages: [commit]

      - id: check-st-rerun
        name: check-st-rerun
        entry: python omf/scripts/check_st_rerun.py
        language: system
        types: [python]
        stages: [commit]

      - id: check-mqtt-connection-loop
        name: check-mqtt-connection-loop
        entry: python omf/scripts/check_mqtt_connection_loop.py
        language: system
        types: [python]
        stages: [commit]

feat: Implement Factory Steering with Gateway Pattern
  docs/03-decision-records/08-ui-architecture-rules.md
  omf2/README.md
  omf2/admin/admin_gateway.py
  omf2/common/i18n.py
  omf2/registry/schemas/fts_v1_ff_serial_factsheet.schema.json
  omf2/registry/schemas/module_v1_ff_serial_factsheet.schema.json
  omf2/registry/schemas/wildcard.schema.json
  omf2/registry/tools/schema_test_runner.py
  omf2/registry/topics/ccu.yml
  omf2/registry/topics/nodered.yml
  omf2/registry/topics/txt.yml
  omf2/ui/admin/generic_steering/components/__init__.py
  omf2/ui/admin/generic_steering/components/payload_generator.py
  omf2/ui/admin/generic_steering/components/schema_tester.py
  omf2/ui/admin/generic_steering/components/topic_selector.py
  omf2/ui/admin/generic_steering/factory_steering_subtab.py
  omf2/ui/admin/generic_steering/topic_steering_subtab.py
  omf2/ui/admin/generic_steering/topic_steering_subtab_old.py
  omf2/ui/admin/logs/logs_tab.py
  omf2/ui/common/components/__init__.py
  omf2/ui/common/components/payload_generator.py
  omf2/ui/common/components/schema_tester.py
  omf2/ui/common/components/topic_selector.py
  omf2/ui/user_manager.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

Refactor: Move components to common, cleanup old structure
  omf2/ui/admin/generic_steering/components/__init__.py
  omf2/ui/admin/generic_steering/components/payload_generator.py
  omf2/ui/admin/generic_steering/components/schema_tester.py
  omf2/ui/admin/generic_steering/components/topic_selector.py
  omf2/ui/common/components/payload_generator.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Remove deprecated files and old message templates
  omf2/IMPLEMENTATION_STATUS.md
  omf2/architektur-mqtt-gateway-streamlit.md
  omf2/common/message_templates.py
  omf2/projekt-struktur-omf2.md
  omf2/refactoring-backlog-omf2.md
  omf2/tests/test_message_templates.py
  omf2/tests/test_registry_v2_integration.py
  omf2/tests/test_registry_v2_integration_simple.py
  omf2/ui/admin/generic_steering/topic_steering_subtab_old.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Add get_topic_config method to Registry Manager
  omf2/registry/manager/registry_manager.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Integrate Registry Manager in all Gateways
  omf2/admin/admin_gateway.py
  omf2/admin/admin_mqtt_client.py
  omf2/ccu/ccu_gateway.py
  omf2/ccu/ccu_mqtt_client.py
  omf2/nodered/nodered_gateway.py
  omf2/nodered/nodered_pub_mqtt_client.py
  omf2/nodered/nodered_sub_mqtt_client.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

fix: Correct test naming conventions and fix test issues
  omf2/tests/test_admin_mqtt_client.py
  omf2/tests/test_ccu_mqtt_client.py
  omf2/tests/test_comprehensive_architecture.py
  omf2/tests/test_gateway_factory.py
  omf2/tests/test_st_rerun_forbidden.py
  omf2/tests/test_ui_components.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Integrate UISymbols in UI components
  omf2/ui/admin/admin_settings/admin_settings_tab.py
  omf2/ui/admin/generic_steering/factory_steering_subtab.py
  omf2/ui/admin/generic_steering/generic_steering_tab.py
  omf2/ui/admin/message_center/message_center_tab.py
  omf2/ui/main_dashboard.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Add comprehensive documentation and new components
  omf2/docs/ARCHITECTURE.md
  omf2/docs/CCU_DOMAIN_SYMBOL_GUIDELINES.md
  omf2/docs/CRITICAL_TEST_FAILURES.md
  omf2/docs/IMPLEMENTATION_STATUS.md
  omf2/docs/KNOWN_TEST_ISSUES.md
  omf2/docs/PROJECT_STRUCTURE.md
  omf2/docs/REFACTORING_BACKLOG.md
  omf2/docs/SYMBOL_IMPLEMENTATION_GUIDE.md
  omf2/docs/TODO_COMMENT_GUIDELINES.md
  omf2/docs/UI_DEVELOPMENT_GUIDE.md
  omf2/docs/UI_SYMBOL_STYLE_GUIDE.md
  omf2/scripts/test_symbol_consistency.py
  omf2/tests/test_registry_integration.py
  omf2/tests/test_registry_manager_comprehensive.py
  omf2/ui/common/symbols.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

docs: Update README with consolidated documentation structure
  omf2/README.md
Due: validate-mermaid-diagrams

✅ CCU Modules Tab: Availability Status korrekt implementiert
  docs/archive/SYMBOL_DECISION_MATRIX_RECONSTRUCTED_2025-10-02.md
  omf2/README.md
  omf2/admin/admin_gateway.py
  omf2/admin/admin_message_manager.py
  omf2/ccu/ccu_gateway.py
  omf2/ccu/module_manager.py
  omf2/common/message_manager.py
  omf2/common/topic_manager.py
  omf2/docs/IMPLEMENTATION_STATUS.md
  omf2/docs/PROJECT_STRUCTURE.md
  omf2/docs/REFACTORING_BACKLOG.md
  omf2/registry/manager/registry_manager.py
  omf2/registry/workpieces.yml
  omf2/tests/test_admin_message_manager.py
  omf2/tests/test_message_manager.py
  omf2/tests/test_streamlit_dashboard.py
  omf2/tests/test_topic_manager.py
  omf2/ui/admin/admin_settings/admin_settings_tab.py
  omf2/ui/admin/admin_settings/mqtt_subtab.py
  omf2/ui/admin/admin_settings/workpiece_subtab.py
  omf2/ui/admin/generic_steering/generic_steering_tab.py
  omf2/ui/admin/message_center/message_center_tab.py
  omf2/ui/admin/message_center/message_monitor_subtab.py
  omf2/ui/admin/message_center/send_test_message_subtab.py
  omf2/ui/admin/message_center/topic_monitor_subtab.py
  omf2/ui/admin/system_logs/__init__.py
  omf2/ui/admin/system_logs/system_logs_tab.py
  omf2/ui/ccu/ccu_modules/ccu_modules_tab.py
  omf2/ui/common/symbols.py
  omf2/ui/user_manager.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

📚 ARCHITECTURE.md: Domain-agnostic Manager Pattern dokumentiert
  omf2/docs/ARCHITECTURE.md
Due: validate-mermaid-diagrams

Schema Validation funktioniert nicht!
  omf2/assets/html_templates.py
  omf2/ccu/module_manager.py
  omf2/ccu/sensor_manager.py
  omf2/common/product_manager.py
  omf2/docs/ARCHITECTURE.md
  omf2/docs/MESSAGE_PROCESSING_PATTERN.md
  omf2/registry/mqtt_clients.yml
  omf2/registry/products.yml
  omf2/registry/topics/txt.yml
  omf2/ui/ccu/ccu_overview/ccu_overview_tab.py
  omf2/ui/ccu/ccu_overview/customer_order_subtab.py
  omf2/ui/ccu/ccu_overview/inventory_subtab.py
  omf2/ui/ccu/ccu_overview/product_catalog_subtab.py
  omf2/ui/ccu/ccu_overview/purchase_order_subtab.py
  omf2/ui/ccu/ccu_overview/sensor_data_subtab.py
  omf2/ui/ccu/ccu_overview/sensor_data_subtab_old.py
  omf2/ui/ccu/ccu_overview/sensor_data_subtab_refactored.py
  omf2/ui/common/symbols.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Business-Manager Pattern für Sensor-Daten implementiert
  omf2/ccu/ccu_mqtt_client.py
  omf2/ccu/module_manager.py
  omf2/ccu/sensor_manager.py
  omf2/docs/ARCHITECTURE.md
  omf2/registry/manager/registry_manager.py
  omf2/registry/mqtt_clients.yml
  omf2/tests/test_business_manager_pattern.py
  omf2/ui/ccu/ccu_modules/ccu_modules_tab.py
  omf2/ui/ccu/ccu_overview/sensor_data_subtab.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

fix: Logger-Problem behoben - zentrales Logging-System integriert
  omf2/ccu/module_manager.py
  omf2/ccu/sensor_manager.py
  omf2/common/logger.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Logger-Konfiguration implementiert - einfach konfigurierbar
  omf2/common/logging_config.py
  omf2/config/README_LOGGING.md
  omf2/config/logging_config.yml
  omf2/omf.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

fix: System Logs UI implementiert - echte Log-Einträge anzeigen
  omf2/ui/admin/system_logs/system_logs_tab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Log Management Tab implementiert - Live Logger-Konfiguration
  omf2/common/logging_config.py
  omf2/ui/admin/system_logs/system_logs_tab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

fix: Log Management Tab übersichtlicher + Module Manager Debug funktioniert
  omf2/ccu/module_manager.py
  omf2/ui/admin/system_logs/system_logs_tab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

fix: Progress Bar Error behoben - Normalisierung korrigiert
  omf2/ui/ccu/ccu_overview/sensor_data_subtab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

fix: deque mutated during iteration Error behoben
  omf2/ui/ccu/ccu_message_monitor/ccu_message_monitor_component.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Business-Manager Pattern vollständig implementiert
  omf2/ccu/ccu_mqtt_client.py
  omf2/ccu/module_manager.py
  omf2/ccu/sensor_manager.py
  omf2/docs/ARCHITECTURE.md
  omf2/registry/mqtt_clients.yml
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Add Factsheet Preload functionality to Replay Station
  data/omf-data/sessions/factsheets/README.md
  data/omf-data/sessions/factsheets/fts_v1_ff_5iO4_factsheet__000060.json
  data/omf-data/sessions/factsheets/module_v1_ff_SVR3QA0022_factsheet__000046.json
  data/omf-data/sessions/factsheets/module_v1_ff_SVR3QA2098_factsheet__000036.json
  data/omf-data/sessions/factsheets/module_v1_ff_SVR4H73275_factsheet__000054.json
  data/omf-data/sessions/factsheets/module_v1_ff_SVR4H76449_factsheet__000037.json
  data/omf-data/sessions/factsheets/module_v1_ff_SVR4H76530_factsheet__000042.json
  omf/helper_apps/session_manager/components/replay_station.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Implement three-layer architecture (MQTT Client → Gateway → Business Manager)
  README.md
  data/omf-data/sessions/factsheets/fts_v1_ff_5iO4_factsheet.json
  data/omf-data/sessions/factsheets/module_v1_ff_SVR3QA0022_factsheet.json
  data/omf-data/sessions/factsheets/module_v1_ff_SVR3QA2098_factsheet.json
  data/omf-data/sessions/factsheets/module_v1_ff_SVR4H73275_factsheet.json
  data/omf-data/sessions/factsheets/module_v1_ff_SVR4H76449_factsheet.json
  data/omf-data/sessions/factsheets/module_v1_ff_SVR4H76530_factsheet.json
  omf/helper_apps/session_manager/components/replay_station.py
  omf2/admin/admin_gateway.py
  omf2/admin/admin_mqtt_client.py
  omf2/ccu/ccu_gateway.py
  omf2/ccu/ccu_mqtt_client.py
  omf2/ccu/module_manager.py
  omf2/ccu/sensor_manager.py
  omf2/common/logger.py
  omf2/common/logging_config.py
  omf2/config/logging_config.yml
  omf2/docs/ARCHITECTURE.md
  omf2/docs/CRITICAL_TEST_FAILURES.md
  omf2/docs/IMPLEMENTATION_STATUS.md
  omf2/docs/KNOWN_TEST_ISSUES.md
  omf2/docs/PROJECT_STRUCTURE.md
  omf2/docs/REFACTORING_BACKLOG.md
  omf2/docs/REGISTRY_TOPIC_STRUCTURE.md
  omf2/docs/TOPIC_SCHEMA_CORRELATION.md
  omf2/factory/gateway_factory.py
  omf2/omf.py
  omf2/registry/mqtt_clients.yml
  omf2/registry/schemas/ccu_pairing_state.schema.json
  omf2/registry/schemas/fts_v1_ff_serial_state.schema.json
  omf2/registry/schemas/module_v1_ff_serial_order.schema.json
  omf2/tests/test_comprehensive_architecture.py
  omf2/tests/test_ui_components.py
  omf2/ui/admin/message_center/message_monitor_subtab.py
  omf2/ui/admin/message_center/topic_monitor_subtab.py
  omf2/ui/admin/system_logs/error_warning_tab.py
  omf2/ui/admin/system_logs/system_logs_tab.py
  omf2/ui/ccu/ccu_message_monitor/ccu_message_monitor_component.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Replace Graph Analysis with Payload Sequence Visualization
  omf/helper_apps/session_manager/components/graph_analyzer.py
  omf/helper_apps/session_manager/components/graph_visualizer.py
  omf/helper_apps/session_manager/components/session_analysis.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

WIP: Logging system handler persistence improvements
  omf2/common/logger.py
  omf2/config/logging_config.yml
  omf2/docs/LOG_DISPLAY_IMPROVEMENTS.md
  omf2/docs/LOG_DISPLAY_TOGGLE.md
  omf2/omf.py
  omf2/ui/admin/system_logs/error_warning_tab.py
  omf2/ui/admin/system_logs/system_logs_tab.py
  omf2/ui/main_dashboard.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

docs: Add terminal commands rule for .venv activation
  .cursorrules
Due: none

feat: Complete Architecture & Logging Foundation
  .cursorrules
  omf2/ccu/sensor_manager.py
  omf2/common/logger.py
  omf2/docs/ARCHITECTURE.md
  omf2/docs/MESSAGE_PROCESSING_PATTERN.md
  omf2/omf.py
  omf2/ui/admin/system_logs/system_logs_tab.py
  omf2/ui/ccu/ccu_message_monitor/ccu_message_monitor_component.py
  omf2/ui/ccu/ccu_modules/ccu_modules_tab.py
  omf2/ui/ccu/ccu_overview/ccu_overview_tab.py
  omf2/ui/ccu/ccu_overview/sensor_data_subtab.py
  omf2/ui/ccu/ccu_overview/sensor_data_subtab_old.py
  omf2/ui/ccu/ccu_overview/sensor_data_subtab_refactored.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: CCU Domain Configuration System
  omf/helper_apps/session_manager/components/session_analysis.py
  omf2/ccu/config_loader.py
  omf2/config/ccu/production_settings.json
  omf2/config/ccu/production_workflows.json
  omf2/config/ccu/production_workflows_omf1.yml
  omf2/config/ccu/products_omf1.yml
  omf2/config/ccu/shopfloor_layout.json
  omf2/docs/ARCHITECTURE.md
  omf2/docs/PROJECT_STRUCTURE.md
  omf2/registry/mqtt_clients.yml
  omf2/registry/topics/ccu.yml
  omf2/registry/topics/fts.yml
  omf2/registry/topics/module.yml
  omf2/registry/topics/nodered.yml
  omf2/registry/topics/txt.yml
  omf2/tests/test_ccu_config_loader.py
  omf2/tests/test_ccu_parameter_configuration_subtab.py
  omf2/ui/admin/admin_settings/mqtt_clients_subtab.py
  omf2/ui/ccu/ccu_configuration/ccu_configuration_tab.py
  omf2/ui/ccu/ccu_configuration/ccu_factory_configuration_subtab.py
  omf2/ui/ccu/ccu_configuration/ccu_parameter_configuration_subtab.py
  omf2/ui/ccu/common/__init__.py
  omf2/ui/ccu/common/shopfloor_layout.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Fix MQTT Connection Loops and implement Environment Switch
  omf2/README.md
  omf2/ccu/ccu_mqtt_client.py
  omf2/common/i18n.py
  omf2/config/logging_config.yml
  omf2/config/user_roles.yml
  omf2/docs/ADMIN_CCU_CLIENT_BEHAVIOR_ANALYSIS.md
  omf2/docs/ARCHITECTURE.md
  omf2/docs/CONNECTION_LOOP_FIXES_DECISION_RECORD.md
  omf2/docs/PROJECT_STRUCTURE.md
  omf2/docs/UI_DEVELOPMENT_GUIDE.md
  omf2/factory/client_factory.py
  omf2/factory/gateway_factory.py
  omf2/tests/test_ccu_production_monitoring_subtab.py
  omf2/tests/test_ccu_production_plan_subtab.py
  omf2/ui/admin/admin_settings/admin_settings_tab.py
  omf2/ui/admin/generic_steering/generic_steering_tab.py
  omf2/ui/admin/message_center/message_center_tab.py
  omf2/ui/admin/system_logs/error_warning_tab.py
  omf2/ui/admin/system_logs/system_logs_tab.py
  omf2/ui/ccu/ccu_configuration/ccu_configuration_tab.py
  omf2/ui/ccu/ccu_configuration/ccu_factory_configuration_subtab.py
  omf2/ui/ccu/ccu_configuration/ccu_parameter_configuration_subtab.py
  omf2/ui/ccu/ccu_modules/ccu_modules_tab.py
  omf2/ui/ccu/ccu_orders/ccu_orders_tab.py
  omf2/ui/ccu/ccu_overview/ccu_overview_tab.py
  omf2/ui/ccu/ccu_process/ccu_process_tab.py
  omf2/ui/ccu/ccu_process/ccu_production_monitoring_subtab.py
  omf2/ui/ccu/ccu_process/ccu_production_plan_subtab.py
  omf2/ui/common/symbols.py
  omf2/ui/main_dashboard.py
  omf2/ui/nodered/nodered_overview/nodered_overview_tab.py
  omf2/ui/nodered/nodered_processes/nodered_processes_tab.py
  omf2/ui/utils/environment_switch.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat(omf2): Order Manager Integration mit Inventory Subtab
  omf2/assets/html_templates.py
  omf2/ccu/ccu_gateway.py
  omf2/ccu/module_manager.py
  omf2/ccu/order_manager.py
  omf2/common/i18n.py
  omf2/config/ccu/production_settings.json
  omf2/config/logging_config.yml
  omf2/docs/ARCHITECTURE.md
  omf2/docs/ORDER_MANAGER_BLOCKING_PROBLEM.md
  omf2/ui/admin/system_logs/system_logs_tab.py
  omf2/ui/ccu/ccu_overview/inventory_subtab.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat(ccu-overview): Implement complete CCU Overview Tab with Order Management
  omf2/ccu/ccu_gateway.py
  omf2/ccu/order_manager.py
  omf2/docs/PROJECT_STRUCTURE.md
  omf2/docs/REFACTORING_BACKLOG.md
  omf2/ui/ccu/ccu_overview/customer_order_subtab.py
  omf2/ui/ccu/ccu_overview/inventory_subtab.py
  omf2/ui/ccu/ccu_overview/purchase_order_subtab.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat(session-manager): Add Test-Topic Management to Replay Station
  data/omf-data/sessions/factsheets/README.md
  data/omf-data/test_topics/README.md
  data/omf-data/test_topics/ccu_order_active__000056.json
  data/omf-data/test_topics/ccu_order_active__000064.json
  data/omf-data/test_topics/ccu_order_active__000071.json
  data/omf-data/test_topics/ccu_order_active__000078.json
  data/omf-data/test_topics/ccu_order_active__emptyPayload.json
  data/omf-data/test_topics/ccu_order_active__payload01.json
  data/omf-data/test_topics/ccu_order_completed__000094.json
  data/omf-data/test_topics/ccu_order_completed__emptyPayload.json
  data/omf-data/test_topics/preloads/fts_v1_ff_5iO4_factsheet.json
  data/omf-data/test_topics/preloads/module_v1_ff_SVR3QA0022_factsheet.json
  data/omf-data/test_topics/preloads/module_v1_ff_SVR3QA2098_factsheet.json
  data/omf-data/test_topics/preloads/module_v1_ff_SVR4H73275_factsheet.json
  data/omf-data/test_topics/preloads/module_v1_ff_SVR4H76449_factsheet.json
  data/omf-data/test_topics/preloads/module_v1_ff_SVR4H76530_factsheet.json
  docs/04-howto/helper_apps/session-manager/replay-station.md
  omf/helper_apps/session_manager/components/replay_station.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

docs: Create comprehensive APS reference documentation with component overview
  docs/06-integrations/00-REFERENCE/README.md
  docs/06-integrations/00-REFERENCE/ccu-backend-orchestration.md
  docs/06-integrations/00-REFERENCE/component-overview.md
  docs/06-integrations/00-REFERENCE/hardware-architecture.md
  docs/06-integrations/00-REFERENCE/module-serial-mapping.md
  docs/06-integrations/00-REFERENCE/mqtt-topic-conventions.md
  docs/06-integrations/APS-CCU/README.md
  docs/06-integrations/APS-Ecosystem/README.md
  docs/06-integrations/APS-NodeRED/README.md
  docs/06-integrations/TXT-FTS/README.md
  docs/06-integrations/mosquitto/README.md
  docs/07-analysis/CONSOLIDATION_COMPLETE.md
  docs/07-analysis/DOCUMENTATION_CORRECTIONS_APPLIED.md
  docs/07-analysis/DOCUMENTATION_REVIEW_INTEGRATION_DOCS.md
  docs/07-analysis/PRODUCTION_ORDER_MANAGER_QUICK_REFERENCE.md
  docs/07-analysis/ccu-backend-mqtt-orchestration.md
  docs/07-analysis/production-order-analysis-results.md
  docs/07-analysis/topic-naming-convention-analysis.md
  docs/archive/analysis/aps-mqtt-logs/README.md
  docs/archive/analysis/aps-mqtt-logs/component-mapping.md
  docs/archive/analysis/aps-mqtt-logs/log-analysis-2025-09-24.md
  docs/archive/analysis/aps-mqtt-logs/pub-sub-pattern-analysis-2025-09-28.md
  docs/archive/analysis/aps-mqtt-logs/startup-analysis-corrected-final-2025-09-28.md
  omf/analysis_tools/find_first_order_topic.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Production Order Manager mit STORAGE/PRODUCTION Unterscheidung und UI-Refactoring
  omf2/admin/admin_gateway.py
  omf2/ccu/ccu_gateway.py
  omf2/ccu/production_order_manager.py
  omf2/common/logger.py
  omf2/config/logging_config.yml
  omf2/docs/ARCHITECTURE.md
  omf2/docs/PRODUCTION_ORDER_MANAGER_IMPLEMENTATION.md
  omf2/docs/PROJECT_STRUCTURE.md
  omf2/omf.py
  omf2/registry/mqtt_clients.yml
  omf2/registry/test_suite.json
  omf2/tests/test_production_order_infrastructure.py
  omf2/ui/ccu/ccu_orders/ccu_orders_tab.py
  omf2/ui/ccu/ccu_orders/production_orders_subtab.py
  omf2/ui/ccu/ccu_orders/storage_orders_subtab.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

refactor: Migrate session_manager to root as standalone tool
  docs/07-analysis/SESSION_MANAGER_MIGRATION_ANALYSIS.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_COMPLETE.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_STATUS.md
  omf/helper_apps/session_manager/__init__.py
  omf/helper_apps/session_manager/components/__init__.py
  omf/helper_apps/session_manager/components/template_analysis.py
  omf/helper_apps/session_manager/mqtt/__init__.py
  omf/helper_apps/session_manager/utils/__init__.py
  session_manager/README.md
  session_manager/__init__.py
  session_manager/app.py
  session_manager/components/__init__.py
  session_manager/components/auftrag_rot_analyzer.py
  session_manager/components/logs.py
  session_manager/components/order_analyzer.py
  session_manager/components/replay_station.py
  session_manager/components/session_analysis.py
  session_manager/components/session_analyzer.py
  session_manager/components/session_recorder.py
  session_manager/components/settings_manager.py
  session_manager/components/settings_ui.py
  session_manager/components/timeline_visualizer.py
  session_manager/components/topic_manager.py
  session_manager/components/topic_recorder.py
  session_manager/components/ui_components.py
  session_manager/mqtt/__init__.py
  session_manager/mqtt/mqtt_client.py
  session_manager/mqtt_client.py
  session_manager/session_manager_settings.json
  session_manager/simple_mqtt_client.py
  session_manager/utils/__init__.py
  session_manager/utils/logging_config.py
  session_manager/utils/path_constants.py
  session_manager/utils/session_logger.py
  session_manager/utils/streamlit_log_buffer.py
  session_manager/utils/ui_refresh.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

docs: Extend registry with session-verified semantics and asymmetric architecture
  .DS_Store
  data/omf-data/test_topics/order_blue_via_txt.json
  data/omf-data/test_topics/order_red_via_txt.json
  data/omf-data/test_topics/order_white_direct_ccu.json
  data/omf-data/test_topics/order_white_via_txt.json
  docs/06-integrations/00-REFERENCE/ccu-backend-orchestration.md
  docs/06-integrations/00-REFERENCE/component-overview.md
  omf/omf/config/omf_config.yaml
  omf2/assets/__init__.py
  omf2/config/ccu/shopfloor_layout.json
  omf2/docs/REFACTORING_BACKLOG.md
  omf2/registry/manager/registry_manager.py
  omf2/registry/topics/ccu.yml
  omf2/registry/topics/fts.yml
  omf2/registry/topics/module.yml
  omf2/registry/topics/nodered.yml
  omf2/registry/topics/txt.yml
  omf2/ui/ccu/ccu_configuration/ccu_factory_configuration_subtab.py
  omf2/ui/ccu/common/shopfloor_layout.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

refactor(omf2): Registry consistency improvements and semantic topic fields
  omf2/ccu/ccu_gateway.py
  omf2/ccu/order_manager.py
  omf2/docs/ARCHITECTURE.md
  omf2/docs/REGISTRY_TOPIC_STRUCTURE.md
  omf2/registry/mqtt_clients.yml
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

docs(omf2): Add comprehensive guide for implementing new business managers
  omf2/docs/ARCHITECTURE.md
Due: validate-mermaid-diagrams
