Repository OliverBerger-ORBIS/ORBIS-Modellfabrik: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: '^\.gitignore$'

# isort entfernt - verursacht Import-Probleme
      # - id: isort
      #   name: isort
      #   entry: isort
      #   language: system
      #   types: [python]

      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]

      - id: pytest-omf3
        name: pytest-omf3
        entry: npx nx test --all
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-project-structure
        name: validate-project-structure
        entry: python omf/scripts/validate_project_structure.py
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-dashboard-rules
        name: validate-dashboard-rules
        entry: python omf/scripts/validate_dashboard_rules.py --include-dashboard --loose
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-development-rules
        name: validate-development-rules
        entry: python omf/scripts/validate_development_rules.py
        language: system
        pass_filenames: false
        stages: [commit]

      # OMF2-specific validation removed - using omf3 now
      # - id: validate-i18n-compliance
      #   name: validate-i18n-compliance
      #   entry: python omf2/scripts/validate_i18n_compliance.py
      #   language: system
      #   pass_filenames: false
      #   stages: [commit]

      - id: validate-mermaid-diagrams
        name: validate-mermaid-diagrams
        entry: python tools/validate_mermaid_diagrams.py
        language: system
        files: \.md$
        pass_filenames: false
        stages: [commit]

      # OMF2-specific validation removed - using omf3 now
      # - id: check-st-rerun
      #   name: check-st-rerun
      #   entry: python omf2/scripts/check_st_rerun.py
      #   language: system
      #   types: [python]
      #   stages: [commit]
      #   pass_filenames: false

      - id: check-mqtt-connection-loop
        name: check-mqtt-connection-loop
        entry: python omf/scripts/check_mqtt_connection_loop.py
        language: system
        types: [python]
        stages: [commit]

      # OMF2-specific validation removed - using omf3 now
      # - id: validate-assets
      #   name: validate-assets
      #   entry: python omf2/scripts/validate_assets.py
      #   language: system
      #   files: (omf2/assets/|omf2/scripts/validate_assets\.py)
      #   pass_filenames: false
      #   stages: [commit]

fix(settings): fix direct page links on GitHub Pages by respecting base href
  osf/apps/osf-ui/src/app/tabs/settings-tab.component.ts
Due: none

Docs: Add hardware specs for Messetisch and Arduino Vibration Sensor
  docs/05-hardware/arduino-vibrationssensor.md
  docs/05-hardware/messetisch-spezifikation.html
  docs/05-hardware/messetisch-spezifikation.md
  docs/assets/hardware/OSF-Messe-Tisch.drawio.png
  docs/assets/hardware/OSF-Messe-Tisch.drawio.svg
  docs/sprints/sprint_15.md
Due: validate-mermaid-diagrams

feat(aiqs): Quality-Check Klassifikation & Beschreibung (v0.7.8)
  CHANGELOG.md
  docs/04-howto/aiqs-quality-check-enumeration.md
  docs/04-howto/txt-controller-deployment.md
  docs/sprints/sprint_15.md
  integrations/TXT-AIQS/archives/FF_AI_24V_cam_clfn.ft
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/.project.json
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/FF_AI_24V_cam_clfn.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/FF_AI_24V_cam_clfn.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/data/config.json
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/data/factsheet.json
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/File.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/File.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/camera.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/camera.xml
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/controller.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/controller.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/display.qml
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/display.xml
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/iw_log.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/iw_log.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/machine_learning.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/machine_learning.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/mqtt_utils.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/mqtt_utils.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/node_red.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/node_red.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/sorting_line.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/sorting_line.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/vda5050.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/vda5050.py
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.html
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  package.json
Due: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

chore: Single Source of Truth für Versionsnummer (package.json)
  VERSIONING.md
  osf/apps/osf-ui/project.json
  osf/apps/osf-ui/src/environments/version.ts
Due: validate-mermaid-diagrams

feat: DSP-Architektur-Export, Use-Case-Cleanup, Sprint 16
  docs/02-architecture/dsp-architecture-inventory.md
  docs/02-architecture/use-case-library.md
  docs/assets/architecture/dsp-architecture-component.svg
  docs/assets/architecture/dsp-architecture-deployment.svg
  docs/assets/architecture/dsp-architecture-functional.svg
  docs/assets/articles/a1-DE.md
  docs/assets/use-cases/uc-01/UC-01-COLOR-AND-ROUTING-PROPOSAL.md
  docs/assets/use-cases/uc-01/UC-01-IMPLEMENTATION-PROPOSAL.md
  docs/assets/use-cases/uc-01/UC-01-STRUCTURE-PROPOSAL.md
  docs/assets/use-cases/uc-01/UC-01-TIMELINE-PLANNING.md
  docs/assets/use-cases/uc-02/UC-02-ANALYSIS-AND-IMPLEMENTATION-PLAN.md
  docs/assets/use-cases/uc-02/UC-02-ARCHITECTURE-LANES-PLAN.md
  docs/assets/use-cases/uc-06/UC-06-IMPLEMENTATION-PLAN.md
  docs/assets/use-cases/uc-06/uc-06-interoperability.md
  docs/assets/use-cases/uc-07/UC-07-Process-Optimization-Proposal.md
  docs/sprints/sprint_15.md
  docs/sprints/sprint_16.md
  docs/sprints/sprint_template.md
  docs/sprints/sprints_README.md
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.component.config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.deployment.config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.functional.config.ts
  osf/apps/osf-ui/src/app/pages/dsp/customer/fmf/fmf-dsp-page.component.spec.ts
  osf/apps/osf-ui/src/app/pages/dsp/customer/fmf/fmf-dsp-page.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  package.json
  scripts/export-dsp-architecture-svgs.js
Due: validate-mermaid-diagrams

docs: AS-IS vs Fischertechnik Abgleich, Connection-Topics, Sprint-Backlog
  docs/02-architecture/aps-data-flow.md
  docs/04-howto/session-log-analyse.md
  docs/06-integrations/00-REFERENCE/module-serial-mapping.md
  docs/06-integrations/00-REFERENCE/mqtt-topic-conventions.md
  docs/06-integrations/APS-Ecosystem/system-overview.md
  docs/07-analysis/AS-IS-FISCHERTECHNIK-COMPARISON.md
  docs/sprints/sprint_16.md
  docs/sprints/sprint_template.md
  docs/sprints/sprints_README.md
  osf/apps/osf-ui/src/app/components/module-details-sidebar/module-details-sidebar.component.ts
Due: validate-mermaid-diagrams

chore(release): v0.7.11 – UC-00 Interoperability Überarbeitung, Use-Case-Nummerierung
  CHANGELOG.md
  VERSION
  docs/assets/use-cases/uc-00/uc-00-event-to-process-map-DE.svg
  docs/assets/use-cases/uc-00/uc-00-event-to-process-map-EN.svg
  docs/sprints/sprint_16.md
  osf/apps/osf-ui/public/assets/use-cases/uc-00/uc-00-event-to-process-map.steps.json
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-00-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-00-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-00-svg-generator.service.ts
  osf/apps/osf-ui/src/assets/svg/use-cases/uc-00-event-to-process-map-DE.svg
  osf/apps/osf-ui/src/assets/svg/use-cases/uc-00-event-to-process-map-EN.svg
  osf/apps/osf-ui/src/environments/version.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  package.json
Due: validate-mermaid-diagrams

docs: ASSETS a1-DE UC-00 Konsistency zu Marketing
  docs/07-analysis/Marketing-DSP-Presentation-Use-Case-Konsistency
  docs/assets/articles/a1-DE.md
  docs/assets/use-cases/uc-00/uc-00-interoperability.md
  docs/sprints/sprint_16.md
Due: validate-mermaid-diagrams

chore(release): v0.8.0 – Arduino-Integration, Sketch Vibrationssensor_SW420
  CHANGELOG.md
  VERSION
  VERSIONING.md
  docs/04-howto/README.md
  docs/04-howto/setup/arduino-ide-setup.md
  docs/04-howto/setup/robo-pro-setup.md
  docs/04-howto/txt-controller-deployment.md
  docs/05-hardware/arduino-vibrationssensor-verdrahtung.mermaid
  docs/05-hardware/arduino-vibrationssensor.md
  docs/sprints/sprint_16.md
  integrations/Arduino/README.md
  integrations/Arduino/Vibrationssensor_SW420/Vibrationssensor_SW420.ino
  integrations/README.md
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: validate-mermaid-diagrams

Arduino MQTT-LAN: DR-18 OSF-Erweiterungen, Sketch-Vorbereitung
  docs/03-decision-records/18-osf-extensions-ip-and-mqtt-topics.md
  docs/03-decision-records/README.md
  docs/04-howto/setup/arduino-ide-setup.md
  docs/05-hardware/arduino-mqtt-ethernet-setup.md
  docs/05-hardware/arduino-vibrationssensor.md
  docs/06-integrations/00-REFERENCE/hardware-architecture.md
  docs/06-integrations/00-REFERENCE/module-serial-mapping.md
  docs/06-integrations/00-REFERENCE/mqtt-topic-conventions.md
  docs/credentials.md
  integrations/Arduino/Vibrationssensor_SW420/Vibrationssensor_SW420.ino
Due: validate-mermaid-diagrams

Arduino libraries in gitignore
  .gitignore
Due: none

feat(osf-ui): align UI with marketing consistency plan
  docs/07-analysis/MARKETING_CONSISTENCY_PLAN.md
  docs/99-glossary.md
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/src/app/app.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/uc-03-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/uc-03-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/uc-03-svg-generator.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/uc-04-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/uc-04-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/uc-04-svg-generator.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-00-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-00-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-00-svg-generator.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/uc-05-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/uc-05-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/uc-05-svg-generator.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/process-optimization/uc-06-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/process-optimization/uc-06-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/process-optimization/uc-06-svg-generator.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/uc-02-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/uc-02-structure-lanes.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/uc-02-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/uc-02-svg-generator-lanes.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/uc-02-svg-generator.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/uc-01-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/uc-01-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/uc-01-svg-generator.service.ts
  osf/apps/osf-ui/src/locale/messages.de.json
Due: validate-mermaid-diagrams

feat(sprint-16): Order requestId-Erweiterung + Production-Fix
  .pre-commit-config.yaml
  data/omf-data/test_topics/layout_hbw_demo.json
  data/omf-data/test_topics/order_test.py
  data/omf-data/test_topics/preloads/module_v1_ff_HBW-DEMO_connection.json
  data/omf-data/test_topics/preloads/module_v1_ff_HBW-DEMO_factsheet.json
  data/omf-data/test_topics/preloads/module_v1_ff_HBW-DEMO_state.json
  data/omf-data/test_topics/test_order_flow.sh
  docs/07-analysis/ccu-modification-and-deployment-analysis.md
  docs/07-analysis/order-requestid-extension.md
  docs/sprints/sprint_16.md
  integrations/APS-CCU/central-control/src/helper.test.ts
  integrations/APS-CCU/central-control/src/helpers.ts
  integrations/APS-CCU/central-control/src/modules/factsheets/index.ts
  integrations/APS-CCU/central-control/src/modules/order/index.test.ts
  integrations/APS-CCU/central-control/src/modules/order/index.ts
  integrations/APS-CCU/central-control/src/modules/production/cloud-stock.ts
  integrations/APS-CCU/central-control/src/modules/production/index.ts
  integrations/APS-CCU/common/protocol/ccu.ts
  osf/libs/business/src/__tests__/publish-commands.spec.ts
  osf/libs/business/src/index.ts
  scripts/run-order-test.sh
Due: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

feat(sprint-16): OSF Order-Tab Snapshot-Semantik, Correlation-Test, CCU Deployment Task
  data/omf-data/test_topics/correlation_test.py
  docs/07-analysis/order-requestid-extension.md
  docs/sprints/sprint_16.md
  integrations/APS-CCU/central-control/data/factory-layout.json
  osf/apps/osf-ui/src/app/__tests__/mock-dashboard.spec.ts
  osf/apps/osf-ui/src/app/app.component.spec.ts
  osf/apps/osf-ui/src/app/components/order-card/__tests__/order-card.component.spec.ts
  osf/apps/osf-ui/src/app/components/order-card/order-card.component.html
  osf/apps/osf-ui/src/app/components/order-card/order-card.component.scss
  osf/apps/osf-ui/src/app/components/order-card/order-card.component.ts
  osf/apps/osf-ui/src/app/mock-dashboard.ts
  osf/apps/osf-ui/src/app/services/__tests__/correlation-info.service.spec.ts
  osf/apps/osf-ui/src/app/services/correlation-info.service.ts
  osf/apps/osf-ui/src/app/services/workpiece-history.service.ts
  osf/apps/osf-ui/src/app/tabs/order-tab.component.html
  osf/apps/osf-ui/src/app/tabs/order-tab.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  osf/libs/business/src/__tests__/publish-commands.spec.ts
  osf/libs/business/src/index.ts
  scripts/run-correlation-test.sh
  scripts/watch-order-topics.sh
Due: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

chore: .cursorrules Regel 'Commit vorbereiten' mit Agent-Urteil
  .cursorrules
Due: none

chore(release): v0.8.1 – ERP/MES Integration, Test-Script-Fixes
  CHANGELOG.md
  VERSION
  data/omf-data/test_topics/correlation_test.py
  data/omf-data/test_topics/test_order_flow.sh
  docs/sprints/sprint_16.md
  osf/apps/osf-ui/src/environments/version.ts
Due: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

feat(osf): ERP Correlation – requestId, Track & Trace Sync, FMF Live Support (Sprint 16)
  .gitignore
  VERSION
  data/omf-data/test_topics/correlation_test.py
  docs/07-analysis/order-requestid-extension.md
  docs/sprints/sprint_16.md
  osf/apps/osf-ui/src/app/app.component.spec.ts
  osf/apps/osf-ui/src/app/app.component.ts
  osf/apps/osf-ui/src/app/components/order-card/order-card.component.ts
  osf/apps/osf-ui/src/app/services/connection.service.ts
  osf/apps/osf-ui/src/app/services/correlation-info.service.ts
  osf/apps/osf-ui/src/app/services/workpiece-history.service.ts
  osf/apps/osf-ui/src/app/tabs/message-monitor-tab.component.html
  osf/apps/osf-ui/src/app/tabs/message-monitor-tab.component.ts
  osf/apps/osf-ui/src/app/tabs/order-tab.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  osf/libs/entities/src/index.ts
  package.json
Due: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

feat(osf-ui): Docker-Setup, RPi-Deploy, i18n de/fr (~400 Keys)
  .dockerignore
  .gitignore
  deploy/README.md
  deploy/docker-compose.osf-ui.yml
  deploy/osf-ui/Dockerfile
  deploy/osf-ui/nginx.conf
  docs/sprints/sprint_16.md
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/environments/version.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  package.json
  scripts/add-missing-translations.mjs
  scripts/build-osf-ui-docker.js
Due: validate-mermaid-diagrams

feat(osf-ui): ARM32 Build, i18n Sprachumschaltung
  deploy/README.md
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/services/__tests__/language.service.spec.ts
  osf/apps/osf-ui/src/app/services/language.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/settings-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/settings-tab.component.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  osf/apps/osf-ui/src/main.ts
  package.json
  scripts/build-osf-ui-docker.js
Due: validate-mermaid-diagrams

chore: v0.8.2 – Vibrationssensor SW-420 in osf-ui integriert
  CHANGELOG.md
  data/omf-data/test_topics/preloads/osf_arduino_vibration_sw420-1_connection.json
  data/omf-data/test_topics/preloads/osf_arduino_vibration_sw420-1_state.json
  data/omf-data/test_topics/preloads/osf_arduino_vibration_sw420-1_state_alarm.json
  docs/05-hardware/arduino-vibrationssensor.md
  integrations/Arduino/Vibrationssensor_SW420/Vibrationssensor_SW420.ino
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/services/connection.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/sensor-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/message-monitor-tab.component.html
  osf/apps/osf-ui/src/app/tabs/message-monitor-tab.component.ts
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.html
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  osf/libs/testing-fixtures/src/tab-fixtures.ts
  package.json
Due: validate-mermaid-diagrams

chore(release): v0.8.3 - I18n-Übersetzungsqualität und Duplikat-Behebung
  CHANGELOG.md
  VERSION
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/app.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/uc-03-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/uc-04-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-00-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-00-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-00-svg-generator.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/uc-05-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/process-optimization/uc-06-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/uc-02-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/uc-02-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/uc-02-svg-generator.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/uc-01-i18n.service.ts
  osf/apps/osf-ui/src/app/tabs/agv-tab.component.html
  osf/apps/osf-ui/src/app/tabs/dsp-action-tab.component.html
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.html
  osf/apps/osf-ui/src/environments/version.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  package.json
Due: validate-mermaid-diagrams

chore(release): v0.8.4 - Deployment-Doku, Session Recorder qos/retain, ADR 19
  CHANGELOG.md
  VERSION
  docs/03-decision-records/19-osf-ui-deployment-strategy.md
  docs/03-decision-records/README.md
  docs/04-howto/deployment/github-pages-deployment.md
  docs/04-howto/session-log-analyse.md
  docs/07-analysis/AS-IS-FISCHERTECHNIK-COMPARISON.md
  docs/07-analysis/FISCHERTECHNIK-VS-OSF-UI-STARTUP-AND-DATA.md
  docs/assets/articles/a1-DE.md
  docs/assets/use-cases/uc-00/uc-00-interoperability.md
  docs/deployment-alternatives.md
  docs/sprints/sprint_16.md
  osf/apps/osf-ui/src/environments/version.ts
  package.json
  scripts/analyze_retain_in_logs.py
  session_manager/components/replay_station.py
  session_manager/components/session_recorder.py
  session_manager/tests/test_session_log_format.py
Due: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

feat(vibration): SW-420 Live-Hardware, vibrationDetected payload, MQTT auth (v0.8.5)
  CHANGELOG.md
  data/osf-data/test_topics/preloads/osf_arduino_vibration_sw420-1_connection.json
  data/osf-data/test_topics/preloads/osf_arduino_vibration_sw420-1_state.json
  data/osf-data/test_topics/preloads/osf_arduino_vibration_sw420-1_state_alarm.json
  docs/03-decision-records/18-osf-extensions-ip-and-mqtt-topics.md
  docs/05-hardware/arduino-vibrationssensor.md
  docs/sprints/sprint_16.md
  integrations/Arduino/Vibrationssensor_SW420/Vibrationssensor_SW420.ino
  osf/apps/osf-ui/src/app/tabs/__tests__/sensor-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.html
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.ts
  osf/libs/testing-fixtures/src/tab-fixtures.ts
  package.json
Due: validate-mermaid-diagrams

docs(AIQS): Classification-Reference und Machine-Learning-Outsourcing-Spec
  docs/06-integrations/TXT-AIQS/AIQS-CLASSIFICATION-REFERENCE.md
  docs/06-integrations/TXT-AIQS/AIQS-MACHINE-LEARNING-OUTSOURCING-SPEC.md
Due: validate-mermaid-diagrams

chore: .vscode/settings.json und docs/sprints/sprint_16.md
  .vscode/settings.json
  docs/sprints/sprint_16.md
Due: validate-mermaid-diagrams

chore(docs): setup Sprint 17, close Sprint 16, update process guide
  docs/01-strategy/roadmap.md
  docs/PROJECT_STATUS.md
  docs/sprints/sprint_16.md
  docs/sprints/sprint_17.md
  docs/sprints/sprint_template.md
  docs/sprints/sprints_README.md
Due: validate-mermaid-diagrams

feat(sprint-17): CCU Quality-Fail ohne Ersatzauftrag, Phase 5 MES/DSP, DSP OPC-UA-Referenz
  .cursorrules
  docs/01-strategy/roadmap.md
  docs/03-decision-records/20-aps-ccu-osf-modifications-documentation.md
  docs/03-decision-records/README.md
  docs/06-integrations/TXT-AIQS/AIQS-OPCUA-DSP-REFERENCE.md
  docs/06-integrations/TXT-AIQS/README.md
  docs/07-analysis/README.md
  docs/07-analysis/ccu-quality-fail-behaviour-2026-03.md
  docs/PROJECT_STATUS.md
  docs/sprints/sprint_17.md
  integrations/APS-CCU/OSF-MODIFICATIONS.md
  integrations/APS-CCU/README.md
  integrations/APS-CCU/central-control/src/modules/order/management/order-management.test.ts
  integrations/APS-CCU/central-control/src/modules/order/management/order-management.ts
Due: validate-mermaid-diagrams

feat(sprint-17): QoS 1 für quality_check (TXT-AIQS)
  docs/06-integrations/TXT-AIQS/AIQS-CLASSIFICATION-REFERENCE.md
  docs/06-integrations/TXT-AIQS/AIQS-OPCUA-DSP-REFERENCE.md
  docs/sprints/sprint_17.md
  integrations/TXT-AIQS/archives/FF_AI_24V_cam.ft
  integrations/TXT-AIQS/archives/FF_AI_24V_cam_clfn.ft
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam/lib/sorting_line.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam/lib/sorting_line.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/sorting_line.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam_clfn/lib/sorting_line.py
Due: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop
