Repository OliverBerger-ORBIS/ORBIS-Modellfabrik: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, validate-mermaid-diagrams

black:
  name: black
  entry: black
  language: system
  description: Format Python code (Session Manager, scripts)

ruff:
  name: ruff
  entry: ruff check --fix
  language: system
  description: Lint Python code (Session Manager, scripts)

validate-mermaid-diagrams:
  name: validate-mermaid-diagrams
  entry: python tools/validate_mermaid_diagrams.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  description: Validate Mermaid diagrams in documentation

feat(sprint-17): CCU OSF-Versionierung 1.3.0-osf.1, DR-21
  docs/03-decision-records/21-ccu-osf-versioning.md
  docs/03-decision-records/README.md
  integrations/APS-CCU/DEPLOYMENT.md
  integrations/APS-CCU/OSF-MODIFICATIONS.md
  integrations/APS-CCU/README.md
  integrations/APS-CCU/central-control/package.json
  integrations/APS-CCU/package.json
Due: validate-mermaid-diagrams

docs(sprint-17): TXT-Deployment How-To, Sessions README (merge)
  data/osf-data/sessions/README.md
  docs/04-howto/txt-controller-deployment.md
Due: validate-mermaid-diagrams

chore: merge-session-logs Entfernung – README-Abschnitt entfernt
  data/osf-data/sessions/README.md
Due: validate-mermaid-diagrams

feat(osf-ui): Order-Card + Track & Trace Quality-Fail Anzeige, Fixture mixed-pr-prnok
  docs/sprints/sprint_17.md
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/components/order-card/__tests__/order-card.component.spec.ts
  osf/apps/osf-ui/src/app/components/order-card/order-card.component.scss
  osf/apps/osf-ui/src/app/components/order-card/order-card.component.ts
  osf/apps/osf-ui/src/app/components/track-trace/__tests__/track-trace.component.spec.ts
  osf/apps/osf-ui/src/app/components/track-trace/track-trace.component.html
  osf/apps/osf-ui/src/app/components/track-trace/track-trace.component.scss
  osf/apps/osf-ui/src/app/mock-dashboard.ts
  osf/apps/osf-ui/src/app/services/__tests__/workpiece-history.service.spec.ts
  osf/apps/osf-ui/src/app/services/workpiece-history.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/track-trace-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/order-tab.component.ts
  osf/apps/osf-ui/src/app/tabs/track-trace-tab.component.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  osf/libs/testing-fixtures/src/index.ts
  osf/libs/testing-fixtures/src/tab-fixtures.ts
  osf/testing/fixtures/orders/mixed_pr_prnok/mixed_pr_prnok.log
  scripts/build_order_fixtures.py
Due: black, ruff, validate-mermaid-diagrams

docs: Arduino Vibrationssensor – Messe-Setup, MPU-6050-Diagramm, Konfiguration
  docs/05-hardware/arduino-vibrationssensor-mpu6050-verdrahtung.mermaid
  docs/05-hardware/arduino-vibrationssensor.md
  docs/sprints/sprint_17.md
Due: validate-mermaid-diagrams

feat(release): v0.8.6 – Arduino MPU-6050, Relais vereinheitlicht, timestamp
  CHANGELOG.md
  data/osf-data/test_topics/preloads/osf_arduino_vibration_mpu6050-1_connection.json
  data/osf-data/test_topics/preloads/osf_arduino_vibration_mpu6050-1_state.json
  data/osf-data/test_topics/preloads/osf_arduino_vibration_mpu6050-1_state_red.json
  data/osf-data/test_topics/preloads/osf_arduino_vibration_mpu6050-1_state_yellow.json
  docs/03-decision-records/18-osf-extensions-ip-and-mqtt-topics.md
  docs/05-hardware/arduino-vibrationssensor-mpu6050-verdrahtung.html
  docs/05-hardware/arduino-vibrationssensor-mpu6050-verdrahtung.mermaid
  docs/05-hardware/arduino-vibrationssensor-verdrahtung-12v.mermaid
  docs/05-hardware/arduino-vibrationssensor-verdrahtung-5v.mermaid
  docs/05-hardware/arduino-vibrationssensor-verdrahtung.html
  docs/05-hardware/arduino-vibrationssensor-verdrahtung.mermaid
  docs/05-hardware/arduino-vibrationssensor.md
  docs/05-hardware/inventory-electronics.md
  docs/sprints/sprint_17.md
  integrations/Arduino/Vibrationssensor_MPU6050/Vibrationssensor_MPU6050.ino
  integrations/Arduino/Vibrationssensor_SW420/Vibrationssensor_SW420.ino
  osf/apps/osf-ui/src/app/tabs/__tests__/sensor-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/tab-stream-pattern.spec.ts
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.ts
  osf/libs/testing-fixtures/src/tab-fixtures.ts
  package.json
Due: validate-mermaid-diagrams

docs: Sprint 17, DR-22 und UC-05/UC-01 Tasks erweitern
  .cursorrules
  docs/01-strategy/roadmap.md
  docs/03-decision-records/22-dsp-use-case-konzept-live-demo.md
  docs/03-decision-records/README.md
  docs/05-hardware/arduino-vibrationssensor.md
  docs/06-integrations/fischertechnik-official/08-manual-intervention.md
  docs/07-analysis/alarm-fabrik-stop-ccu-commands-2026-03.md
  docs/07-analysis/publish-buttons-analysis.md
  docs/07-analysis/publish-buttons-tests-summary.md
  docs/99-glossary.md
  docs/sprints/sprint_17.md
  osf/apps/osf-ui/src/app/__tests__/mock-dashboard.spec.ts
  osf/apps/osf-ui/src/app/mock-dashboard.ts
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.html
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.ts
  osf/libs/business/src/__tests__/publish-commands.spec.ts
  osf/libs/business/src/index.ts
Due: validate-mermaid-diagrams

docs: MQTT-Tests Arduino→Broker, Fazit Ethernet Shield verdächtig
  docs/04-howto/setup/mosquitto/mosquitto.conf.local
  docs/04-howto/setup/mosquitto/mosquitto.conf.local-simple
  docs/05-hardware/arduino-vibrationssensor.md
  integrations/Arduino/Vibrationssensor_SW420/Vibrationssensor_SW420.ino
Due: validate-mermaid-diagrams

chore: .gitignore – mosquitto.db, VERSION, version.ts
  .gitignore
Due: none

chore: VERSION und version.ts wieder committen – aus .gitignore entfernt
  .gitignore
Due: none

docs: Zweites AGV (jp93) – Analyse und Referenz-Doku
  docs/07-analysis/README.md
  docs/07-analysis/second-agv-integration-analysis-2026-03.md
  docs/Documentation_APS_AddOn_AGV_EN-09-2024 en.pdf
Due: validate-mermaid-diagrams

feat(osf-ui): AGV-2 Farbkorrektur, v0.8.7, Sprint 17 & Doku-Konsolidierung
  CHANGELOG.md
  VERSION
  docs/07-analysis/README.md
  docs/07-analysis/second-agv-2026-03.md
  docs/07-analysis/second-agv-integration-analysis-2026-03.md
  docs/07-analysis/serial-naming-consistency-analysis-2026-03.md
  docs/sprints/sprint_17.md
  osf/apps/osf-ui/src/app/assets/color-palette.ts
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.html
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  osf/apps/osf-ui/src/app/services/shopfloor-mapping.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/agv-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/shopfloor-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/agv-tab.component.html
  osf/apps/osf-ui/src/app/tabs/agv-tab.component.ts
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.html
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  osf/libs/business/src/index.ts
  osf/libs/entities/src/index.ts
Due: validate-mermaid-diagrams

chore(release): v0.8.8 – Version Single Source of Truth, Workflow-Aufräumung
  .cursorrules
  .github/WORKFLOWS.md
  .github/workflows/deploy.yml
  .github/workflows/heading-icons-check.yml
  .github/workflows/shopfloor-check.yml
  .github/workflows/structure-validation.yml
  CHANGELOG.md
  VERSION
  VERSIONING.md
  osf/apps/osf-ui/src/environments/version.ts
  package.json
  scripts/version-bump.js
Due: validate-mermaid-diagrams

chore: OMF3 → OSF in deploy workflow step name
  .github/WORKFLOWS.md
  .github/workflows/deploy.yml
Due: validate-mermaid-diagrams

fix(deploy): trigger only on push + manual, remove workflow_run
  .github/WORKFLOWS.md
  .github/workflows/deploy.yml
Due: validate-mermaid-diagrams

docs/workflows: update workflow docs and deploy workflow
  .github/WORKFLOWS.md
  .github/workflows/deploy.yml
Due: validate-mermaid-diagrams

test: trigger deploy workflow
  .github/pages-trigger-test.txt
Due: none

test: trigger CI
  .github/ci-trigger-test.txt
Due: none

Add ping workflow to GitHub Actions
  .github/workflows/ping.yml
Due: none

Allow test coverage check to continue on error
  .github/workflows/ci.yml
Due: none

Refactor GitHub Actions workflow for deployment
  .github/workflows/deploy.yml
Due: none

fix: repair deploy workflow
  .github/workflows/deploy.yml
Due: none

Remove submodule status check from CI workflow
  .github/workflows/ci.yml
Due: none

chore: remove disabled ping workflow
  .github/workflows/ping.yml
Due: none

chore(release): v0.8.9 – Order-Tab Grün, DR-24, Sprint 17
  CHANGELOG.md
  VERSION
  docs/03-decision-records/24-shopfloor-highlight-colors.md
  docs/03-decision-records/README.md
  docs/07-analysis/README.md
  docs/07-analysis/agv-order-tab-color-analysis-2026-03.md
  docs/07-analysis/agv-overlay-rendering-differences-2026-03.md
  docs/07-analysis/order-tab-active-module-highlight-analysis-2026-03.md
  docs/07-analysis/second-agv-2026-03.md
  docs/sprints/sprint_17.md
  osf/apps/osf-ui/src/app/assets/color-palette.ts
  osf/apps/osf-ui/src/app/components/order-card/order-card.component.html
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.html
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  osf/apps/osf-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: validate-mermaid-diagrams

fix: use github-pages config in deploy, include fixtures for Production Flow
  .github/workflows/deploy.yml
  osf/apps/osf-ui/project.json
Due: none

ci: add workflow_dispatch for manual trigger
  .github/workflows/ci.yml
Due: none

ci: set FORCE_JAVASCRIPT_ACTIONS_TO_NODE24 per job
  .github/workflows/ci.yml
Due: none

Clarify CI name comment in workflow file
  .github/workflows/ci.yml
Due: none

docs: update .github/README with current workflows
  .github/README.md
Due: validate-mermaid-diagrams

ci: Node 22 + FORCE_JAVASCRIPT_ACTIONS_TO_NODE24 in deploy, PR, release workflows
  .github/workflows/deploy.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
Due: none

chore(release): v0.8.10 - Shopfloor Dock/Charge only when connected, Changelog, Sprint-Deploy
  CHANGELOG.md
  VERSION
  docs/sprints/sprint_17.md
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: validate-mermaid-diagrams

chore(release): v0.8.11 - UC-05 Live Demo, Park-Button, I18n, Doku-Regeln (Umsetzungspläne)
  .cursorrules
  CHANGELOG.md
  VERSION
  docs/04-howto/git-commit-rules.md
  docs/07-analysis/alarm-fabrik-stop-ccu-commands-2026-03.md
  docs/sprints/sprint_17.md
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/app.component.html
  osf/apps/osf-ui/src/app/app.component.scss
  osf/apps/osf-ui/src/app/app.component.spec.ts
  osf/apps/osf-ui/src/app/app.component.ts
  osf/apps/osf-ui/src/app/mock-dashboard.ts
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/predictive-maintenance-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/predictive-maintenance-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/predictive-maintenance-use-case.component.ts
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.html
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  osf/libs/business/src/__tests__/publish-commands.spec.ts
  osf/libs/business/src/index.ts
  package.json
Due: validate-mermaid-diagrams

feat(release): v0.8.12 – AGV-Tab NAV-Buttons, Analyse-Doku
  CHANGELOG.md
  VERSION
  docs/07-analysis/README.md
  docs/07-analysis/fts-navigation-how-it-works-2026-03.md
  docs/sprints/sprint_17.md
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/tabs/agv-tab.component.html
  osf/apps/osf-ui/src/app/tabs/agv-tab.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  package.json
  scripts/analyze_session_fts_positions.py
Due: black, ruff, validate-mermaid-diagrams

docs: AGV-Position nach Order-Abschluss (analytisch + empirisch)
  docs/07-analysis/agv-position-after-order-completion-2026-03.md
  docs/Documentation_APS_AddOn_AGV_EN-09-2024 en.pdf
Due: validate-mermaid-diagrams

chore(release): v0.8.13 – Sensor-Tab Erweiterung, Arduino MultiSensor R4, Gas MQ-2
  CHANGELOG.md
  VERSION
  docs/05-hardware/arduino-r4-multisensor-verdrahtung.md
  docs/05-hardware/arduino-r4-multisensor-verdrahtung.mermaid
  docs/sprints/sprint_17.md
  integrations/Arduino/OSF_MultiSensor_R4WiFi/OSF_MultiSensor_R4WiFi.ino
  integrations/Arduino/README.md
  osf/apps/osf-ui/src/app/mock-dashboard.ts
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/predictive-maintenance-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/predictive-maintenance-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/predictive-maintenance-use-case.component.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/sensor-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.html
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/sensor-tab.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  osf/libs/testing-fixtures/src/tab-fixtures.ts
  package.json
Due: validate-mermaid-diagrams

Path conditions:
  black: any of: ^(session_manager/|scripts/).*\.py$ and \.py$
  ruff: any of: ^(session_manager/|scripts/).*\.py$ and \.py$
  validate-mermaid-diagrams: any of: \.md$
