Repository OliverBerger-ORBIS/ORBIS-Modellfabrik: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: '^\.gitignore$'

# isort entfernt - verursacht Import-Probleme
      # - id: isort
      #   name: isort
      #   entry: isort
      #   language: system
      #   types: [python]

      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]

      - id: pytest
        name: pytest
        entry: python -m pytest -q
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-project-structure
        name: validate-project-structure
        entry: python omf/scripts/validate_project_structure.py
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-dashboard-rules
        name: validate-dashboard-rules
        entry: python omf/scripts/validate_dashboard_rules.py --include-dashboard --loose
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-development-rules
        name: validate-development-rules
        entry: python omf/scripts/validate_development_rules.py
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-mermaid-diagrams
        name: validate-mermaid-diagrams
        entry: python tools/validate_mermaid_diagrams.py
        language: system
        files: \.md$
        pass_filenames: false
        stages: [commit]

      - id: check-st-rerun
        name: check-st-rerun
        entry: python omf/scripts/check_st_rerun.py
        language: system
        types: [python]
        stages: [commit]

      - id: check-mqtt-connection-loop
        name: check-mqtt-connection-loop
        entry: python omf/scripts/check_mqtt_connection_loop.py
        language: system
        types: [python]
        stages: [commit]

feat: Shopfloor Layout System - SVG-Icons, 3:4 Aspect Ratio, Active Module Highlighting
  omf2/README.md
  omf2/assets/asset_manager.py
  omf2/assets/svgs/add_2_40dp_1F1F1F_FILL0_wght400_GRAD0_opsz40.svg
  omf2/assets/svgs/aiqs_icon.svg
  omf2/assets/svgs/barcode_scanner_40dp_1F1F1F_FILL0_wght400_GRAD0_opsz40.svg
  omf2/assets/svgs/chrg_icon.svg
  omf2/assets/svgs/construction_40dp_1F1F1F_FILL0_wght400_GRAD0_opsz40.svg
  omf2/assets/svgs/conveyor_belt_40dp_1F1F1F_FILL0_wght400_GRAD0_opsz40.svg
  omf2/assets/svgs/dps_icon.svg
  omf2/assets/svgs/ev_station_40dp_1F1F1F_FILL0_wght400_GRAD0_opsz40.svg
  omf2/assets/svgs/fts_icon.svg
  omf2/assets/svgs/gavel_40dp_1F1F1F_FILL0_wght400_GRAD0_opsz40.svg
  omf2/assets/svgs/hbw_icon.svg
  omf2/assets/svgs/machine_icon.svg
  omf2/assets/svgs/mill_icon.svg
  omf2/assets/svgs/platine_icon.svg
  omf2/assets/svgs/robot_40dp_1F1F1F_FILL0_wght400_GRAD0_opsz40.svg
  omf2/assets/svgs/rpi_icon.svg
  omf2/assets/svgs/rv_hookup_40dp_1F1F1F_FILL0_wght400_GRAD0_opsz40.svg
  omf2/assets/svgs/shelves_40dp_1F1F1F_FILL0_wght400_GRAD0_opsz40.svg
  omf2/assets/svgs/tools_power_drill_40dp_1F1F1F_FILL0_wght400_GRAD0_opsz40.svg
  omf2/assets/svgs/txt_icon.svg
  omf2/assets/svgs/warehouse_40dp_1F1F1F_FILL0_wght400_GRAD0_opsz40.svg
  omf2/docs/PROJECT_STRUCTURE.md
  omf2/docs/SHOPFLOOR_LAYOUT_GUIDE.md
  omf2/docs/SVG_ICON_MAPPING_GUIDE.md
  omf2/ui/ccu/common/shopfloor_layout.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Shopfloor Layout mit SVG-Icons und Active-Module-Highlighting
  omf2/assets/asset_manager.py
  omf2/assets/svgs/add.svg
  omf2/assets/svgs/add_2.svg
  omf2/assets/svgs/align_flex_center.svg
  omf2/assets/svgs/delivery_truck_speed.svg
  omf2/assets/svgs/ic_ft_aiqs.svg
  omf2/assets/svgs/ic_ft_chrg.svg
  omf2/assets/svgs/ic_ft_dps.svg
  omf2/assets/svgs/ic_ft_drill.svg
  omf2/assets/svgs/ic_ft_fts.svg
  omf2/assets/svgs/ic_ft_hbw.svg
  omf2/assets/svgs/ic_ft_mill.svg
  omf2/assets/svgs/point_scan.svg
  omf2/assets/svgs/shelves.svg
  omf2/docs/PROJECT_STRUCTURE.md
  omf2/docs/REFACTORING_BACKLOG.md
  omf2/tests/icon_test.py
  omf2/ui/ccu/common/shopfloor_layout.py
  omf2/ui/main_dashboard.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

Replace PNG logo with SVG logo
  omf2/assets/asset_manager.py
  omf2/assets/logos/ORBIS_logo_RGB.svg
  omf2/docs/LOGO_USAGE_GUIDE.md
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Sensor-Daten grafische Aufbereitung und Kamera-Controls
  docs/PROJECT_STATUS.md
  omf2/assets/svgs/thermometer_color_gradient.svg
  omf2/assets/svgs/thermometer_complete.svg
  omf2/config/translations/de/ccu_overview.yml
  omf2/docs/REFACTORING_BACKLOG.md
  omf2/ui/ccu/ccu_overview/sensor_data_subtab.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

docs: Architektur-Dokumentation für i18n-Implementierung aktualisiert
  omf2/docs/ARCHITECTURE.md
  omf2/docs/PROJECT_STRUCTURE.md
  omf2/docs/REFACTORING_BACKLOG.md
Due: validate-mermaid-diagrams

feat: Vollständige i18n-Implementierung (DE, EN, FR)
  omf2/common/i18n.py
  omf2/config/translations/de/admin.yml
  omf2/config/translations/de/ccu_configuration.yml
  omf2/config/translations/de/ccu_message_monitor.yml
  omf2/config/translations/de/ccu_modules.yml
  omf2/config/translations/de/ccu_orders.yml
  omf2/config/translations/de/ccu_process.yml
  omf2/config/translations/de/common.yml
  omf2/config/translations/en/admin.yml
  omf2/config/translations/en/ccu_configuration.yml
  omf2/config/translations/en/ccu_message_monitor.yml
  omf2/config/translations/en/ccu_modules.yml
  omf2/config/translations/en/ccu_orders.yml
  omf2/config/translations/en/ccu_overview.yml
  omf2/config/translations/en/ccu_process.yml
  omf2/config/translations/en/common.yml
  omf2/config/translations/fr/admin.yml
  omf2/config/translations/fr/ccu_configuration.yml
  omf2/config/translations/fr/ccu_message_monitor.yml
  omf2/config/translations/fr/ccu_modules.yml
  omf2/config/translations/fr/ccu_orders.yml
  omf2/config/translations/fr/ccu_overview.yml
  omf2/config/translations/fr/ccu_process.yml
  omf2/config/translations/fr/common.yml
  omf2/docs/I18N_DEVELOPMENT_RULES.md
  omf2/docs/I18N_IMPLEMENTATION_COMPLETE.md
  omf2/scripts/validate_i18n_compliance.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: i18n-Integration in alle UI-Komponenten
  omf2/omf.py
  omf2/ui/admin/admin_settings/admin_settings_tab.py
  omf2/ui/admin/generic_steering/generic_steering_tab.py
  omf2/ui/admin/message_center/message_center_tab.py
  omf2/ui/admin/system_logs/error_warning_tab.py
  omf2/ui/admin/system_logs/system_logs_tab.py
  omf2/ui/ccu/ccu_configuration/ccu_configuration_tab.py
  omf2/ui/ccu/ccu_message_monitor/ccu_message_monitor_component.py
  omf2/ui/ccu/ccu_modules/ccu_modules_tab.py
  omf2/ui/ccu/ccu_orders/ccu_orders_tab.py
  omf2/ui/ccu/ccu_orders/production_orders_subtab.py
  omf2/ui/ccu/ccu_orders/storage_orders_subtab.py
  omf2/ui/ccu/ccu_overview/ccu_overview_tab.py
  omf2/ui/ccu/ccu_overview/customer_order_subtab.py
  omf2/ui/ccu/ccu_overview/inventory_subtab.py
  omf2/ui/ccu/ccu_overview/product_catalog_subtab.py
  omf2/ui/ccu/ccu_overview/purchase_order_subtab.py
  omf2/ui/ccu/ccu_process/ccu_process_tab.py
  omf2/ui/main_dashboard.py
  omf2/ui/nodered/nodered_overview/nodered_overview_tab.py
  omf2/ui/nodered/nodered_processes/nodered_processes_tab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

docs: Update Dokumentation & Test-Daten
  .pre-commit-config.yaml
  data/omf-data/test_topics/README.md
  data/omf-data/test_topics/order_blue_via_txt.json
  data/omf-data/test_topics/order_red_via_txt.json
  data/omf-data/test_topics/order_white_direct_ccu.json
  data/omf-data/test_topics/order_white_via_txt.json
  docs/03-decision-records/07-development-rules-compliance.md
  docs/07-analysis/CONSOLIDATION_COMPLETE.md
  docs/07-analysis/DOCUMENTATION_REVIEW_INTEGRATION_DOCS.md
  docs/07-analysis/PRODUCTION_ORDER_MANAGER_QUICK_REFERENCE.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_ANALYSIS.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_COMPLETE.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_STATUS.md
  docs/07-analysis/production-order-analysis-results.md
  docs/archive/analysis/aps-mqtt-logs/README.md
  omf/scripts/validate_development_rules.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

fix: Stock-Topic korrektur /f/o/stock → /f/i/stock
  omf2/ccu/ccu_gateway.py
  omf2/ccu/order_manager.py
  omf2/registry/mqtt_clients.yml
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

fix: Haupt-Tab-Namen i18n-fähig machen
  omf2/config/translations/de/common.yml
  omf2/config/translations/en/common.yml
  omf2/config/translations/fr/common.yml
  omf2/ui/main_dashboard.py
  plan.md
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

fix: Command-Versende-Pattern architektur-compliant
  omf2/admin/admin_gateway.py
  omf2/ccu/ccu_gateway.py
  plan.md
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

fix: Alle 18 failing Tests repariert - Architektur-Compliance wiederhergestellt
  omf2/ccu/ccu_gateway.py
  omf2/config/translations/de/common.yml
  omf2/config/translations/en/common.yml
  omf2/config/translations/fr/common.yml
  omf2/docs/ARCHITECTURE.md
  omf2/registry/manager/registry_manager.py
  omf2/tests/test_business_manager_pattern.py
  omf2/tests/test_ccu_production_monitoring_subtab.py
  omf2/tests/test_ccu_production_plan_subtab.py
  omf2/tests/test_message_monitor_subtab.py
  omf2/tests/test_streamlit_startup.py
  omf2/tests/test_ui_components.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

docs: plan.md aktualisiert - Task 1.2 als abgeschlossen markiert
  plan.md
Due: validate-mermaid-diagrams

docs: Task 1.3 TODO-Audit abgeschlossen + neue Task-Reihenfolge
  plan.md
Due: validate-mermaid-diagrams

feat: UI-Symbols für Production Process Steps erweitert
  omf2/tests/test_registry_integration.py
  omf2/ui/ccu/ccu_orders/production_orders_subtab.py
  omf2/ui/common/symbols.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Implement new grid layout with SVG icons for EMPTY positions
  omf2/assets/asset_manager.py
  omf2/assets/ftfe/drilled+milled.svg
  omf2/assets/ftfe/drilled.svg
  omf2/assets/ftfe/ic_ft_palett.svg
  omf2/assets/ftfe/ic_ft_workpiece_blue.svg
  omf2/assets/ftfe/ic_ft_workpiece_instock_blue.svg
  omf2/assets/ftfe/ic_ft_workpiece_instock_red.svg
  omf2/assets/ftfe/ic_ft_workpiece_instock_reserved_blue.svg
  omf2/assets/ftfe/ic_ft_workpiece_instock_reserved_red.svg
  omf2/assets/ftfe/ic_ft_workpiece_instock_reserved_white.svg
  omf2/assets/ftfe/ic_ft_workpiece_instock_unprocessed_blue.svg
  omf2/assets/ftfe/ic_ft_workpiece_instock_unprocessed_red.svg
  omf2/assets/ftfe/ic_ft_workpiece_instock_unprocessed_white.svg
  omf2/assets/ftfe/ic_ft_workpiece_instock_white.svg
  omf2/assets/ftfe/ic_ft_workpiece_red.svg
  omf2/assets/ftfe/ic_ft_workpiece_unprocessed_blue.svg
  omf2/assets/ftfe/ic_ft_workpiece_unprocessed_red.svg
  omf2/assets/ftfe/ic_ft_workpiece_unprocessed_white.svg
  omf2/assets/ftfe/ic_ft_workpiece_white.svg
  omf2/assets/ftfe/milled.svg
  omf2/assets/pngs/README.md
  plan.md
  test_shopfloor_layout.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Implement hybrid shopfloor layout with SVG icons and active highlighting
  data/omf-data/test_topics/ccu_order_active_storage_001.json
  data/omf-data/test_topics/ccu_order_active_storage_002.json
  data/omf-data/test_topics/ccu_order_active_storage_003.json
  data/omf-data/test_topics/ccu_order_active_storage_004.json
  data/omf-data/test_topics/ccu_order_completed_storage_005.json
  omf2/assets/asset_manager.py
  omf2/assets/svgs/DSP_ITOT_Control_2x1.svg
  omf2/assets/svgs/DSP_ITOT_Control_3x1.svg
  omf2/assets/svgs/ORBIS_logo_RGB.svg
  omf2/config/ccu/shopfloor_layout.json
  omf2/config/logging_config.yml
  omf2/tests/icon_test.py
  omf2/tests/test_helper_apps/README_SHOPFLOOR_HYBRID_TESTS.md
  omf2/tests/test_helper_apps/__init__.py
  omf2/tests/test_helper_apps/hybrid_shopfloor_test.py
  omf2/ui/ccu/ccu_configuration/ccu_factory_configuration_subtab.py
  omf2/ui/ccu/ccu_orders/production_orders_subtab.py
  omf2/ui/ccu/ccu_orders/storage_orders_subtab.py
  omf2/ui/ccu/common/icon_style_switch.py
  omf2/ui/ccu/common/shopfloor_layout_hybrid.py
  plan.md
  test_shopfloor_layout.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Logging-System File-Handler Fix - Log-Cleanup, UI-Konsistenz, RingBuffer-Konfiguration
  README.md
  docs/04-howto/README.md
  docs/04-howto/handler-persistence-quick-reference.md
  docs/04-howto/handler-persistence-verification.md
  docs/04-howto/logging-implementation-guide.md
  docs/04-howto/omf2-logging-system-documentation.md
  omf2/admin/admin_gateway.py
  omf2/assets/asset_manager.py
  omf2/assets/svgs/point_scan_adjusted.svg
  omf2/assets/svgs/point_scan_adjusted_v2.svg
  omf2/assets/svgs/point_scan_adjusted_v4.svg
  omf2/assets/svgs/point_scan_adjusted_v5.svg
  omf2/assets/svgs/point_scan_adjusted_v6.svg
  omf2/ccu/ccu_gateway.py
  omf2/ccu/config_loader.py
  omf2/common/logger.py
  omf2/common/logging_config.py
  omf2/config/README_LOGGING.md
  omf2/config/ccu/shopfloor_layout.json
  omf2/config/logging_config.yml
  omf2/omf.py
  omf2/ui/admin/system_logs/system_logs_tab.py
  plan.md
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Task 2.6 CCU Modules UI Anpassung - 5-Spalten-Architektur implementiert
  docs/02-architecture/README.md
  docs/02-architecture/implementation/ccu-module-manager.md
  omf2/ccu/module_manager.py
  omf2/config/logging_config.yml
  omf2/config/translations/de/ccu_modules.yml
  omf2/config/translations/en/ccu_modules.yml
  omf2/config/translations/fr/ccu_modules.yml
  omf2/ui/ccu/ccu_modules/ccu_modules_tab.py
  omf2/ui/common/symbols.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: CCU Message Monitor Filter - Teilweise implementiert
  omf2/config/translations/de/ccu_message_monitor.yml
  omf2/config/translations/en/ccu_message_monitor.yml
  omf2/config/translations/fr/ccu_message_monitor.yml
  omf2/ui/ccu/ccu_message_monitor/ccu_message_monitor_component.py
  plan.md
  tests/test_omf2/test_ccu_message_monitor_filter.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

docs: Development Workflow Dokumentation erweitert
  README.md
  docs/04-howto/development/workflow.md
  docs/README.md
Due: validate-mermaid-diagrams

✅ Task 2.7 ABGESCHLOSSEN: CCU Message Monitor Filter
  README.md
  docs/02-architecture/README.md
  docs/02-architecture/implementation/monitor-manager.md
  docs/04-howto/development/workflow.md
  omf2/assets/ftfe/drilled_gray.svg
  omf2/assets/ftfe/milled_red.svg
  omf2/ccu/ccu_gateway.py
  omf2/ccu/monitor_manager.py
  omf2/config/translations/de/ccu_message_monitor.yml
  omf2/config/translations/en/ccu_message_monitor.yml
  omf2/config/translations/fr/ccu_message_monitor.yml
  omf2/ui/ccu/ccu_message_monitor/ccu_message_monitor_component.py
  plan.md
  tests/test_omf2/test_ccu_gateway_monitor_integration.py
  tests/test_omf2/test_ccu_message_monitor_filter.py
  tests/test_omf2/test_monitor_manager.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

docs: Dokumentations-Bereinigung und -Strategie implementiert
  README.md
  docs/04-howto/setup/repository-structure.md
  docs/99-glossary.md
  docs/PROJECT_STATUS.md
  docs/README.md
  docs/archive/aps-dashboard-integration-status.md
  docs/archive/chat-activities/chat-a-architecture-2025-09-23.md
  docs/archive/chat-activities/chat-a-architecture-2025-09-24.md
  docs/archive/chat-activities/chat-a-architecture-2025-09-25.md
  docs/archive/chat-activities/chat-a-architecture-analysis-2025-09-25.md
  docs/archive/chat-activities/chat-a-architecture-cleanup-2025-09-25.md
  docs/archive/chat-activities/chat-a-mqtt-diagrams-updated-2025-09-24.md
  docs/archive/chat-activities/chat-b-implementation-2025-09-23.md
  docs/archive/chat-activities/chat-b-mqtt-connection-debug-2025-09-24.md
  docs/archive/chat-activities/chat-b-registry-consolidation-2025-09-23.md
  docs/archive/chat-activities/chat-b-sensor-topics-fix-2025-09-23.md
  docs/archive/chat-activities/chat-b-user-concept-preparation-2025-09-25.md
  docs/archive/chat-activities/chat-c-testing-2025-09-23.md
  docs/archive/chat-activities/chat-c-testing-2025-09-25.md
  docs/archive/cursor-agent-structure-plan.md
Due: validate-mermaid-diagrams

feat: Shopfloor Layout Highlighting System - Task 2.13 (grundlegend implementiert)
  docs/07-analysis/SHOPFLOOR_LAYOUT_HIGHLIGHTING_STATUS.md
  omf2/assets/asset_manager.py
  omf2/assets/svgs/point_scan_3sections.svg
  omf2/assets/svgs/point_scan_edges_black.svg
  omf2/assets/svgs/point_scan_edges_gray.svg
  omf2/assets/svgs/point_scan_edges_preserve_black.svg
  omf2/assets/svgs/point_scan_edges_preserve_gray.svg
  omf2/assets/svgs/point_scan_extended.svg
  omf2/assets/svgs/point_scan_final.svg
  omf2/assets/svgs/point_scan_improved.svg
  omf2/assets/svgs/point_scan_intersection2.svg
  omf2/assets/svgs/point_scan_intersection3.svg
  omf2/assets/svgs/point_scan_sectioned.svg
  omf2/tests/icon_test.py
  omf2/tests/test_helper_apps/shopfloor_layout_test.py
  omf2/ui/ccu/common/shopfloor_layout.py
  plan.md
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Complete OMF2 integration of shopfloor_layout
  omf2/assets/asset_manager.py
  omf2/assets/workpiece/blue_product.svg
  omf2/assets/workpiece/red_product.svg
  omf2/assets/workpiece/white_product.svg
  omf2/tests/test_helper_apps/stock_and_workpiece_layout_test.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

docs: Add Copilot PR-Request for Shopfloor Layout Active Module Highlighting Fix
  COPILOT_PR_REQUEST_SHOPFLOOR_HIGHLIGHTING.md
  omf2/assets/asset_manager.py
  omf2/tests/icon_test.py
  omf2/tests/test_helper_apps/shopfloor_layout_test.py
  omf2/tests/test_helper_apps/stock_and_workpiece_layout_test.py
  omf2/tests/test_helper_apps/test_stock_and_workpiece_layout_syntax.py
  omf2/tests/test_helper_apps/validate_helper_app_syntax.py
  omf2/ui/ccu/ccu_configuration/ccu_factory_configuration_subtab.py
  omf2/ui/ccu/ccu_orders/production_orders_subtab.py
  omf2/ui/ccu/ccu_orders/storage_orders_subtab.py
  omf2/ui/ccu/common/shopfloor_layout.py
  omf2/ui/ccu/common/shopfloor_layout_hybrid.py
  plan.md
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

fix: Shopfloor highlighting improvements - active module CSS class
  COPILOT_PR_REQUEST_SHOPFLOOR_HIGHLIGHTING.md
  omf2/ui/ccu/ccu_orders/production_orders_subtab.py
  omf2/ui/ccu/ccu_orders/storage_orders_subtab.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Fix duplicate keys and optimize logging system
  docs/03-decision-records/02-unified-logging-system.md
  docs/03-decision-records/README.md
  docs/04-howto/logging-implementation-guide.md
  omf2/config/logging_config.yml
  omf2/ui/ccu/ccu_orders/production_orders_subtab.py
  omf2/ui/ccu/ccu_orders/storage_orders_subtab.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

feat: Restructure SVG display in hardcoded section with 6-row layout
  omf2/tests/test_helper_apps/stock_and_workpiece_layout_test.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

feat: Task 0.4 Asset-Manager Integration vollständig abgeschlossen
  README.md
  docs/04-howto/agent-onboarding-architecture.md
  docs/04-howto/development/workflow.md
  omf2/assets/asset_manager.py
  omf2/tests/test_helper_apps/stock_and_workpiece_layout_test.py
  omf2/ui/ccu/ccu_message_monitor/ccu_message_monitor_component.py
  omf2/ui/ccu/ccu_overview/ccu_overview_tab.py
  omf2/ui/ccu/ccu_overview/customer_order_subtab.py
  omf2/ui/ccu/ccu_overview/inventory_subtab.py
  omf2/ui/ccu/ccu_overview/product_catalog_subtab.py
  omf2/ui/ccu/ccu_overview/purchase_order_subtab.py
  omf2/ui/ccu/ccu_overview/sensor_data_subtab.py
  plan.md
  tests/test_omf2/test_asset_manager.py
  tests/test_omf2/test_storage_orders_integration.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop

docs: Logging-Dokumentation an aktuelle Implementierung angepasst
  docs/03-decision-records/02-unified-logging-system.md
Due: validate-mermaid-diagrams

Fix: prevent log cleanup on refresh; unique keys for storage orders shopfloor; message monitor newest-first display
  omf2/omf.py
  omf2/ui/admin/message_center/message_monitor_subtab.py
  omf2/ui/ccu/ccu_orders/storage_orders_subtab.py
Due: black, ruff, check-st-rerun, check-mqtt-connection-loop

docs from unknownd sessions
  Makefile
  README.md
  data/omf-data/test_topics/README.md
  data/omf-data/test_topics/order_blue_via_txt.json
  data/omf-data/test_topics/order_red_via_txt.json
  data/omf-data/test_topics/order_white_direct_ccu.json
  data/omf-data/test_topics/order_white_via_txt.json
  docs/02-architecture/omf2-architecture.md
  docs/02-architecture/omf2-registry-system.md
  docs/02-architecture/project-structure.md
  docs/03-decision-records/i18n-implementation-complete.md
  docs/04-howto/testing/integration-testing-workflow.md
  docs/07-analysis/CONSOLIDATION_COMPLETE.md
  docs/07-analysis/DOCUMENTATION_REVIEW_INTEGRATION_DOCS.md
  docs/07-analysis/PRODUCTION_ORDER_MANAGER_QUICK_REFERENCE.md
  docs/07-analysis/REFACTORING_BACKLOG.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_ANALYSIS.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_COMPLETE.md
  docs/07-analysis/SESSION_MANAGER_MIGRATION_STATUS.md
  docs/07-analysis/SHOPFLOOR_LAYOUT_HIGHLIGHTING_STATUS.md
  docs/07-analysis/aps-overview-implementation-complete.md
  docs/07-analysis/production-order-analysis-results.md
  docs/PROJECT_STATUS.md
  docs/archive/analysis/aps-mqtt-logs/README.md
  docs/sprints/sprint_aktuell.md
  logs/session_manager/cam1
  omf2/omf.py
  plan.md
  session_manager/app.py
  session_manager/components/logs.py
  session_manager/utils/logging_config.py
  tests/test_helper_apps/test_logging_cleanup.py
Due: black, ruff, validate-mermaid-diagrams, check-st-rerun, check-mqtt-connection-loop
