Repository OliverBerger-ORBIS/ORBIS-Modellfabrik: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

black:
  name: black
  entry: black
  language: system

ruff:
  name: ruff
  entry: ruff check --fix
  language: system

validate-mermaid-diagrams:
  name: validate-mermaid-diagrams
  entry: python tools/validate_mermaid_diagrams.py
  language: system
  pass_filenames: false
  stages:
  - commit

check-mqtt-connection-loop:
  name: check-mqtt-connection-loop
  entry: python omf/scripts/check_mqtt_connection_loop.py
  language: system
  stages:
  - commit

Add comprehensive DSP page with 14-step architecture animation, individual Edge function highlighting, animated step overlays, and responsive scaling (#95)
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/assets/icon-registry.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.scss
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.types.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture/dsp-architecture-wrapper.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture/dsp-architecture-wrapper.component.scss
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture/dsp-architecture-wrapper.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-intro/dsp-intro.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-intro/dsp-intro.component.scss
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-intro/dsp-intro.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-mes-teaser/dsp-mes-teaser.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-mes-teaser/dsp-mes-teaser.component.scss
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-mes-teaser/dsp-mes-teaser.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-methodology/dsp-methodology.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-methodology/dsp-methodology.component.scss
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-methodology/dsp-methodology.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.scss
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/dsp-page.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/dsp-page.component.scss
  omf3/apps/ccu-ui/src/app/pages/dsp/dsp-page.component.ts
  omf3/apps/ccu-ui/src/app/shared/icons/icon.registry.ts
Due: none

Add SVG inventory tooling and edge component assets
  docs/03-decision-records/14-orbis-ci-usage.md
  docs/svg-inventory.html
  docs/svg-inventory.md
  omf3/apps/ccu-ui/public/assets/svg/dsp/edge-components/edge-agent.svg
  omf3/apps/ccu-ui/public/assets/svg/dsp/edge-components/edge-app-server.svg
  omf3/apps/ccu-ui/public/assets/svg/dsp/edge-components/edge-database.svg
  omf3/apps/ccu-ui/public/assets/svg/dsp/edge-components/edge-disc.svg
  omf3/apps/ccu-ui/public/assets/svg/dsp/edge-components/edge-disi.svg
  omf3/apps/ccu-ui/public/assets/svg/dsp/edge-components/edge-event-bus.svg
  omf3/apps/ccu-ui/public/assets/svg/dsp/edge-components/edge-log-server.svg
  omf3/apps/ccu-ui/public/assets/svg/dsp/edge-components/edge-router.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/edge-components/edge-agent.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/edge-components/edge-app-server.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/edge-components/edge-database.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/edge-components/edge-disc.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/edge-components/edge-disi.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/edge-components/edge-event-bus.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/edge-components/edge-log-server.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/edge-components/edge-router.svg
  scripts/generate-svg-inventory.js
Due: validate-mermaid-diagrams

Update DSP interoperability icon and inventory
  docs/svg-inventory.html
  docs/svg-inventory.md
  omf3/apps/ccu-ui/public/assets/svg/dsp/functions/edge-interoperability.svg
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-intro/dsp-intro.component.ts
  omf3/apps/ccu-ui/src/assets/svg/dsp/architecture/dsp-cockpit-box.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/architecture/dsp-edge-box.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/extra/database-cloud.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/extra/database.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/extra/topology.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-integration.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-interoperability.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-process-logic.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/use-cases/use-case-track-trace.svg
  omf3/apps/ccu-ui/src/assets/svg/methodology/phase1-data-foundation.svg
  omf3/apps/ccu-ui/src/assets/svg/methodology/phase2-data-integration.svg
  omf3/apps/ccu-ui/src/assets/svg/methodology/phase3-advanced-analytics.svg
  omf3/apps/ccu-ui/src/assets/svg/methodology/phase4-automation-orchestration.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/systems/agv-system.svg
  omf3/apps/ccu-ui/src/styles.scss
  scripts/generate-svg-inventory.js
Due: validate-mermaid-diagrams

feat: enhance module tab details and drill view
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
Due: none

Add DSP Edge Components, Animated Edge Architecture with Extended DSP Layer, Full Reference Architecture Integration, Shared Config Service, and Deployment Pipeline sections to DSP page (#96)
  omf3/apps/ccu-ui/src/app/pages/dsp/components/deployment-pipeline/deployment-pipeline.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/deployment-pipeline/deployment-pipeline.component.scss
  omf3/apps/ccu-ui/src/app/pages/dsp/components/deployment-pipeline/deployment-pipeline.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/edge-architecture-animated/edge-architecture-animated.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/edge-architecture-animated/edge-architecture-animated.component.scss
  omf3/apps/ccu-ui/src/app/pages/dsp/components/edge-architecture-animated/edge-architecture-animated.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/edge-architecture-animated/edge-architecture-animated.config.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/edge-architecture/edge-architecture.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/edge-architecture/edge-architecture.component.scss
  omf3/apps/ccu-ui/src/app/pages/dsp/components/edge-architecture/edge-architecture.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/edge-components/edge-components.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/edge-components/edge-components.component.scss
  omf3/apps/ccu-ui/src/app/pages/dsp/components/edge-components/edge-components.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/dsp-page.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/dsp-page.component.ts
  omf3/apps/ccu-ui/src/app/services/dsp-architecture-config.service.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
Due: none

chore: adjust config tab details and fixture buttons
  omf3/apps/ccu-ui/src/app/tabs/configuration-detail.types.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
Due: none

chore: fix agv colors to use CI palette
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
Due: none

ui: unify agv legend and timeline colors
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  omf3/apps/ccu-ui/src/app/tabs/fts-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/fts-tab.component.scss
Due: none

feat(fts-tab): improve i18n and commands UI
  omf3/apps/ccu-ui/src/app/tabs/fts-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/fts-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/fts-tab.component.ts
Due: none

chore: squash feature/presentation-mode into main
  docs/svg-inventory.html
  docs/svg-inventory.md
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/assets/icon-registry.ts
  omf3/apps/ccu-ui/src/app/mock-dashboard.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture/dsp-architecture-wrapper.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-intro/dsp-intro.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/edge-architecture-animated/edge-architecture-animated.config.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/edge-components/edge-components.component.ts
  omf3/apps/ccu-ui/src/app/pages/presentation/presentation-page.component.ts
  omf3/apps/ccu-ui/src/app/shared/icons/icon.registry.ts
  omf3/apps/ccu-ui/src/app/tabs/fts-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/fts-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/fts-tab.component.ts
  omf3/apps/ccu-ui/src/assets/svg/business/mes-application.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-integration.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/interoperability/application (1).svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/interoperability/apps.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/interoperability/automation.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/interoperability/robotic-arm.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/interoperability/user.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/interoperability/workflow.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/shared/turn-left-event.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/shared/turn-right-event.svg
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
  omf3/libs/testing-fixtures/src/index.ts
  omf3/libs/testing-fixtures/src/tab-fixtures.ts
Due: validate-mermaid-diagrams

chore: restore interoperability svg
  omf3/apps/ccu-ui/src/app/pages/refactor-demo/refactor-demo-page.component.html
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-interoperability.svg
Due: none

refactor dsp architecture demo and deployment pipeline
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.scss
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/types.ts
  omf3/apps/ccu-ui/src/app/pages/refactor-demo/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/pages/refactor-demo/dsp-architecture.component.scss
  omf3/apps/ccu-ui/src/app/pages/refactor-demo/dsp-architecture.component.ts
Due: none

fix: finalize shopfloor icons and restore 2x6 layout
  omf3/apps/ccu-ui/src/app/assets/icon-registry.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.component.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.deployment.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.functional.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.shared.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/types.ts
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/stations/conveyor-station.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/stations/oven-station.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/systems/factory-system.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/systems/warehouse-system.svg
Due: none

chore: shrink dsp-ux height to 50% keeping anchors
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.shared.config.ts
Due: none

chore: adjust dsp edge icons layout and sizes
  omf3/apps/ccu-ui/src/app/assets/icon-registry.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.shared.config.ts
Due: none

fix: sequential dsp function icons and copy updates
  omf3/apps/ccu-ui/src/app/assets/icon-registry.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.functional.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.shared.config.ts
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-ai-enablement.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-autonomous-enterprise.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-best-of-breed.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-choreography.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-event-driven.svg
Due: none

chore: align dsp architecture colors with orbis palette
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.scss
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.deployment.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.shared.config.ts
Due: none

feat: add mc function steps and edge segment view
  omf3/apps/ccu-ui/src/app/assets/icon-registry.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.functional.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.shared.config.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-methodology/dsp-methodology.component.ts
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-governance.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-hierarchical-structure.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-orchestration.svg
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
Due: none

fix: stabilize mc function rotation and step18 highlights
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.functional.config.ts
Due: none

fix: adjust deployment gradient and hide edge center after step1
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.deployment.config.ts
Due: none

chore: document direct-access pages in settings and decision record
  docs/03-decision-records/15-direct-access-pages.md
  omf3/apps/ccu-ui/src/app/tabs/settings-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/settings-tab.component.ts
Due: validate-mermaid-diagrams

fix: hide dsp-action tab from navigation
  omf3/apps/ccu-ui/src/app/app.component.ts
Due: none

chore: remove legacy shopfloor svg paths and align icons
  docs/analysis/fts-component-svg-mapping.md
  docs/analysis/fts-integration-plan.md
  docs/svg-inventory.html
  docs/svg-inventory.md
  docs/svg-migration.md
  omf3/apps/ccu-ui/src/app/assets/icon-registry.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.config.ts
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.ts
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture/dsp-architecture-wrapper.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-mes-teaser/dsp-mes-teaser.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/edge-architecture-animated/edge-architecture-animated.component.ts
  omf3/apps/ccu-ui/src/app/services/__tests__/fts-animation.service.spec.ts
  omf3/apps/ccu-ui/src/app/services/__tests__/fts-route.service.spec.ts
  omf3/apps/ccu-ui/src/app/shared/icons/icon.registry.ts
  omf3/apps/ccu-ui/src/app/shared/icons/legacy-shopfloor-map.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/configuration-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/process-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/message-monitor-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.ts
  omf3/apps/ccu-ui/src/assets/svg/dsp/interoperability/application (1).svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/interoperability/apps.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/interoperability/automation.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/interoperability/robotic-arm.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/interoperability/user.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/interoperability/workflow.svg
  omf3/libs/testing-fixtures/src/index.ts
Due: validate-mermaid-diagrams

chore: update svg documentation to new shopfloor paths
  docs/analysis/fts-component-svg-mapping.md
Due: validate-mermaid-diagrams

chore: align mc/ux icon names with svg files
  docs/svg-inventory.html
  docs/svg-inventory.md
  docs/svg-migration.md
  omf3/apps/ccu-ui/src/app/assets/icon-registry.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.functional.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture-refactor/layout.shared.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.config.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-intro/dsp-intro.component.ts
  omf3/apps/ccu-ui/src/app/shared/icons/icon.registry.ts
  omf3/apps/ccu-ui/src/assets/svg/dsp/architecture/dsp-mc-box.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/architecture/dsp-ux-box.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/extra/cloud-computing.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-integration.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/mc-governance.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/mc-hierarchical-structure.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/mc-orchestration.svg
  omf3/apps/ccu-ui/src/assets/svg/orbis/ai.svg
Due: validate-mermaid-diagrams

docs: remove Netlify deployment documentation and references
  .github/WORKFLOW_GUIDELINES.md
  docs/analysis/build-commands-guide.md
  docs/analysis/documentation-importance-analysis.md
  docs/deployment-alternatives.md
  docs/netlify-deployment.md
  omf3/apps/ccu-ui/NETLIFY_DEPLOYMENT.md
  omf3/apps/ccu-ui/project.json
  omf3/apps/ccu-ui/src/app/pages/dsp/dsp-page.component.html
  package.json
  scripts/serve-local.bat
  scripts/serve-local.sh
Due: validate-mermaid-diagrams

chore: remove OMF2/Streamlit tests and obsolete documentation
  docs/registry/sensors_display.md
  tests/README.md
  tests/README_LOGGING_TESTS.md
  tests/manual_verify_handler_persistence.py
  tests/mock_mqtt_client.py
  tests/run_all_tests.py
  tests/test_admin_cache.py
  tests/test_business_functions_loader.py
  tests/test_ccu_frontend_consumer.py
  tests/test_dashboard_business_functions_ui.py
  tests/test_gateway_refresh_integration.py
  tests/test_refresh.py
  tests/test_route_utils.py
  tests/test_sensors_display_utils.py
  tests/test_shopfloor_layout_render.py
  tests/test_streamlit_polling_helper.py
  tests/tests_order_status.py
Due: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

test: add missing tests for fts-tab, track-trace-tab, presentation-page, and dsp-architecture-page
  docs/analysis/code-optimization-test-coverage-plan-status.md
  docs/analysis/code-optimization-test-coverage-plan.md
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.scss
  omf3/apps/ccu-ui/src/app/pages/presentation/__tests__/presentation-page.component.spec.ts
  omf3/apps/ccu-ui/src/app/pages/refactor-demo/__tests__/dsp-architecture.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/fts-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/track-trace-tab.component.spec.ts
Due: validate-mermaid-diagrams

Increase test coverage from 29% to 44% with 126 new tests (#98)
  omf3/apps/ccu-ui/jest.config.ts
  omf3/apps/ccu-ui/src/app/__tests__/mock-dashboard.spec.ts
  omf3/apps/ccu-ui/src/app/components/order-card/__tests__/order-card.component.spec.ts
  omf3/libs/business/src/__tests__/business-integration.spec.ts
  omf3/libs/gateway/src/__tests__/gateway-integration.spec.ts
Due: none

Refactor DSP Architecture configs: eliminate 945 lines via Builder pattern and ID helpers (#99)
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.builder.spec.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.builder.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.component.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.deployment.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.functional.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.shared.config.spec.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.shared.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-architecture/dsp-architecture.config.ts
Due: none

Add CI/CD pipeline with GitHub Pages auto-deployment and SemVer (#100)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  CHANGELOG.md
  omf3/apps/ccu-ui/project.json
  omf3/apps/ccu-ui/src/app/app.component.html
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/components/footer/footer.component.ts
  package-lock.json
  package.json
Due: validate-mermaid-diagrams

feat(dsp-animation): Adjust functional and component view steps and enhance function icon highlighting
  omf3/apps/ccu-ui/src/app/components/dsp-animation/dsp-animation.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.component.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.functional.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.shared.config.spec.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.shared.config.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture-functional-section/dsp-architecture-functional-section.component.ts
  omf3/apps/ccu-ui/src/app/services/__tests__/external-links.service.spec.ts
  omf3/apps/ccu-ui/src/app/services/external-links.service.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/configuration-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/module-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/settings-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/settings-tab.component.ts
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/systems/any-system.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/systems/bp-system.svg
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
Due: none

update svg for sf-systems
  omf3/apps/ccu-ui/public/assets/svg/shopfloor/systems/any-system.svg
  omf3/apps/ccu-ui/public/assets/svg/shopfloor/systems/bp-system.svg
  omf3/apps/ccu-ui/public/assets/svg/shopfloor/systems/factory-system.svg
  omf3/apps/ccu-ui/public/assets/svg/shopfloor/systems/warehouse-system.svg
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
Due: none

Fix TypeScript compilation error for missing version.ts (#101)
  omf3/apps/ccu-ui/src/environments/version.ts
  omf3/apps/ccu-ui/tsconfig.app.json
Due: none

Add service tests to increase coverage from 44% to 47% (#102)
  omf3/apps/ccu-ui/jest.config.ts
  omf3/apps/ccu-ui/src/app/services/__tests__/dsp-architecture-config.service.spec.ts
  omf3/apps/ccu-ui/src/app/services/__tests__/message-validation.service.spec.ts
  omf3/apps/ccu-ui/src/app/services/__tests__/shopfloor-mapping.service.spec.ts
  omf3/apps/ccu-ui/src/app/services/__tests__/workpiece-history.service.spec.ts
Due: none

Path conditions:
  black: any of: \.py$, but not: ^\.gitignore$
  ruff: any of: \.py$
  validate-mermaid-diagrams: any of: \.md$
  check-mqtt-connection-loop: any of: \.py$
