Repository OliverBerger-ORBIS/ORBIS-Modellfabrik: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: '^\.gitignore$'

# isort entfernt - verursacht Import-Probleme
      # - id: isort
      #   name: isort
      #   entry: isort
      #   language: system
      #   types: [python]

      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]

      - id: pytest-omf3
        name: pytest-omf3
        entry: npx nx test --all
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-project-structure
        name: validate-project-structure
        entry: python omf/scripts/validate_project_structure.py
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-dashboard-rules
        name: validate-dashboard-rules
        entry: python omf/scripts/validate_dashboard_rules.py --include-dashboard --loose
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-development-rules
        name: validate-development-rules
        entry: python omf/scripts/validate_development_rules.py
        language: system
        pass_filenames: false
        stages: [commit]

      # OMF2-specific validation removed - using omf3 now
      # - id: validate-i18n-compliance
      #   name: validate-i18n-compliance
      #   entry: python omf2/scripts/validate_i18n_compliance.py
      #   language: system
      #   pass_filenames: false
      #   stages: [commit]

      - id: validate-mermaid-diagrams
        name: validate-mermaid-diagrams
        entry: python tools/validate_mermaid_diagrams.py
        language: system
        files: \.md$
        pass_filenames: false
        stages: [commit]

      # OMF2-specific validation removed - using omf3 now
      # - id: check-st-rerun
      #   name: check-st-rerun
      #   entry: python omf2/scripts/check_st_rerun.py
      #   language: system
      #   types: [python]
      #   stages: [commit]
      #   pass_filenames: false

      - id: check-mqtt-connection-loop
        name: check-mqtt-connection-loop
        entry: python omf/scripts/check_mqtt_connection_loop.py
        language: system
        types: [python]
        stages: [commit]

      # OMF2-specific validation removed - using omf3 now
      # - id: validate-assets
      #   name: validate-assets
      #   entry: python omf2/scripts/validate_assets.py
      #   language: system
      #   files: (omf2/assets/|omf2/scripts/validate_assets\.py)
      #   pass_filenames: false
      #   stages: [commit]

docs: TXT-Controller Deployment - ROBO Pro Coding Workflow etabliert
  docs/03-decision-records/18-txt-controller-deployment.md
  docs/04-howto/txt-controller-deployment.md
  docs/06-integrations/ROBO_PRO_TROUBLESHOOTING.md
  docs/06-integrations/TXT-AIQS/README.md
  docs/06-integrations/TXT-SOURCE-ACCESS.md
  docs/PROJECT_STATUS.md
  docs/sprints/sprint_12.md
  docs/sprints/sprints_README.md
  integrations/TXT-AIQS/workspaces/FF_AI_24V/.project.json
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/.project.json
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/FF_AI_24V_mod.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/FF_AI_24V_mod.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/data/config.json
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/data/factsheet.json
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/File.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/File.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/camera.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/camera.xml
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/camera_publisher.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/camera_publisher.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/controller.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/controller.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/display.qml
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/display.xml
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/iw_log.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/iw_log.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/machine_learning.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/machine_learning.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/mqtt_utils.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/mqtt_utils.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/node_red.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/node_red.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/sorting_line.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/sorting_line.py
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/vda5050.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_mod/lib/vda5050.py
Due: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

docs: Projekt-Phasen-Abschlussbericht Sprints 1-12 und Stakeholder-Bericht Sprints 7-12
  docs/PROJECT_STATUS.md
  docs/sprints/projekt_phasen_abschlussbericht_sprints_01-12.md
  docs/sprints/stakeholder_report_sprints_07-12.md
  package.json
Due: validate-mermaid-diagrams

docs: Projekt-Phasenabschluss, sprint_13
  docs/PROJECT_STATUS.md
  docs/sprints/sprint_13.md
Due: validate-mermaid-diagrams

docs: Add GitHub Agents task description for app-resizing-optimization
  docs/04-howto/presentation/app-resizing-optimization-task.md
  docs/sprints/sprint_13.md
Due: validate-mermaid-diagrams

docs: Update OBS setup and add app-resizing analysis documentation
  docs/04-howto/presentation/app-resizing-optimization-analysis.md
  docs/04-howto/presentation/obs-video-presentation-setup.md
Due: validate-mermaid-diagrams

docs: Add app-resizing-optimization-analysis.md from main
  docs/04-howto/presentation/app-resizing-optimization-analysis.md
Due: validate-mermaid-diagrams

feat: Implement Option 4 for DSP architecture resizing and remove max-width constraints
  docs/04-howto/presentation/dsp-architecture-resizing-deep-analysis.md
  osf/apps/osf-ui/src/app/components/dsp-architecture/dsp-architecture.component.html
  osf/apps/osf-ui/src/app/components/dsp-architecture/dsp-architecture.component.scss
  osf/apps/osf-ui/src/app/components/dsp-architecture/dsp-architecture.component.ts
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-methodology/dsp-methodology.component.scss
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.scss
Due: validate-mermaid-diagrams

docs obs-video presentation
  docs/04-howto/presentation/obs-video-presentation-setup.md
  docs/sprints/sprint_13.md
  osf/apps/osf-ui/src/environments/version.ts
  package.json
  scripts/update-ui-version.js
Due: validate-mermaid-diagrams

fix(tests): Fix Quality Check Image tests
  docs/sprints/sprint_13.md
  integrations/TXT-AIQS/archives/FF_AI_24V_cam.ft
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam/lib/sorting_line.blockly
  integrations/TXT-AIQS/workspaces/FF_AI_24V_cam/lib/sorting_line.py
  osf/apps/osf-ui/src/app/services/connection.service.ts
  osf/apps/osf-ui/src/app/services/message-monitor.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/shopfloor-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.html
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  osf/libs/testing-fixtures/src/index.ts
  osf/libs/testing-fixtures/src/quality-check-fixtures.ts
  package.json
Due: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

Optimize DSP diagram layout for 1920x1080 video presentations (#112)
  .github/workflows/ci.yml
  .github/workflows/heading-icons-check.yml
  osf/apps/osf-ui/project.json
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.html
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.scss
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  osf/apps/osf-ui/src/app/pages/dsp/customer/shared/customer-page.styles.ts
  package-lock.json
Due: none

feat(release): Complete Angular App Resizing Optimization - v0.7.3
  docs/sprints/sprint_13.md
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: validate-mermaid-diagrams

docs icon-registry
  docs/TASK14_DOCUMENTATION_CLEANUP_INVENTORY.md
  docs/TASK14_DOCUMENTATION_CLEANUP_PLAN.md
  osf/apps/osf-ui/src/app/assets/icon-registry.ts
Due: validate-mermaid-diagrams

chore(release): version 0.7.4
  CHANGELOG.md
  docs/02-architecture/dsp-svg-inventory.md
  docs/sprints/sprint_13.md
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.html
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.scss
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  package.json
Due: validate-mermaid-diagrams

docs: assets/use-cases/uc-06
  docs/assets/uc-06-event-to-process-map.steps.json
  docs/assets/use-cases/uc-06/uc-06-event-to-process-map-DE.svg
  docs/assets/use-cases/uc-06/uc-06-event-to-process-map-EN.svg
  docs/sprints/sprint_13.md
Due: validate-mermaid-diagrams

docs: assets7use-cases
  docs/assets/use-cases/uc-01/UC-01-Track-Trace-Schema.png
  docs/assets/use-cases/uc-01/UC-01-Trrack-Trace-DE.png
  docs/assets/use-cases/uc-01/UC-01_Track_Trace-genealogy.md
  docs/assets/use-cases/uc-02/UC-02-3-Data-Pools-DE-v2.png
  docs/assets/use-cases/uc-02/UC-02_3-datentoepfe.md
  docs/assets/use-cases/uc-03/UC-03_AI-Lifecycle.md
  docs/assets/use-cases/uc-04/UC-04_Closed-Loop-Quality.md
  docs/assets/use-cases/uc-05/UC-05_Predictive-maintenance.md
  docs/assets/use-cases/uc-06/uc-06-event-to-process-map.steps.json
Due: validate-mermaid-diagrams

docs: use-cases/Uc-nn (3,4,5)
  docs/assets/use-cases/uc-03/UC-03-AI-Lifecycle-DE-v2-layered.png
  docs/assets/use-cases/uc-03/UC-03_AI-Lifecycle.md
  docs/assets/use-cases/uc-03/uc-03-ai-lifecycle-animation-steps.md
  docs/assets/use-cases/uc-03/uc-03-ai-lifecycle-spec.md
  docs/assets/use-cases/uc-04/UC-04-Closed-Loop.png
  docs/assets/use-cases/uc-04/UC-04_Closed-Loop-Quality.md
  docs/assets/use-cases/uc-05/UC-05-Predictive-Maintenance.png
  docs/assets/use-cases/uc-05/UC-05-SVG-Template-DE.png
  docs/assets/use-cases/uc-05/UC-05_Predictive-maintenance.md
Due: validate-mermaid-diagrams

docs: assets/use-cases AI-generated pngs as visual guideline
  docs/assets/use-cases/uc-01/UC-01-Track-Trace-DE.png
  docs/assets/use-cases/uc-01/UC-01-Track-Trace-EN.png
  docs/assets/use-cases/uc-03/UC-03-AI-Lifecycle-EN.png
  docs/assets/use-cases/uc-05/UC-05_Predictive-Maintenance_Var1-und-Var2.png
  docs/assets/use-cases/uc-06/UC-06-Interoperability-Business-first.png
  docs/assets/use-cases/uc-06/UC-06-Interoperability-Shopfloor-first.png
  docs/assets/use-cases/uc-06/UC-06-SVG-Template-DE.png
  docs/assets/use-cases/uc-06/UC-06-SVG-Template-EN.png
  docs/assets/use-cases/uc-06/uc-06-interoperability.md
Due: validate-mermaid-diagrams

docs: assets/aricles a1 - a4
  docs/assets/articles/a1-DE.md
  docs/assets/articles/a2-DE.md
  docs/assets/articles/a3-DE.md
  docs/assets/articles/a4-DE.md
Due: validate-mermaid-diagrams

docs abschluß sprint_13 start sprint_14
  docs/PROJECT_STATUS.md
  docs/sprints/sprint_13.md
  docs/sprints/sprint_14.md
Due: validate-mermaid-diagrams

feat(uc-06): Implement Interoperability Use Case with dynamic SVG generation
  docs/02-architecture/dsp-svg-inventory.md
  docs/PROJECT_STATUS.md
  docs/assets/use-cases/UC-DIAGRAM-IMPLEMENTATION-GUIDE.txt
  docs/assets/use-cases/UC-USE-CASE-SVG-STRUCTURE-PLAN.txt
  docs/assets/use-cases/uc-06/UC-06-IMPLEMENTATION-PLAN.md
  docs/assets/use-cases/uc-06/UC-06-IMPLEMENTATION-PLAN.txt
  docs/assets/use-cases/uc-06/UC-06-IMPLEMENTATION-STATUS.txt
  osf/apps/osf-ui/public/assets/svg/shopfloor/shared/customer.svg
  osf/apps/osf-ui/public/assets/svg/use-cases/uc-06-event-to-process-map-DE.svg
  osf/apps/osf-ui/public/assets/svg/use-cases/uc-06-event-to-process-map-EN.svg
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/app.routes.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/interoperability-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/interoperability-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/interoperability-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-06-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-06-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-06-svg-generator-enhanced.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-06-svg-generator.service.ts
  osf/apps/osf-ui/src/app/shared/icons/icon.registry.ts
  osf/apps/osf-ui/src/app/tabs/settings-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/settings-tab.component.ts
  osf/apps/osf-ui/src/assets/svg/shopfloor/shared/customer.svg
  osf/apps/osf-ui/src/assets/svg/shopfloor/shared/pressure-sensor.svg
  osf/apps/osf-ui/src/assets/svg/shopfloor/shared/temperature-sensor.svg
  osf/apps/osf-ui/src/assets/svg/shopfloor/shared/tuning-fork.svg
  osf/apps/osf-ui/src/assets/svg/shopfloor/shared/vibration-sensor.svg
  osf/apps/osf-ui/src/assets/svg/shopfloor/stations/mixer.svg
  osf/apps/osf-ui/src/assets/svg/use-cases/uc-06-event-to-process-map-DE.svg
  osf/apps/osf-ui/src/assets/svg/use-cases/uc-06-event-to-process-map-EN.svg
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
Due: validate-mermaid-diagrams

feat(uc-06): Step-Animation implementiert und Layout-Anpassungen
  docs/assets/use-cases/UC-DIAGRAM-IMPLEMENTATION-GUIDE.txt
  docs/assets/use-cases/uc-06/UC-06-IMPLEMENTATION-STATUS.txt
  osf/apps/osf-ui/public/assets/use-cases/uc-06/uc-06-event-to-process-map.steps.json
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/interoperability-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/interoperability-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/interoperability-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-06-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-06-svg-generator-enhanced.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-06-svg-generator.service.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
Due: none

feat(use-cases): Option 2 - Konsistenz DSP-Tab ↔ Direct-Access durch Wiederverwendung
  docs/sprints/sprint_14.md
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/app.routes.ts
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.html
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.scss
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/use-case-selector-page.component.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/settings-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/settings-tab.component.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
Due: validate-mermaid-diagrams

feat(uc-01): Implement Track & Trace Genealogy diagram with I18n support
  osf/apps/osf-ui/public/assets/use-cases/uc-01/uc-01-track-trace-genealogy.steps.json
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/app.routes.ts
  osf/apps/osf-ui/src/app/assets/_color-palette.scss
  osf/apps/osf-ui/src/app/assets/color-palette.ts
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases-section/dsp-use-cases-section.component.html
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-06-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/track-trace-genealogy-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/track-trace-genealogy-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/track-trace-genealogy-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/uc-01-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/uc-01-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/uc-01-svg-generator.service.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
Due: none

docs(uc-01): Rename .txt to .md and update documentation with ChatGPT analysis
  docs/assets/use-cases/uc-01/UC-01-COLOR-AND-ROUTING-PROPOSAL.md
  docs/assets/use-cases/uc-01/UC-01-IMPLEMENTATION-PROPOSAL.md
  docs/assets/use-cases/uc-01/UC-01-IMPROVEMENTS-CHECKLIST.md
  docs/assets/use-cases/uc-01/UC-01-STRUCTURE-PROPOSAL.md
  docs/assets/use-cases/uc-01/UC-01-TIMELINE-PLANNING.md
  docs/assets/use-cases/uc-01/UC-01_Track_Trace-genealogy.md
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/uc-01-structure.config.ts
Due: validate-mermaid-diagrams

chore(release): v0.7.5
  CHANGELOG.md
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.html
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.component.config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.functional.config.ts
  package.json
Due: validate-mermaid-diagrams

chore: bump version to v0.7.6
  .github/workflows/deploy.yml
  CHANGELOG.md
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.html
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.functional.config.ts
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: validate-mermaid-diagrams

fix(deploy): Trigger workflow on tags and extract version from tag
  .github/workflows/deploy.yml
Due: none

docs sprint_14 end, start sprint_15
  .github/workflows/deploy.yml
  docs/sprints/sprint_14.md
  docs/sprints/sprint_15.md
Due: validate-mermaid-diagrams

feat(docs): finalize UC-01 Track & Trace concept and assets
  .vscode/settings.json
  docs/README.md
  docs/assets/articles/a2-DE.md
  docs/assets/products/common/domain-model/ObjectMesh_ER_clean.drawio
  docs/assets/products/common/domain-model/ObjectMesh_ER_generated.drawio
  docs/assets/products/common/domain-model/ObjectMesh_ER_simplified.drawio
  docs/assets/products/common/domain-model/ObjectMesh_ER_simplified.png
  docs/assets/use-cases/UC-DIAGRAM-IMPLEMENTATION-GUIDE.md
  docs/assets/use-cases/UC-USE-CASE-SVG-STRUCTURE-PLAN.md
  docs/assets/use-cases/uc-01/Track-Trace_Concept_Partiture.png
  docs/assets/use-cases/uc-01/UC-01-TIMELINE-PLANNING.md
  docs/assets/use-cases/uc-01/UC-01_Track_Trace-genealogy.md
  docs/assets/use-cases/uc-01/diagrams/Track-Trace-Genealogy.drawio
  docs/assets/use-cases/uc-01/diagrams/Track-Trace_Concept_Partiture.drawio
  docs/assets/use-cases/uc-01/diagrams/archive/Track-Trace_Holistic_SinglePart_View.drawio
  docs/assets/use-cases/uc-01/diagrams/archive/Track-Trace_Holistic_SinglePart_View_consolidated.drawio
  docs/assets/use-cases/uc-01/diagrams/archive/Track-Trace_Soll-Ist_Timeline.drawio
  docs/assets/use-cases/uc-01/diagrams/archive/Track-Trace_Timeline_vertical_NFCThread_v1.drawio
  docs/assets/use-cases/uc-01/diagrams/archive/Track-Trace_Timeline_vertical_NFCThread_v2.drawio
  docs/assets/use-cases/uc-01/diagrams/archive/Track-Trace_Timeline_vertical_NFCThread_v3.drawio
  docs/assets/use-cases/uc-01/diagrams/archive/Track-Trace_WHITE_2Prozesse_Soll-Ist-Timeline.drawio
  docs/assets/use-cases/uc-01/diagrams/archive/Track-Trace_WHITE_2Prozesse_Soll-Ist_Timeline_v2.drawio
  docs/assets/use-cases/uc-01/diagrams/archive/Track-Trace_WHITE_Soll-Ist_Timeline_vertical.drawio
  docs/sprints/sprint_15.md
Due: validate-mermaid-diagrams

docs(uc-02): finalize concept and visuals for 3 Data Pools
  docs/assets/articles/a3-DE.md
  docs/assets/use-cases/uc-02/UC-02_3-Data-Pools_Architecture_Lanes.png
  docs/assets/use-cases/uc-02/UC-02_3-Data-Pools_Concept.png
  docs/assets/use-cases/uc-02/UC-02_3-datentoepfe.md
  docs/assets/use-cases/uc-02/diagrams/UC-02_3-Data-Pools_Architecture_Lanes.drawio
  docs/assets/use-cases/uc-02/diagrams/UC-02_3-Data-Pools_Concept.drawio
  docs/assets/use-cases/uc-02/diagrams/archive/UC-02-3-Data-Pools-DE-v2.png
  docs/assets/use-cases/uc-02/diagrams/archive/UC-02-3-Data-Pools-DE.png
  docs/assets/use-cases/uc-02/diagrams/archive/UC-02-3-Data-Pools-EN-v2.png
  docs/assets/use-cases/uc-02/diagrams/archive/UC-02-3-Data-Pools-EN.png
  docs/sprints/sprint_15.md
Due: validate-mermaid-diagrams

docs(uc-03): finalize visuals and archive old assets
  docs/assets/use-cases/uc-03/UC-03_AI-Lifecycle-EN.png
  docs/assets/use-cases/uc-03/diagrams/UC-03_AI-Lifecycle-EN.drawio
  docs/assets/use-cases/uc-03/diagrams/archive/UC-03-AI-Lifecycle-DE-v2-layered.png
  docs/assets/use-cases/uc-03/diagrams/archive/UC-03-AI-Lifecycle-EN.png
  docs/assets/use-cases/uc-03/uc-03-ai-lifecycle-spec.md
Due: validate-mermaid-diagrams

svg-diagramms from drawio for uc-02 and uc-03
  docs/assets/use-cases/uc-03/diagrams/UC-02_3-Data-Pools_Architecture_Lanes.drawio.svg
  docs/assets/use-cases/uc-03/diagrams/UC-02_3-Data-Pools_Concept.drawio.svg
  docs/assets/use-cases/uc-03/diagrams/UC-03_AI-Lifecycle-EN.drawio.svg
Due: none

docs: uc-05: add diagram for predictive maintenance (Drawio , svg)
  docs/assets/use-cases/uc-05/diagramms/UC-05_Predictive-Maintenance-DE.drawio
  docs/assets/use-cases/uc-05/diagramms/UC-05_Predictive-Maintenance-DE.drawio.svg
Due: none

feat(uc-02): Three Data Pools Use Case + Step-Animation + Layout-Fixes
  docs/assets/use-cases/uc-02/UC-02-ANALYSIS-AND-IMPLEMENTATION-PLAN.md
  docs/assets/use-cases/uc-02/UC-02-ARCHITECTURE-LANES-PLAN.md
  docs/assets/use-cases/uc-02/diagrams/UC-02_3-Data-Pools_Architecture_Lanes.drawio.svg
  docs/assets/use-cases/uc-02/diagrams/UC-02_3-Data-Pools_Concept.drawio.svg
  osf/apps/osf-ui/public/assets/use-cases/uc-02/uc-02-three-data-pools.steps.json
  osf/apps/osf-ui/src/app/app.routes.ts
  osf/apps/osf-ui/src/app/assets/_color-palette.scss
  osf/apps/osf-ui/src/app/assets/color-palette.ts
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/interoperability/uc-06-svg-generator.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/three-data-pools-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/three-data-pools-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/three-data-pools-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/uc-02-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/uc-02-structure-lanes.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/uc-02-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/uc-02-svg-generator-lanes.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/three-data-pools/uc-02-svg-generator.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/uc-01-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/uc-01-svg-generator.service.ts
  osf/apps/osf-ui/src/styles.scss
Due: validate-mermaid-diagrams

chore(uc-01): Track-Trace-Anpassungen, Locale + Version
  osf/apps/osf-ui/public/assets/use-cases/uc-01/uc-01-track-trace-genealogy.steps.json
  osf/apps/osf-ui/public/locale/messages.de.json
  osf/apps/osf-ui/public/locale/messages.fr.json
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/track-trace-genealogy-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/track-trace-genealogy-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/track-trace-genealogy-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/track-trace-genealogy/uc-01-i18n.service.ts
  osf/apps/osf-ui/src/environments/version.ts
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
Due: none

feat(uc-03): AI Lifecycle Use Case - Diagram, Animation, Shopfloor & DSP Lanes
  osf/apps/osf-ui/public/assets/use-cases/uc-03/uc-03-ai-lifecycle.steps.json
  osf/apps/osf-ui/src/app/app.routes.ts
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/ai-lifecycle-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/ai-lifecycle-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/ai-lifecycle-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/uc-03-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/uc-03-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/uc-03-svg-generator.service.ts
  osf/apps/osf-ui/src/styles.scss
Due: none

feat(uc-05): Predictive Maintenance Use Case mit 7-Step-Animation
  docs/02-architecture/dsp-svg-inventory.md
  docs/sprints/sprint_15.md
  osf/apps/osf-ui/public/assets/use-cases/uc-05/uc-05-predictive-maintenance.steps.json
  osf/apps/osf-ui/src/app/app.routes.ts
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/predictive-maintenance-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/predictive-maintenance-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/predictive-maintenance-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/uc-05-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/uc-05-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/uc-05-svg-generator.service.ts
  osf/apps/osf-ui/src/app/shared/icons/icon.registry.ts
  osf/apps/osf-ui/src/assets/svg/shopfloor/shared/alarm.svg
  osf/apps/osf-ui/src/assets/svg/shopfloor/shared/bell-alarm.svg
  osf/apps/osf-ui/src/assets/svg/shopfloor/shared/tilt-sensor.svg
  osf/apps/osf-ui/src/environments/version.ts
  osf/apps/osf-ui/src/styles.scss
Due: validate-mermaid-diagrams

feat(uc-04): Erste Version Closed Loop Quality – eigenständiges Template
  docs/sprints/sprint_15.md
  osf/apps/osf-ui/public/assets/use-cases/uc-04/uc-04-closed-loop-quality.steps.json
  osf/apps/osf-ui/src/app/app.routes.ts
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/closed-loop-quality-use-case.component.html
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/closed-loop-quality-use-case.component.scss
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/closed-loop-quality-use-case.component.ts
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/uc-04-i18n.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/uc-04-structure.config.ts
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/uc-04-svg-generator.service.ts
  osf/apps/osf-ui/src/styles.scss
Due: validate-mermaid-diagrams

chore(release): bump version to 0.7.7 and fix SVG paths for UC-04/UC-05
  CHANGELOG.md
  docs/assets/use-cases/uc-01/UC-01-Track-Trace_OSF.png
  docs/assets/use-cases/uc-02/UC-02_3-Data-Pools_Concept-OSF.png
  docs/assets/use-cases/uc-02/UC-02_3-Data-Pools_Lanes-OSF.png
  docs/assets/use-cases/uc-03/UC-03_AI-Lifecycle-OSF.png
  docs/assets/use-cases/uc-04/UC-04-Closed-Loop_OSF.png
  docs/assets/use-cases/uc-05/UC-05-Predictive-Maintenance_OSF.png
  docs/assets/use-cases/uc-06/UC-06-Interoperability-DE.png
  docs/assets/use-cases/uc-06/UC-06-Interoperability-EN.png
  osf/apps/osf-ui/src/app/pages/use-cases/ai-lifecycle/uc-03-svg-generator.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/closed-loop-quality/uc-04-svg-generator.service.ts
  osf/apps/osf-ui/src/app/pages/use-cases/predictive-maintenance/uc-05-svg-generator.service.ts
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: validate-mermaid-diagrams
