Repository OliverBerger-ORBIS/ORBIS-Modellfabrik: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: '^\.gitignore$'

# isort entfernt - verursacht Import-Probleme
      # - id: isort
      #   name: isort
      #   entry: isort
      #   language: system
      #   types: [python]

      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]

      - id: pytest-omf3
        name: pytest-omf3
        entry: npx nx test --all
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-project-structure
        name: validate-project-structure
        entry: python omf/scripts/validate_project_structure.py
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-dashboard-rules
        name: validate-dashboard-rules
        entry: python omf/scripts/validate_dashboard_rules.py --include-dashboard --loose
        language: system
        pass_filenames: false
        stages: [commit]

      - id: validate-development-rules
        name: validate-development-rules
        entry: python omf/scripts/validate_development_rules.py
        language: system
        pass_filenames: false
        stages: [commit]

      # OMF2-specific validation removed - using omf3 now
      # - id: validate-i18n-compliance
      #   name: validate-i18n-compliance
      #   entry: python omf2/scripts/validate_i18n_compliance.py
      #   language: system
      #   pass_filenames: false
      #   stages: [commit]

      - id: validate-mermaid-diagrams
        name: validate-mermaid-diagrams
        entry: python tools/validate_mermaid_diagrams.py
        language: system
        files: \.md$
        pass_filenames: false
        stages: [commit]

      # OMF2-specific validation removed - using omf3 now
      # - id: check-st-rerun
      #   name: check-st-rerun
      #   entry: python omf2/scripts/check_st_rerun.py
      #   language: system
      #   types: [python]
      #   stages: [commit]
      #   pass_filenames: false

      - id: check-mqtt-connection-loop
        name: check-mqtt-connection-loop
        entry: python omf/scripts/check_mqtt_connection_loop.py
        language: system
        types: [python]
        stages: [commit]

      # OMF2-specific validation removed - using omf3 now
      # - id: validate-assets
      #   name: validate-assets
      #   entry: python omf2/scripts/validate_assets.py
      #   language: system
      #   files: (omf2/assets/|omf2/scripts/validate_assets\.py)
      #   pass_filenames: false
      #   stages: [commit]

Fix GitHub Pages deployment path for localized Angular builds (#103)
  .github/workflows/deploy.yml
  omf3/apps/ccu-ui/src/environments/version.ts
Due: none

Fix GitHub Pages blank page by adding --baseHref to build command (#104)
  .github/workflows/deploy.yml
Due: none

Update DSP logo to orbis-dsp-logo.svg and optimize shopfloor display
  omf3/apps/ccu-ui/public/assets/svg/brand/orbis-dsp-logo.svg
  omf3/apps/ccu-ui/public/assets/svg/brand/orbis-dsp-logo_2.svg
  omf3/apps/ccu-ui/src/app/assets/icon-registry.ts
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.html
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/apps/ccu-ui/src/app/shared/icons/icon.registry.ts
  omf3/apps/ccu-ui/src/assets/svg/brand/orbis-dsp-logo.svg
  omf3/apps/ccu-ui/src/assets/svg/brand/orbis-dsp-logo_2.svg
  omf3/libs/testing-fixtures/src/index.ts
Due: none

fix: Correct device mappings and label formatting in DSP animation
  omf3/apps/ccu-ui/src/app/assets/icon-registry.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/README.md
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/SVG_GUIDE.md
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/def/def-config.spec.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/def/def-config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/fmf/fmf-config.spec.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/fmf/fmf-config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.builder.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.functional.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.shared.config.spec.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.shared.config.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture-functional-section/dsp-architecture-functional-section.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture-functional-section/dsp-architecture-functional-section.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/customer/def/def-dsp-page.component.spec.ts
  omf3/apps/ccu-ui/src/app/shared/icons/icon.registry.ts
  omf3/apps/ccu-ui/src/assets/svg/business/data-lake-application.svg
Due: validate-mermaid-diagrams

Refactor DSP animation to support multiple customer configurations with dynamic container creation (#105)
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/assets/icon-registry.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/README.md
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/SVG_GUIDE.md
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/def/def-config.spec.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/def/def-config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/fmf/fmf-config.spec.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/fmf/fmf-config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/types.spec.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/types.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.builder.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.component.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.deployment.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.functional.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.shared.config.spec.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.shared.config.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture-functional-section/dsp-architecture-functional-section.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture-functional-section/dsp-architecture-functional-section.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/customer/def/def-dsp-page.component.spec.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/customer/def/def-dsp-page.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/customer/fmf/fmf-dsp-page.component.spec.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/customer/fmf/fmf-dsp-page.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/customer/shared/customer-page.styles.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/customer/shared/view-modes.const.ts
  omf3/apps/ccu-ui/src/app/shared/icons/icon.registry.ts
  omf3/apps/ccu-ui/src/assets/svg/business/data-lake-application.svg
Due: validate-mermaid-diagrams

refactor: rename refactor-demo to dsp-animation for clarity
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/fmf/fmf-config.spec.ts
  omf3/apps/ccu-ui/src/app/pages/dsp-animation/__tests__/dsp-architecture.component.spec.ts
  omf3/apps/ccu-ui/src/app/pages/dsp-animation/dsp-architecture.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp-animation/dsp-architecture.component.scss
  omf3/apps/ccu-ui/src/app/pages/dsp-animation/dsp-architecture.component.ts
Due: none

feat: Add ECME customer config, new SVG icons, and documentation
  CHANGELOG.md
  docs/03-decision-records/15-semver-versioning.md
  docs/04-howto/versioning.md
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/assets/icon-registry.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/HOWTO_ADD_CUSTOMER.md
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/README.md
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/def/def-config.spec.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/def/def-config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/ecme/ecme-config.spec.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/ecme/ecme-config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/types.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/dsp-animation.component.label-wrapping.spec.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/customer/ecme/ecme-dsp-page.component.spec.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/customer/ecme/ecme-dsp-page.component.ts
  omf3/apps/ccu-ui/src/app/shared/icons/icon.registry.ts
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/stations/cnc-station.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/stations/destillation-station.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/stations/hydraulic-station.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/stations/laser-station.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/stations/printer-3d-station.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/stations/pump-station.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/stations/robotic-arm-station.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/stations/weight-station.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/systems/assembly-line-system.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/systems/cargo-system.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/systems/industrial-process-system.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/systems/mass-production-system.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/systems/pump-system.svg
  omf3/apps/ccu-ui/src/assets/svg/shopfloor/systems/scada-system.svg
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
Due: validate-mermaid-diagrams

feat(release): 0.4.0
  package-lock.json
  package.json
Due: none

fix(i18n): Fix German translations for FTS and DSP tabs
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/apps/ccu-ui/src/app/pages/dsp/dsp-page.component.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/module-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/fts-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/fts-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
Due: none

feat(module-tab): Add sequence commands feature for DRILL, MILL, and AIQS modules
  CHANGELOG.md
  data/omf-data/AIQS-Sequence.json
  data/omf-data/MILL-Sequence.json
  omf3/apps/ccu-ui/public/assets/svg/shopfloor/shared/fts-vehicle.svg
  omf3/apps/ccu-ui/public/data/omf-data/AIQS-Sequence.json
  omf3/apps/ccu-ui/public/data/omf-data/DRILL-Sequence.json
  omf3/apps/ccu-ui/public/data/omf-data/MILL-Sequence.json
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/apps/ccu-ui/src/app/tabs/__tests__/module-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
Due: validate-mermaid-diagrams

chore(scripts): Add Windows helper scripts for npm/Node.js setup
  CHANGELOG.md
  docs_orbis/how-to-use-npm.md
  scripts/add-node-to-user-path.ps1
  scripts/run-omf3.bat
  scripts/run-omf3.ps1
Due: validate-mermaid-diagrams

docs(dsp): Add visual SVG diagram for DSP Architecture Step 19
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/DSP_Architecture_Objects_Reference.md
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/HOWTO_ADD_CUSTOMER.md
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/assets/dsp-architecture-step19-diagram.svg
Due: validate-mermaid-diagrams

docs: cursor-agent-structure and analysis
  docs/04-howto/presentation/obs-video-presentation-setup.md
  docs/PROJECT_STATUS.md
Due: validate-mermaid-diagrams

Add DPS and AIQS monitoring tabs with MQTT integration and fixture support (#106)
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/aiqs-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/dps-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/aiqs-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/aiqs-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/aiqs-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/dps-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/dps-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/dps-tab.component.ts
Due: none

chore: Update DSP use-cases component styles
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.scss
Due: none

docs: Add AIQS camera data analysis findings and task #16
  docs/PROJECT_STATUS.md
Due: validate-mermaid-diagrams

Add HBW, DRILL, and MILL monitoring tabs for OMF3 with Module tab integration, command history, and replay/live mode support (#107)
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/drill-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/hbw-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/mill-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/aiqs-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/aiqs-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/drill-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/drill-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/drill-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/hbw-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/hbw-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/hbw-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/mill-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/mill-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/mill-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/libs/testing-fixtures/src/index.ts
  omf3/libs/testing-fixtures/src/module-action-history-fixtures.ts
Due: none

feat(module-tab): Integrate DPS/AIQS/HBW/DRILL/MILL module-specific data
  docs/PLAN_MODULE_TAB_UNIFICATION.md
  docs/PROJECT_STATUS.md
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.scss
  omf3/apps/ccu-ui/src/app/tabs/__tests__/configuration-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
Due: validate-mermaid-diagrams

feat(module-tab): HBW Stock Grid, Default-Auswahl und Status-Synchronisation
  .cursorignore
  .vscode/settings.json
  docs/PROJECT_STATUS.md
  omf3/apps/ccu-ui/src/app/components/hbw-stock-grid/__tests__/hbw-stock-grid.component.spec.ts
  omf3/apps/ccu-ui/src/app/components/hbw-stock-grid/hbw-stock-grid.component.html
  omf3/apps/ccu-ui/src/app/components/hbw-stock-grid/hbw-stock-grid.component.scss
  omf3/apps/ccu-ui/src/app/components/hbw-stock-grid/hbw-stock-grid.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture-functional-section/dsp-architecture-functional-section.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture-functional-section/dsp-architecture-functional-section.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.scss
  omf3/apps/ccu-ui/src/app/tabs/__tests__/module-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
Due: validate-mermaid-diagrams

feat(shopfloor): Task 3 & 4 abgeschlossen - HBW Lageransicht und Shopfloor-Benennung
  docs/PROJECT_STATUS.md
  omf3/apps/ccu-ui/public/assets/svg/dsp/extra/database.svg
  omf3/apps/ccu-ui/public/assets/svg/dsp/extra/digital-twin.svg
  omf3/apps/ccu-ui/public/assets/svg/dsp/functions/edge-digital-twin.svg
  omf3/apps/ccu-ui/public/assets/svg/dsp/methodology/phase1-data-foundation.svg
  omf3/apps/ccu-ui/public/assets/svg/dsp/methodology/phase2-data-integration.svg
  omf3/apps/ccu-ui/public/assets/svg/dsp/methodology/phase3-advanced-analytics.svg
  omf3/apps/ccu-ui/public/assets/svg/dsp/methodology/phase4-automation-orchestration.svg
  omf3/apps/ccu-ui/public/assets/svg/dsp/use-cases/use-case-track-trace.svg
  omf3/apps/ccu-ui/public/assets/svg/shopfloor/systems/agv-system.svg
  omf3/apps/ccu-ui/public/assets/svg/ui/heading-modules.svg
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/module-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/assets/svg/dsp/extra/digital-twin.svg
  omf3/apps/ccu-ui/src/assets/svg/dsp/functions/edge-digital-twin.svg
  omf3/apps/ccu-ui/src/assets/svg/ui/heading-modules-1.svg
  omf3/apps/ccu-ui/src/assets/svg/ui/heading-modules.svg
Due: validate-mermaid-diagrams

feat: Task 5 & 6 - Configuration/Module-Tab Layout, HBW Stock-Grid Optimierung, Shopfloor Highlighting
  TASK5_PLAN.md
  docs/PROJECT_STATUS.md
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/apps/ccu-ui/src/app/components/hbw-stock-grid/__tests__/hbw-stock-grid.component.spec.ts
  omf3/apps/ccu-ui/src/app/components/hbw-stock-grid/hbw-stock-grid.component.html
  omf3/apps/ccu-ui/src/app/components/hbw-stock-grid/hbw-stock-grid.component.scss
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.scss
  omf3/apps/ccu-ui/src/app/tabs/__tests__/module-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/fts-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/fts-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.scss
  omf3/apps/ccu-ui/src/locale/messages.de.json
Due: validate-mermaid-diagrams

feat: Add central customer selector page for DSP architecture
  .vscode/settings.json
  docs/03-decision-records/15-direct-access-pages.md
  docs/PROJECT_STATUS.md
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/src/app/app.routes.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/HOWTO_ADD_CUSTOMER.md
  omf3/apps/ccu-ui/src/app/components/dsp-animation/configs/SVG_GUIDE.md
  omf3/apps/ccu-ui/src/app/components/dsp-animation/dsp-animation.component.html
  omf3/apps/ccu-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.functional.config.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture-functional-section/dsp-architecture-functional-section.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture-functional-section/dsp-architecture-functional-section.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-use-cases/dsp-use-cases.component.scss
  omf3/apps/ccu-ui/src/app/pages/dsp/customer/customer-selector-page.component.spec.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/customer/customer-selector-page.component.ts
  omf3/apps/ccu-ui/src/app/tabs/settings-tab.component.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
Due: validate-mermaid-diagrams

feat(process-tab): Improve accordion structure with collapsible sections and i18n
  docs/PROJECT_STATUS.md
  omf3/apps/ccu-ui/src/app/app.component.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/process-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/settings-tab.component.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
Due: validate-mermaid-diagrams

feat(order-tab): Keep auto-expand for storage orders only
  docs/PROJECT_STATUS.md
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/order-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/order-tab.component.ts
Due: validate-mermaid-diagrams

feat(track-trace): Erweiterte Track-Trace Features mit ERP-Integration
  CHANGELOG.md
  docs/03-decision-records/12-track-trace-architecture.md
  docs/PROJECT_STATUS.md
  omf3/apps/ccu-ui/public/locale/messages.de.json
  omf3/apps/ccu-ui/public/locale/messages.fr.json
  omf3/apps/ccu-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.component.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.deployment.config.ts
  omf3/apps/ccu-ui/src/app/components/dsp-animation/layout.shared.config.ts
  omf3/apps/ccu-ui/src/app/components/erp-info-box/erp-info-box.component.html
  omf3/apps/ccu-ui/src/app/components/erp-info-box/erp-info-box.component.scss
  omf3/apps/ccu-ui/src/app/components/erp-info-box/erp-info-box.component.ts
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.html
  omf3/apps/ccu-ui/src/app/components/order-card/order-card.component.scss
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.scss
  omf3/apps/ccu-ui/src/app/components/shopfloor-preview/shopfloor-preview.component.ts
  omf3/apps/ccu-ui/src/app/components/track-trace/track-trace.component.html
  omf3/apps/ccu-ui/src/app/components/track-trace/track-trace.component.scss
  omf3/apps/ccu-ui/src/app/components/track-trace/track-trace.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture-component-section/dsp-architecture-component-section.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture-component-section/dsp-architecture-component-section.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture-deployment-section/dsp-architecture-deployment-section.component.html
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture-deployment-section/dsp-architecture-deployment-section.component.ts
  omf3/apps/ccu-ui/src/app/pages/dsp/components/dsp-architecture-functional-section/dsp-architecture-functional-section.component.ts
  omf3/apps/ccu-ui/src/app/services/__tests__/erp-order-data.service.spec.ts
  omf3/apps/ccu-ui/src/app/services/__tests__/external-links.service.spec.ts
  omf3/apps/ccu-ui/src/app/services/__tests__/workpiece-history.service.spec.ts
  omf3/apps/ccu-ui/src/app/services/erp-order-data.service.ts
  omf3/apps/ccu-ui/src/app/services/external-links.service.ts
  omf3/apps/ccu-ui/src/app/services/workpiece-history.service.ts
  omf3/apps/ccu-ui/src/app/shared/icons/icon.registry.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/configuration-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/__tests__/settings-tab.component.spec.ts
  omf3/apps/ccu-ui/src/app/tabs/configuration-tab.component.scss
  omf3/apps/ccu-ui/src/app/tabs/module-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.html
  omf3/apps/ccu-ui/src/app/tabs/process-tab.component.ts
  omf3/apps/ccu-ui/src/app/tabs/settings-tab.component.ts
  omf3/apps/ccu-ui/src/locale/messages.de.json
  omf3/apps/ccu-ui/src/locale/messages.fr.json
Due: validate-mermaid-diagrams

chore(release): Bump version to 0.5.0
  CHANGELOG.md
  docs/PLAN_OSF_REBRANDING.md
  docs/PROJECT_STATUS.md
  package.json
Due: validate-mermaid-diagrams

chore: Remove old ccu-ui directory remnants
  omf3/apps/ccu-ui/src/app/services/__tests__/workpiece-history.service.spec.ts
  omf3/apps/ccu-ui/src/app/services/workpiece-history.service.ts
Due: none

chore(release): Bump version to 0.5.1
  CHANGELOG.md
  docs/ANALYSIS_OVERVIEW_TAB.md
  docs/PROJECT_STATUS.md
  osf/apps/osf-ui/src/app/__tests__/agv-view.component.spec.ts
  osf/apps/osf-ui/src/app/__tests__/mock-dashboard.spec.ts
  osf/apps/osf-ui/src/app/__tests__/orders-view.component.spec.ts
  osf/apps/osf-ui/src/app/agv-view.component.ts
  osf/apps/osf-ui/src/app/app.component.html
  osf/apps/osf-ui/src/app/app.component.scss
  osf/apps/osf-ui/src/app/app.component.spec.ts
  osf/apps/osf-ui/src/app/app.component.ts
  osf/apps/osf-ui/src/app/app.routes.ts
  osf/apps/osf-ui/src/app/components/hbw-stock-grid/hbw-stock-grid.component.ts
  osf/apps/osf-ui/src/app/fts-view.component.scss
  osf/apps/osf-ui/src/app/orders-view.component.scss
  osf/apps/osf-ui/src/app/orders-view.component.ts
  osf/apps/osf-ui/src/app/services/__tests__/language.service.spec.ts
  osf/apps/osf-ui/src/app/services/language.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/overview-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/overview-tab.integration.spec.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/tab-stream-pattern.spec.ts
  osf/apps/osf-ui/src/app/tabs/overview-tab.component.html
  osf/apps/osf-ui/src/app/tabs/overview-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/overview-tab.component.ts
  osf/apps/osf-ui/src/app/tabs/process-tab.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  osf/apps/osf-ui/src/index.html
  osf/apps/osf-ui/src/main.ts
  osf/libs/testing-fixtures/README.md
  osf/libs/testing-fixtures/src/tab-fixtures.ts
  package.json
Due: validate-mermaid-diagrams

chore: bump version to 0.5.2 - OSF Rebranding (Task 13) completed
  CHANGELOG.md
  docs/02-architecture/README.md
  docs/02-architecture/project-structure.md
  docs/PLAN_OSF_REBRANDING.md
  docs/PROJECT_STATUS.md
  docs/TASK13_PLAN_VS_STATUS.md
  docs/TASK13_STATUS_CHECK.md
  osf/apps/osf-ui/src/app/__tests__/mock-dashboard.spec.ts
  osf/apps/osf-ui/src/app/app.component.ts
  osf/apps/osf-ui/src/app/app.routes.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/DSP_Architecture_Objects_Reference.md
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.shared.config.ts
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-architecture-component-section/dsp-architecture-component-section.component.ts
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-architecture-deployment-section/dsp-architecture-deployment-section.component.ts
  osf/apps/osf-ui/src/app/pages/dsp/components/dsp-architecture-functional-section/dsp-architecture-functional-section.component.ts
  osf/apps/osf-ui/src/app/tabs/EXAMPLE-TAB-FIXTURES.md
  osf/apps/osf-ui/src/app/tabs/__tests__/shopfloor-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/tab-stream-pattern.spec.ts
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.html
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/shopfloor-tab.component.ts
  osf/apps/osf-ui/src/environments/version.ts
  package.json
Due: validate-mermaid-diagrams

docs: Task 14 Teil 1 abgeschlossen - DSP-Architektur-Dokumentation und SVG-Inventory
  README.md
  TASK5_PLAN.md
  docs/02-architecture/README.md
  docs/02-architecture/dsp-svg-inventory.md
  docs/07-analysis/shopfloor-layout-refactoring-plan.md
  docs/ANALYSIS_OVERVIEW_TAB.md
  docs/PLAN_MODULE_TAB_UNIFICATION.md
  docs/PLAN_OSF_REBRANDING.md
  docs/PROJECT_STATUS.md
  docs/TASK13_PLAN_VS_STATUS.md
  docs/TASK13_STATUS_CHECK.md
  docs/TASK14_DOCUMENTATION_CLEANUP_INVENTORY.md
  docs/TASK14_DOCUMENTATION_CLEANUP_PLAN.md
  docs/analysis/README.md
  docs/analysis/code-optimization-test-coverage-plan-status.md
  docs/analysis/code-optimization-test-coverage-plan.md
  docs/analysis/documentation-importance-analysis.md
  docs/analysis/examples-status-analysis.md
  docs/analysis/fts-integration-plan.md
  docs/svg-inventory.html
  docs/svg-inventory.md
  osf/apps/osf-ui/src/app/assets/icon-registry.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/DSP_Architecture_Objects_Reference.md
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/HOWTO_ADD_CUSTOMER.md
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/assets/dsp-architecture-component-view.svg
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/assets/dsp-architecture-deployment-view.svg
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/assets/dsp-architecture-edge-mc-functions.svg
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/assets/dsp-architecture-functional-view.svg
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/assets/dsp-architecture-step19-diagram.svg
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/ecme/ecme-config.spec.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/ecme/ecme-config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/fmf/fmf-config.spec.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/fmf/fmf-config.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/types.spec.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/configs/types.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.label-wrapping.spec.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/dsp-animation.component.ts
  osf/apps/osf-ui/src/app/components/dsp-animation/layout.shared.config.ts
  scripts/generate-dsp-svg-diagrams.ts
  scripts/generate-svg-inventory.js
Due: validate-mermaid-diagrams

docs: erster Test von obs-video-presentation
  docs/04-howto/presentation/obs-video-presentation-setup.md
Due: validate-mermaid-diagrams

docs(obs): Szenenstruktur Naming & Operator-Playbook überarbeitet
  docs/04-howto/presentation/obs-video-presentation-setup.md
  docs/04-howto/presentation/placeholder-camera.png
  hold-slate.html
  scripts/run-osf.bat
  scripts/run-osf.ps1
Due: validate-mermaid-diagrams

fix(tests): resolve HTTP mock conflicts in module-hardware service tests
  CHANGELOG.md
  docs/06-integrations/00-REFERENCE/hardware-architecture.md
  docs/PROJECT_STATUS.md
  osf/apps/osf-ui/public/shopfloor/modules_hardware.json
  osf/apps/osf-ui/src/app/assets/icon-registry.ts
  osf/apps/osf-ui/src/app/components/shopfloor-preview/module-hardware.types.ts
  osf/apps/osf-ui/src/app/services/__tests__/module-hardware.service.spec.ts
  osf/apps/osf-ui/src/app/services/module-hardware.service.ts
  osf/apps/osf-ui/src/app/tabs/__tests__/configuration-tab.component.spec.ts
  osf/apps/osf-ui/src/app/tabs/configuration-detail.types.ts
  osf/apps/osf-ui/src/app/tabs/configuration-tab.component.html
  osf/apps/osf-ui/src/app/tabs/configuration-tab.component.scss
  osf/apps/osf-ui/src/app/tabs/configuration-tab.component.ts
  osf/apps/osf-ui/src/assets/svg/shopfloor/stations/opc-ua-server.svg
  osf/apps/osf-ui/src/assets/svg/shopfloor/stations/txt-controller.svg
  osf/apps/osf-ui/src/locale/messages.de.json
  osf/apps/osf-ui/src/locale/messages.fr.json
  package.json
Due: validate-mermaid-diagrams

docs: Task 14 abgeschlossen, Task 15/21 aktualisiert, OMF3→OSF Referenzen bereinigt
  docs/04-howto/deployment/github-pages-deployment.md
  docs/04-howto/testing/integration-testing-workflow.md
  docs/04-howto/versioning.md
  docs/06-integrations/TXT-AIQS/README.md
  docs/06-integrations/TXT-SOURCE-ACCESS.md
  docs/06-integrations/WEBSOCKET_CONNECTION_TROUBLESHOOTING.md
  docs/06-integrations/metrics-service-node-ts.md
  docs/07-analysis/publish-buttons-analysis.md
  docs/07-analysis/publish-buttons-tests-summary.md
  docs/PROJECT_STATUS.md
  docs/analysis/README.md
  docs/analysis/build-commands-guide.md
  docs/deployment-alternatives.md
  docs/registry/business_functions.md
  docs/registry/sensors_display.md
  scripts/README-replay.md
  scripts/aggregate_module_statistics.py
  scripts/build_order_fixtures.py
  scripts/check_heading_svgs.py
  scripts/check_heading_svgs_osf.py
  scripts/run-osf.ps1
  scripts/serve-local.bat
  scripts/serve-local.sh
  tools/test_auto_refresh.py
Due: black, ruff, validate-mermaid-diagrams, check-mqtt-connection-loop

docs: PROject-Status und sprint doku sprint_9-11 u sprint_aktuell
  docs/PROJECT_STATUS.md
  docs/sprints/sprint_09.md
  docs/sprints/sprint_10.md
  docs/sprints/sprint_11.md
  docs/sprints/sprint_aktuell.md
Due: validate-mermaid-diagrams
